<div id="desktop-warning">
  <p>The Climate Explorer is optimized for desktop use. Please visit the site on a desktop computer.</p>
</div>

<!-- START candidates for minification -->
<script type="text/javascript" src="/resources/vendor/lodash.js"></script>
<script type="text/javascript" src="/resources/vendor/formstone/core.js"></script>
<script type="text/javascript" src="/resources/vendor/formstone/mediaquery.js"></script>
<script type="text/javascript" src="/resources/vendor/formstone/touch.js"></script>
<script type="text/javascript" src="/resources/vendor/formstone/scrollbar.js"></script>
<script type="text/javascript" src="/resources/vendor/formstone/dropdown.js"></script>
<script type="text/javascript" src="/resources/vendor/formstone/equalize.js"></script>
<script type="text/javascript" src="/resources/vendor/formstone/swap.js"></script>
<script type="text/javascript" src="/resources/vendor/lc_switch.min.js"></script>
<script type="text/javascript" src="/resources/vendor/jquery.cycle2.min.js"></script>
<script type="text/javascript" src="/resources/vendor/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="/resources/vendor/jquery.waypoints.sticky.min.js"></script>
<script type="text/javascript" src="/resources/vendor/split-pane.min.js"></script>
<script type="text/javascript" src="/resources/vendor/download.js"></script>
<script type="text/javascript" src="/resources/vendor/jquery.hoverintent.min.js"></script>
<script type="text/javascript" src="/resources/vendor/sweetalert.min.js"></script>
<script type="text/javascript" src="/resources/vendor/tether.js"></script>
<script type="text/javascript" src="/resources/vendor/shepherd.min.js"></script>
<script type="text/javascript" src="/resources/vendor/formmapper.js"></script>
<!-- END candidates for minification -->

<script type="text/javascript" src="/resources/vendor/climate-widget-graph/climate-widget-graph.js"></script>

<script type="text/javascript" src="/resources/js/main.js"></script>

<script type="text/javascript" src="/resources/js/global_functions.js"></script>
<script type="text/javascript" src="/resources/vendor/tidal/tidalstationswidget.js"></script>


<script>
  $(document).ready(function () {
    window.app = new App('/resources/data/');
  });
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119744751-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119744751-1');
</script>
