<!-- BEGIN HEADER TEMPLATE -->

<header id="main-header">
    <span class="topnav" id="main-nav">
        <a href="https://toolkit.climate.gov" id="header-logo" title="U.S. Climate Resilience Toolkit"><img src="/resources/img/us-climate-resilience-toolkit.png" alt="U.S. Climate Resilience Toolkit"></a>

        <a href="#" id="nav-trigger" class="nav-btn launch-nav"><span class="hamburger"><span class="bar"></span></span><span class="text menu-text">Menu</span></a>

        <span id="breadcrumb">
          <a href="/"><i class="material-icons">home</i> Home</a><span class="current"></span>
        </span>

        <button class="nav-pages-icon" id="expand-topnav-btn">
          <i class="material-icons more-horiz">more_horiz</i>
        </button>

        <span class="nav-pages">
          <a href="/" id="home-nav"><span class="text">Home</span><span class="spacer-bars">|</span></a>
          <a href="/about/"><span class="text">About</span><span class="spacer-bars">|</span></a>
          <a href="/definitions/"><span class="text">Definitions</span><span class="spacer-bars">|</span></a>
          <a href="/faq/"><span class="text">FAQ</span><span class="spacer-bars">|</span></a>
          <a href="/credits/"><span class="text">Credits</span><span class="spacer-bars">|</span></a>
          <a href="#" id="tour-this-page"><span class="text">Tour This Page</span><span class="spacer-bars">|</span></a>
          <a href="mailto:noaa.toolkit@noaa.gov?Subject=Feedback" target="_top" id="feedback-link" rel="feedback" title="Feedback"><i class="material-icons">feedback</i></a>
        </span>

    </span>
</header>

{{> mainnav }}

<!-- END HEADER TEMPLATE -->
