<!-- BEGIN HEADER TEMPLATE -->

<header id="main-header">
    <div class="topnav" id="main-nav">
        <a href="https://toolkit.climate.gov" id="header-logo" title="U.S. Climate Resilience Toolkit"><img src="/resources/img/us-climate-resilience-toolkit.png" alt="U.S. Climate Resilience Toolkit"></a>

        <!--<a href="#" id="nav-trigger" class="nav-btn launch-nav"><span class="hamburger"><span class="bar"></span></span><span class="text">Menu</span></a>-->

        <a href="/" id="home-nav"><span class="text">Home</span><span class="spacer-bars">|</span></a>
        <a href="/about/"><span class="text">About</span><span class="spacer-bars">|</span></a>
        <a href="/definitions/"><span class="text">Definitions</span><span class="spacer-bars">|</span></a>
        <a href="/faq/"><span class="text">FAQ</span><span class="spacer-bars">|</span></a>
        <a href="/credits/"><span class="text">Credits</span><span class="spacer-bars">|</span></a>
        <a href="#" id="tour-this-page"><span class="text">Tour This Page</span></a>
        <a href="javascript:void(0);" class="icon" onclick="responsiveNavbar()">
          <span class="hamburger-right"><span class="bar-right"></span></span>
        </a>

        <!--<div id="breadcrumb">-->
            <!--<a href="/"><span class="icon icon-arrow-up"></span>Home</a><span class="current"></span>-->
        <!--</div>-->
    </div>
</header>

{{> mainnav }}

<!-- END HEADER TEMPLATE -->
