<!-- BEGIN HEADER TEMPLATE -->

<header id="main-header" class="flex-container  padding-default width-100 ">
    <span class="topnav d-flex-left d-flex-nowrap width-100" id="main-nav">
        <a href="https://toolkit.climate.gov" class="main-logo padding-horrizontal  d-flex-left" title="U.S. Climate Resilience Toolkit"><img src="/resources/img/crt-logo.png" alt="U.S. Climate Resilience Toolkit"></a>

        <div class="main-font-title float-left d-flex-nowrap padding-horrizontal">
          The Climate Explorer
        </div>
    </span>
</header>


<!-- END HEADER TEMPLATE -->
