<!-- BEGIN NAV FOOOTER TEMPLATE -->

<div id="nav-footer" class="d-flex-row padding-horrizontal padding-bottom d-flex d-flex-left width-100">
  <div class="flex-container-nowrap flex-justify padding-horrizontal width-100">

    <!-- home  -->
    <div class="d-flex-row nav-footer-row-1">
      <div class="padding-horrizontal d-flex-column">
        <div class="d-flex-center d-flex-row padding-horrizontal nav-footer-area-title" >
        </div>
        <div class="padding-horrizontal d-flex-bottom d-flex-row nav-footer-items">
          <div class="d-flex d-flex-bottom d-flex-column nav-footer-item-selected">
            <div class="nav-footer-icon">
              <i class="fas fa-home"></i>
            </div>
            <div class="nav-footer-labels-selected">
              Home
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- county based  -->
    <div class="d-flex-row nav-footer-row-2">
      <div class="padding-horrizontal d-flex-fill d-flex-column">
        <div class="d-flex-center d-flex-row d-flex-fill padding-horrizontal nav-footer-area-title" >
          <span class="nav-footer-area-line"></span>
          <span class="">Region Based</span>
          <span class="nav-footer-area-line"></span>
        </div>
        <div class="padding-horrizontal d-flex-fill d-flex-row nav-footer-items">
          <div class="d-flex d-flex-bottom padding-horrizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <span class="stateface stateface-us"></span>
            </div>
            <div class="nav-footer-label">
              National Climate Maps
            </div>
            <div class="nav-footer-label-smallscreen">
              National Maps
            </div>
          </div>
          <div class="d-flex d-flex-bottom padding-horrizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <i class="fas fa-chart-line"></i>
            </div>
            <div class="nav-footer-label">
              Local Climate Charts
            </div>
            <div class="nav-footer-label-smallscreen">
              Local Charts
            </div>
          </div>
          <div class="d-flex d-flex-bottom padding-horrizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <i class="fas fa-map-marked-alt"></i>
            </div>
            <div class="nav-footer-label">
              Local Climate Maps
            </div>
            <div class="nav-footer-label-smallscreen">
              Local Maps
            </div>
          </div>
        </div>
      </div>

      <!-- Station based  -->
      <div class="padding-horrizontal d-flex-fill d-flex-column">
        <div class="d-flex-center d-flex-row d-flex-fill padding-horrizontal nav-footer-area-title" >
          <span class="nav-footer-area-line"></span>
          <span class="">Station Based</span>
          <span class="nav-footer-area-line"></span>
        </div>
        <div class="padding-horrizontal d-flex-fill d-flex-row nav-footer-items">
          <div class="d-flex d-flex-bottom padding-horrizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <i class="fas fa-chart-area"></i>
            </div>
            <div class="nav-footer-label">
              Historical Weather Data
            </div>
            <div class="nav-footer-label-smallscreen">
              Historical Data
            </div>
          </div>
          <div class="d-flex d-flex-bottom padding-horrizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <i class="fas fa-chart-bar"></i>
            </div>
            <div class="nav-footer-label">
              Historical Thresholds
            </div>
            <div class="nav-footer-label-smallscreen">
              Historical Thresholds
            </div>
          </div>
          <div class="d-flex d-flex-bottom padding-horrizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <i class="fas fa-water"></i>
            </div>
            <div class="nav-footer-label">
              High-tide Flooding
            </div>
            <div class="nav-footer-label-smallscreen">
              High-tide Flooding
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- END NAV FOOOTER TEMPLATE -->
