<!-- BEGIN NAV FOOTER TEMPLATE -->

<div id="nav-footer" class="d-flex-row padding-horizontal padding-top-half padding-bottom d-flex d-flex-center width-100">
  <div class="flex-container-nowrap flex-justify padding-horizontal width-100">

    <!-- home  -->
    <div class="d-flex-row nav-footer-row-1">
      <div class="padding-horizontal d-flex-column">
        <div class="d-flex-center d-flex-row padding-horizontal nav-footer-area-title" >
        </div>

        <a id="home-secretlink-nav-footer" href="../cards-home" class="d-none"></a>
        <div tabindex="10000" id="home-nav-footer" class="padding-horizontal d-flex-bottom d-flex-row nav-footer-item">
          <div class="d-flex d-flex-bottom d-flex-column">
            <div class="nav-footer-icon">
              <!-- <i class="fas fa-compass"></i> -->
              <i class="fas fa-th-large icon-info-box"></i>
            </div>
            <div class="nav-footer-label">
              Cards Home
            </div>
            <div class="nav-footer-label-smallscreen">
              Cards Home
            </div>
            <div class="nav-footer-label-verysmallscreen">
              Cards
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- county based  -->
    <div class="d-flex-row nav-footer-row-2">
      <div class="padding-horizontal d-flex-fill d-flex-column">
        <div class="d-flex-center d-flex-row d-flex-fill padding-horizontal nav-footer-area-title" >
          <span class="nav-footer-area-line"></span>
          <span class="nav-footer-area-text">Region Based</span>
          <span class="nav-footer-area-text-smallecreen">Region</span>
          <span class="nav-footer-area-line"></span>
        </div>
        <div class="padding-horizontal d-flex-fill d-flex-row nav-footer-items">

          <!-- <a id="national-climate-maps-secretlink-nav-footer" href="../national-climate-maps" class="d-none"></a>
          <div tabindex="10001" id="national-climate-maps-nav-footer" class="d-flex d-flex-bottom padding-horizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <span class="stateface stateface-us"></span>
            </div>
            <div class="nav-footer-label">
              National Climate Maps
            </div>
            <div class="nav-footer-label-smallscreen">
              National Maps
            </div>
            <div class="nav-footer-label-verysmallscreen">
              Maps
            </div>
          </div> -->

          <a id="local-climate-charts-secretlink-nav-footer" href="../local-climate-charts" class="d-none"></a>
          <div tabindex="10002" id="local-climate-charts-nav-footer" class="d-flex d-flex-bottom padding-horizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <i class="fas fa-chart-line"></i>
            </div>
            <div class="nav-footer-label">
              Climate Charts
            </div>
            <div class="nav-footer-label-smallscreen">
              Climate Charts
            </div>
            <div class="nav-footer-label-verysmallscreen">
              Charts
            </div>
          </div>

          <a id="local-climate-maps-secretlink-nav-footer" href="../local-climate-maps" class="d-none"></a>
          <div tabindex="10003" id="local-climate-maps-nav-footer" class="d-flex d-flex-bottom padding-horizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <i class="fas fa-map-marked-alt"></i>
            </div>
            <div class="nav-footer-label">
              Climate Maps
            </div>
            <div class="nav-footer-label-smallscreen">
              Climate Maps
            </div>
            <div class="nav-footer-label-verysmallscreen">
              Maps
            </div>
          </div>
        </div>
      </div>




      <!-- Station based  -->
      <div id="station-based" class="padding-horizontal d-flex-fill d-flex-column">
        <div class="d-flex-center d-flex-row d-flex-fill padding-horizontal nav-footer-area-title" >
          <span class="nav-footer-area-line"></span>
          <span class="nav-footer-area-text">Station Based</span>
          <span class="nav-footer-area-text-smallecreen">Station</span>
          <span class="nav-footer-area-line"></span>
        </div>

        <div id="more-wrapper-nav-footer" class="padding-horizontal d-flex-row nav-footer-items">
          <a id="more-secretlink-nav-footer" href="../local-climate-charts" class="d-none"></a>
          <div tabindex="10004" id="more-nav-footer" class="d-flex d-flex-bottom padding-horizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="nav-footer-label">
              More
            </div>
            <div class="nav-footer-label-smallscreen">
              More
            </div>
            <div class="nav-footer-label-verysmallscreen">
              More
            </div>
          </div>
        </div>

        <div id="expanded-wrapper-nav-footer" class="padding-horizontal d-flex-row nav-footer-items">

          <a id="historical-weather-data-secretlink-nav-footer" href="../historical-weather-data" class="d-none"></a>
          <div tabindex="10005" id="historical-weather-data-nav-footer" class="d-flex d-flex-bottom padding-horizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <i class="fas fa-chart-area"></i>
            </div>
            <div class="nav-footer-label">
              Historical Weather Data
            </div>
            <div class="nav-footer-label-smallscreen">
              Historical Data
            </div>
            <div class="nav-footer-label-verysmallscreen">
              Data
            </div>
          </div>

          <a id="historical-thresholds-secretlink-nav-footer" href="../historical-thresholds" class="d-none"></a>
          <div tabindex="10006" id="historical-thresholds-nav-footer" class="d-flex d-flex-center d-flex-bottom padding-horizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <i class="fas fa-chart-bar"></i>
            </div>
            <div class="nav-footer-label">
              Historical Thresholds
            </div>
            <div class="nav-footer-label-smallscreen">
              Historical Thresholds
            </div>
            <div class="nav-footer-label-verysmallscreen">
              Thresholds
            </div>
          </div>

          <a id="high-tide-flooding-secretlink-nav-footer" href="../high-tide-flooding" class="d-none"></a>
          <div tabindex="10007" id="high-tide-flooding-nav-footer" class="d-flex d-flex-bottom padding-horizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <i class="fas fa-water"></i>
            </div>
            <div class="nav-footer-label">
              High-Tide Flooding
            </div>
            <div class="nav-footer-label-smallscreen">
              High-tide
            </div>
            <div class="nav-footer-label-verysmallscreen">
              Tide
            </div>
          </div>
          </div>
        </div>

      </div>

      <!-- less  -->
      <div id="less-row-1" class="d-flex-row nav-footer-row-1">
        <div class="padding-horizontal d-flex-column">
          <div class="d-flex-center d-flex-row padding-horizontal nav-footer-area-title" >
          </div>

          <a id="less-secretlink-nav-footer" href="../cards-home" class="d-none"></a>
          <div tabindex="10008" id="less-wrapper-nav-footer" class="padding-horizontal d-flex-bottom d-flex-row nav-footer-item">
            <div class="d-flex d-flex-bottom d-flex-column">
              <div class="nav-footer-icon">
                <i class="fas fa-ellipsis-h"></i>
              </div>
              <div class="nav-footer-label">
                Less
              </div>
              <div class="nav-footer-label-smallscreen">
                Less
              </div>
              <div class="nav-footer-label-verysmallscreen">
                Less
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

      {{> feedack }}
  </div>
</div>

<script type="text/javascript" src="/resources/js/nav_footer.js"></script>

<!-- END NAV FOOTER TEMPLATE -->
