<!-- BEGIN NAV FOOOTER TEMPLATE -->

<div id="nav-footer" class="d-flex-row padding-horrizontal padding-bottom d-flex d-flex-left width-100">
  <div class="flex-container-nowrap flex-justify padding-horrizontal width-100">

    <!-- home  -->
    <div class="d-flex-row nav-footer-row-1">
      <div class="padding-horrizontal d-flex-column">
        <div class="d-flex-center d-flex-row padding-horrizontal nav-footer-area-title" >
        </div>

        <a id="home-secretlink-nav-footer" href="../cards-home" class="d-none"></a>
        <div id="home-nav-footer" class="padding-horrizontal d-flex-bottom d-flex-row nav-footer-item">
          <div class="d-flex d-flex-bottom d-flex-column">
            <div class="nav-footer-icon">
              <i class="fas fa-home"></i>
            </div>
            <div class="nav-footer-label">
              Home
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- county based  -->
    <div class="d-flex-row nav-footer-row-2">
      <div class="padding-horrizontal d-flex-fill d-flex-column">
        <div class="d-flex-center d-flex-row d-flex-fill padding-horrizontal nav-footer-area-title" >
          <span class="nav-footer-area-line"></span>
          <span class="">Region Based</span>
          <span class="nav-footer-area-line"></span>
        </div>
        <div class="padding-horrizontal d-flex-fill d-flex-row nav-footer-items">

          <a id="national-climate-maps-secretlink-nav-footer" href="../location" class="d-none"></a>
          <div d="national-climate-maps-nav-footer" class="d-flex d-flex-bottom padding-horrizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <span class="stateface stateface-us"></span>
            </div>
            <div class="nav-footer-label">
              National Climate Maps
            </div>
            <div class="nav-footer-label-smallscreen">
              National Maps
            </div>
          </div>

          <a id="local-climate-charts-secretlink-nav-footer" href="../location" class="d-none"></a>
          <div id="local-climate-charts-nav-footer" class="d-flex d-flex-bottom padding-horrizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <i class="fas fa-chart-line"></i>
            </div>
            <div class="nav-footer-label">
              Local Climate Charts
            </div>
            <div class="nav-footer-label-smallscreen">
              Local Charts
            </div>
          </div>

          <a id="local-climate-maps-secretlink-nav-footer" href="../location" class="d-none"></a>
          <div d="local-climate-maps-nav-footer" class="d-flex d-flex-bottom padding-horrizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <i class="fas fa-map-marked-alt"></i>
            </div>
            <div class="nav-footer-label">
              Local Climate Maps
            </div>
            <div class="nav-footer-label-smallscreen">
              Local Maps
            </div>
          </div>
        </div>
      </div>

      <!-- Station based  -->
      <div class="padding-horrizontal d-flex-fill d-flex-column">
        <div class="d-flex-center d-flex-row d-flex-fill padding-horrizontal nav-footer-area-title" >
          <span class="nav-footer-area-line"></span>
          <span class="">Station Based</span>
          <span class="nav-footer-area-line"></span>
        </div>
        <div class="padding-horrizontal d-flex-fill d-flex-row nav-footer-items">

          <a id="historical-weather-secretlink-nav-footer" href="../location" class="d-none"></a>
          <div id="historical-weather-nav-footer" class="d-flex d-flex-bottom padding-horrizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <i class="fas fa-chart-area"></i>
            </div>
            <div class="nav-footer-label">
              Historical Weather Data
            </div>
            <div class="nav-footer-label-smallscreen">
              Historical Data
            </div>
          </div>

          <a id="historical-thresholds-secretlink-nav-footer" href="../location" class="d-none"></a>
          <div id="historical-thresholds-nav-footer" class="d-flex d-flex-bottom padding-horrizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <i class="fas fa-chart-bar"></i>
            </div>
            <div class="nav-footer-label">
              Historical Thresholds
            </div>
            <div class="nav-footer-label-smallscreen">
              Historical Thresholds
            </div>
          </div>

          <a id="hightide-flooding-secretlink-nav-footer" href="../location" class="d-none"></a>
          <div id="hightide-flooding-nav-footer" class="d-flex d-flex-bottom padding-horrizontal d-flex-column nav-footer-item">
            <div class="nav-footer-icon">
              <i class="fas fa-water"></i>
            </div>
            <div class="nav-footer-label">
              High-tide Flooding
            </div>
            <div class="nav-footer-label-smallscreen">
              High-tide Flooding
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" src="/resources/js/nav_footer.js"></script>

<!-- END NAV FOOOTER TEMPLATE -->
