<div class="select variable-select">
  <div tabindex="8" id="variable-select-vis" class="select-styled" rel="tmax">Avg Daily Max Temp (°F)</div>
  <ul class="select-options">
    <div icon="fas fa-temperature-high select-icon" class="default-select-option-group">
      <i class="fas fa-temperature-high select-icon"></i>Temperature
    </div>
    <li tabindex="9" rel="tmax" class="default-select-option with-tip variable-option-item float-left opt-ak">Avg Daily Max Temp (°F)</li>
    <span tabindex="9" rel="tmax" id="tmax-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Average Daily Maximum Temperature (°F)</strong><hr/>
      A day’s highest (maximum) temperature usually occurs in the afternoon. Averaging the daily high temperatures over any period results in a mean maximum temperature for that period.
      <br />
      <br />
      Maximum temperature serves as one measure of comfort and safety for people and for the health of plants and animals. When maximum temperature exceeds particular thresholds, people can become ill and transportation and energy infrastructure may be stressed."
    ></span>

    <li tabindex="10" rel="tmin" class="default-select-option with-tip variable-option-item float-left opt-ak">Avg Daily Min Temp (°F)</li>
    <span tabindex="10" rel="tmin" id="tmin-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Average Daily Minimum Temperature (°F)</strong><hr/>
      A day’s lowest (minimum) temperature usually occurs in the early morning, just before sunrise. Averaging the daily low temperatures for any period results in a mean minimum temperature for that period.
      <br />
      <br />
      Periods of low temperature give plants, animals, and people a chance to recover from daytime heat. When minimum temperatures aren’t sufficiently cool, plant and animal responses can trigger ecosystem changes and increased demand for energy can stress energy infrastructure."
    ></span>

    <li tabindex="11" rel="days_tmax_gt_50f" class="default-select-option with-tip variable-option-item float-left opt-only-ak">Days w/ max > 50°F</li>
    <span tabindex="11" rel="tmin" id="days_tmax_gt_50f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Days per year with Maximum Temperature Above 50°F</strong><hr/>
      The annual count of days when the high temperature rises above a selected threshold indicates how frequently locations experience warm, hot, or very hot days.
      <br />
      <br />
      Outdoor workers and people who lack air conditioning may experience extreme discomfort or heat illness on hot days, especially if humidity is high and wind is light. Hot days also stress plants, animals, and infrastructure such as electric lines, roads, and rails. Increased demand for electricity to cool homes and businesses also stresses energy infrastructure on hot days."
    ></span>

    <li tabindex="11" rel="days_tmax_gt_60f" class="default-select-option with-tip variable-option-item float-left opt-only-ak">Days w/ max > 60°F</li>
    <span tabindex="11" rel="tmin" id="days_tmax_gt_60f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Days per year with Maximum Temperature Above 60°F</strong><hr/>
      The annual count of days when the high temperature rises above a selected threshold indicates how frequently locations experience warm, hot, or very hot days.
      <br />
      <br />
      Outdoor workers and people who lack air conditioning may experience extreme discomfort or heat illness on hot days, especially if humidity is high and wind is light. Hot days also stress plants, animals, and infrastructure such as electric lines, roads, and rails. Increased demand for electricity to cool homes and businesses also stresses energy infrastructure on hot days."
    ></span>

    <li tabindex="11" rel="days_tmax_gt_70f" class="default-select-option with-tip variable-option-item float-left opt-only-ak">Days w/ max > 70°F</li>
    <span tabindex="11" rel="tmin" id="days_tmax_gt_70f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Days per year with Maximum Temperature Above 70°F</strong><hr/>
      The annual count of days when the high temperature rises above a selected threshold indicates how frequently locations experience warm, hot, or very hot days.
      <br />
      <br />
      Outdoor workers and people who lack air conditioning may experience extreme discomfort or heat illness on hot days, especially if humidity is high and wind is light. Hot days also stress plants, animals, and infrastructure such as electric lines, roads, and rails. Increased demand for electricity to cool homes and businesses also stresses energy infrastructure on hot days."
    ></span>

    <li tabindex="11" rel="days_tmax_gt_80f" class="default-select-option with-tip variable-option-item float-left opt-only-ak">Days w/ max > 80°F</li>
    <span tabindex="11" rel="tmin" id="days_tmax_gt_80f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Days per year with Maximum Temperature Above 80°F</strong><hr/>
      The annual count of days when the high temperature rises above a selected threshold indicates how frequently locations experience warm, hot, or very hot days.
      <br />
      <br />
      Outdoor workers and people who lack air conditioning may experience extreme discomfort or heat illness on hot days, especially if humidity is high and wind is light. Hot days also stress plants, animals, and infrastructure such as electric lines, roads, and rails. Increased demand for electricity to cool homes and businesses also stresses energy infrastructure on hot days."
    ></span>

    <li tabindex="11" rel="days_tmax_gt_90f" class="default-select-option with-tip variable-option-item float-left opt-ak">Days w/ max > 90°F</li>
    <span tabindex="11" rel="tmin" id="days_tmax_gt_90f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Days per year with Maximum Temperature Above 90°F</strong><hr/>
      The annual count of days when the high temperature rises above a selected threshold indicates how frequently locations experience warm, hot, or very hot days.
      <br />
      <br />
      Outdoor workers and people who lack air conditioning may experience extreme discomfort or heat illness on hot days, especially if humidity is high and wind is light. Hot days also stress plants, animals, and infrastructure such as electric lines, roads, and rails. Increased demand for electricity to cool homes and businesses also stresses energy infrastructure on hot days."
    ></span>

    <li tabindex="12" rel="days_tmax_gt_95f" class="default-select-option with-tip variable-option-item float-left opt-not-ak">Days w/ max > 95°F</li>
    <span tabindex="12" rel="tmin" id="days_tmax_gt_95f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Days per year with Maximum Temperature Above 95°F</strong><hr/>
      The annual count of days when the high temperature rises above a selected threshold indicates how frequently locations experience warm, hot, or very hot days.
      <br />
      <br />
      Outdoor workers and people who lack air conditioning may experience extreme discomfort or heat illness on hot days, especially if humidity is high and wind is light. Hot days also stress plants, animals, and infrastructure such as electric lines, roads, and rails. Increased demand for electricity to cool homes and businesses also stresses energy infrastructure on hot days."
    ></span>

    <li tabindex="13" rel="days_tmax_gt_100f" class="default-select-option with-tip variable-option-item float-left opt-not-ak">Days w/ max > 100°F</li>
    <span tabindex="13" rel="days_tmax_gt_100f" id="days_tmax_gt_100f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Days per year with Maximum Temperature Above 100°F</strong><hr/>
      The annual count of days when the high temperature rises above a selected threshold indicates how frequently locations experience warm, hot, or very hot days.
      <br />
      <br />
      Outdoor workers and people who lack air conditioning may experience extreme discomfort or heat illness on hot days, especially if humidity is high and wind is light. Hot days also stress plants, animals, and infrastructure such as electric lines, roads, and rails. Increased demand for electricity to cool homes and businesses also stresses energy infrastructure on hot days."
    ></span>

    <li tabindex="14" rel="days_tmax_gt_105f" class="default-select-option with-tip variable-option-item float-left opt-not-ak">Days w/ max > 105°F</li>
    <span tabindex="14" rel="days_tmax_gt_105f" id="days_tmax_gt_105f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Days per year with Maximum Temperature Above 105°F</strong><hr/>
      The annual count of days when the high temperature rises above a selected threshold indicates how frequently locations experience warm, hot, or very hot days.
      <br />
      <br />
      Outdoor workers and people who lack air conditioning may experience extreme discomfort or heat illness on hot days, especially if humidity is high and wind is light. Hot days also stress plants, animals, and infrastructure such as electric lines, roads, and rails. Increased demand for electricity to cool homes and businesses also stresses energy infrastructure on hot days."
    ></span>


    <li tabindex="15" rel="days_tmax_lt_32f" class="default-select-option with-tip variable-option-item float-left opt-ak">Days w/ max < 32°F</li>
    <span tabindex="15" rel="days_tmax_lt_32f" id="days_tmax_lt_32f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Days per year with Maximum Temperature below 32°F</strong><hr/>
      The total number of days per year when the highest temperature is less than 32°F (0°C) is an indicator of how often very cold days occur.
      <br />
      <br />
      Days when the highest temperature doesn’t rise above the freezing point of water are called “icing days.” The annual number of icing days tells us how much rest plants get from growing; with too few icing days, some plants do not perceive a “reset” signal to begin budding or blooming in the spring. The annual number of icing days can also help predict if populations of insects, such as tree-killing bark beetles, will survive the winter or not."
    ></span>

    <li tabindex="16" rel="days_tmin_lt_32f" class="default-select-option with-tip variable-option-item float-left opt-ak">Days w/ min < 32°F</li>
    <span tabindex="16" rel="days_tmin_lt_32f" id="days_tmin_lt_32f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Days per year with Minimum Temperature below 32°F </strong><hr/>
      The total number of days per year when the temperature dips below 32°F (0°C) is an indicator of how often cold days occur.
      <br />
      <br />
      A decrease in the number of days temperature drops below freezing promotes earlier spring snowmelt and runoff, with important consequences for managing water resources. Below-freezing temperatures can cause driving hazards, aircraft icing, and damage to infrastructure, yet ski resorts and other winter recreation businesses depend on sufficiently cold days to maintain snowpack. Some plants require a cumulative number of days below freezing before they can begin budding or blooming in the spring."
    ></span>

    <li tabindex="17" tabindex="9" rel="days_tmin_gt_80f" class="default-select-option with-tip variable-option-item float-left opt-not-ak">Days w/ min > 80°F</li>
    <span tabindex="17" rel="days_tmin_gt_80f" id="days_tmin_gt_80f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Days With Minimum Temperature above 80°F</strong><hr/>
      The total number of days per year when the lowest temperature doesn’t drop below a given threshold is an indicator of how often very warm nights occur.
      <br />
      <br />
      When the lowest temperature of a 24-hour period doesn’t dip below 80 or 90°F, plants, animals, and people don’t have a chance to cool down. They can become stressed and susceptible to other negative health impacts. As the number of very warm nights increases, sensitive plants may not produce flowers or viable seeds."
    ></span>

    <li tabindex="18" rel="days_tmin_gt_90f" class="default-select-option with-tip variable-option-item float-left opt-not-ak">Days w/ min > 90°F</li>
    <span tabindex="18" rel="days_tmin_gt_90f" id="days_tmin_gt_90f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-placement="top" data-tippy-arrow="true" data-tippy-content="
      <strong>Days With Minimum Temperature above 90°F</strong><hr/>
      The total number of days per year when the lowest temperature doesn’t drop below a given threshold is an indicator of how often very warm nights occur.
      <br />
      <br />
      When the lowest temperature of a 24-hour period doesn’t dip below 80 or 90°F, plants, animals, and people don’t have a chance to cool down. They can become stressed and susceptible to other negative health impacts. As the number of very warm nights increases, sensitive plants may not produce flowers or viable seeds."
    ></span>

    <li tabindex="18" rel="days_tmin_lt_minus_40f" class="default-select-option with-tip variable-option-item float-left opt-only-ak">Days w/ min < -40°F</li>
    <span tabindex="18" rel="days_tmin_lt_minus_40f" id="days_tmin_lt_minus_40f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-placement="top" data-tippy-arrow="true" data-tippy-content="
      <strong>Days per year with min below -40°F</strong><hr/>
      In Alaska, the number of days when temperatures drop below -40°F indicates how frequently locations experience extremely cold conditions. Temperatures this low can be dangerous for people and animals, and result in high demand for energy for heating."
    ></span>

    <li tabindex="18" rel="days_tmin_gt_60f" class="default-select-option with-tip variable-option-item last-variable-space float-left opt-only-ak">Days w/ min > 60°F</li>
    <span tabindex="18" rel="days_tmin_gt_60f" id="days_tmin_gt_60f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip last-variable-space float-right" data-tippy-placement="top" data-tippy-arrow="true" data-tippy-content="
      <strong>Days per year with min above 60°F</strong><hr/>
      In Alaska, the total number of days per year when the overnight low doesn’t drop below 60°F is an indicator of how frequently very warm nights occur.
      <br />
      <br />
      When it doesn’t cool down at night, people, plants, and animals can become stressed and susceptible to negative health impacts. As the number of warm nights increases, some sensitive plants may not be able to produce flowers or viable seeds."
    ></span>

    <div icon="fas fa-cloud-rain select-icon" class="default-select-option-group">
      <i class="fas fa-cloud-rain select-icon"></i>Precipitation
    </div>

    <li tabindex="19" rel="pcpn" class="default-select-option with-tip variable-option-item float-left opt-ak">Total precipitation</li>
    <span tabindex="19" rel="pcpn" id="pcpn-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Total Precipitation</strong><hr/>
      Total precipitation over a year, season, or month indicates the average amount of water added to the environment over the indicated period.
      <br /><br />
      The graph for this variable shows total precipitation in inches. To help users perceive trends in this variable over time however, the map shows precipitation as the percentage change from the long-term average (1961 to 1990)."
    ></span>

    <li tabindex="20" rel="days_pcpn_gt_1in" class="default-select-option with-tip variable-option-item float-left opt-ak">Days w/ > 1 in Precipitation</li>
    <span tabindex="20" rel="days_pcpn_gt_1in" id="days_pcpn_gt_1in-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Days with Precipitation Above 1 inches</strong><hr/>
      The number of days per year when locations receive more than 1, 2, or 3 inches of precipitation is an indicator of how often very heavy precipitation events occur. This measurement may also be used as an indicator of flood risk.
      <br />
      <br >
      Comparing the number of days with heavy precipitation at a single location over time can reveal a trend of increasing or decreasing flood risk."
    ></span>

    <li tabindex="21" rel="days_pcpn_gt_2in" class="default-select-option with-tip variable-option-item float-left  opt-ak">Days w/ > 2 in Precipitation</li>
    <span tabindex="21" rel="days_pcpn_gt_2in" id="days_pcpn_gt_2in-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Days with Precipitation Above 2 inches</strong><hr/>
      The number of days per year when locations receive more than 1, 2, or 3 inches of precipitation is an indicator of how often very heavy precipitation events occur. This measurement may also be used as an indicator of flood risk.
      <br />
      <br />
      Comparing the number of days with heavy precipitation at a single location over time can reveal a trend of increasing or decreasing flood risk."
    ></span>

    <li tabindex="22" rel="days_pcpn_gt_3in" class="default-select-option with-tip variable-option-item float-left opt-ak">Days w/ > 3 in Precipitation</li>
    <span tabindex="22" rel="days_pcpn_gt_3in" id="days_pcpn_gt_3in-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Days with Precipitation Above 3 inches</strong><hr/>
      The number of days per year when locations receive more than 1, 2, or 3 inches of precipitation is an indicator of how often very heavy precipitation events occur. This measurement may also be used as an indicator of flood risk.
      <br />
      <br />
      Comparing the number of days with heavy precipitation at a single location over time can reveal a trend of increasing or decreasing flood risk."
    ></span>

    <li tabindex="23" rel="days_dry_days" class="default-select-option with-tip variable-option-item float-left opt-ak">Dry Days</li>
    <span tabindex="23" rel="days_dry_days" id="days_dry_days-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Dry Days</strong><hr/>
      The number of dry days per year—days when precipitation is less than 0.01 inches—gives a sense of the portion of the year when no moisture is being added to the environment. Changes in the number of dry days can indicate a tendency toward drier or wetter conditions.
      <br />
      <br />
      The graph for this variable shows counts of Dry Days. To help users perceive trends in numbers of dry days over time however, the map shows dry days as the projected annual number of dry days for each decade minus the 1961-1990 average. Positive values indicate more dry days while negative values indicate fewer dry days."
    ></span>

    <li tabindex="24" rel="days_pcpn_gt_0_25in" class="default-select-option with-tip variable-option-item last-variable-space float-left opt-only-ak">Wet days</li>
    <span tabindex="24" rel="days_pcpn_gt_0_25in" id="days_pcpn_gt_0_25in-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip last-variable-space float-right" data-tippy-content="
      <strong>Wet days</strong><hr/>
      Count of days per year on which measurable rain or snow (more than one-quarter inch of liquid water) falls."
    ></span>

    <div icon="fas fa-bacon select-icon" class="default-select-option-group">
      <i class="fas fa-bacon select-icon"></i>Other
    </div>

    <li tabindex="25" rel="cdd_65f" class="default-select-option with-tip variable-option-item float-left opt-ak">Cooling Degree Days</li>
    <span tabindex="25" rel="cdd_65f" id="cdd_65f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Cooling Degree Days</strong><hr/>
      The number of cooling degree days at any location reflects the amount of energy people use to cool a building when it is warm outside. Higher numbers of cooling degree days indicate higher demand for energy.
      <br />
      <br />
      Cooling degree days measure how much (in degrees), and for how long (in days), outside air temperature is higher than 65°F. For example, on a day when the average outdoor temperature is 85°F, reducing the indoor temperature to 65°F would require 20 degrees of cooling multiplied by 1 day, or 20 cooling degree days. Engineers and utility companies use a location’s annual number of cooling degree days as one input when estimating demand for energy in the warm season."
    ></span>

    <li tabindex="26" rel="gdd" class="default-select-option with-tip variable-option-item float-left opt-ak">Growing Degree Days</li>
    <span tabindex="26" rel="gdd" id="gdd-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Growing Degree Days</strong><hr/>
      The number of growing degree days per year is used to estimate the growth and development of plants (or insects) during the growing season. Higher numbers of growing-degree days indicate longer and warmer growing conditions.
      <br />
      <br />
      As growth occurs only when temperature exceeds a species’ base temperature (for example, 50°F), the number of days times the number of degrees above the base indicates the duration and magnitude of growing conditions."
    ></span>

    <li tabindex="27" rel="hdd_65f" class="default-select-option with-tip variable-option-item float-left opt-ak">Heating Degree Days</li>
    <span tabindex="27" rel="hdd_65f" id="hdd_65f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Heating Degree Days</strong><hr/>
      The number of heating degree days at any location reflects the amount of energy people use to heat a building when it is cool outside. Lower numbers of heating degree days indicate lower demand for energy.
      <br />
      <br />
      Heating degree days measure how much (in degrees), and for how long (in days), outside air temperature is below 65°F. For example, on a day when the average outdoor temperature is 35°F, raising the indoor temperature to 65°F would require 30 degrees of heating multiplied by 1 day, or 30 heating degree days. Engineers and utility companies use a location’s annual number of heating degree days as one input when estimating demand for energy in the cold season."
    ></span>

    <li tabindex="28" rel="gddmod" class="default-select-option with-tip variable-option-item float-left opt-ak">Modified Growing Degree Days</li>
    <span tabindex="28" rel="gddmod" id="gddmod-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Modified Growing Degree Days</strong><hr/>
      Corn growers use the number of modified growing degree days to monitor the development of corn crops.
      <br />
      <br />
      As corn development occurs only when temperature is above 50°F but below 86°F, the standard calculation for growing-degree days is modified to omit conditions outside this range. In future decades, regions where temperatures regularly exceed 86°F may be less successful in growing corn."
    ></span>

    <li tabindex="29" rel="gdd_32f" class="default-select-option with-tip variable-option-item float-left opt-only-ak">Thawing Degree Days</li>
    <span tabindex="29" rel="gdd_32f" id="gdd_32f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Thawing Degree Days</strong><hr/>
      In late winter and early spring, thawing degree-days are used to monitor the average number of degrees above freezing <u>combined with</u> how long it is above freezing.
      <br />
      <br />
      Projected increases in thawing degree days reflect warmer above-freezing temperatures (for example, 45°F rather than 40°F) and/or shorter durations of above-freezing temperatures.
      <br />
      <br />
      The cumulative number of thawing degree days for a period can be calculated by taking the average number of degrees above freezing times the number of days in the period. For example, with an average temperature of 42°F (10°F above freezing) for one week, 10°F x 7 days = 70 thawing degree days."
    ></span>

    <li tabindex="30" rel="hdd_32f" class="default-select-option with-tip variable-option-item float-left opt-only-ak">Freezing Degree Days</li>
    <span tabindex="30" rel="hdd_32f" id="hdd_32f-tooltip" class="fas fa-question-circle padding-horizontal-half variable-option-tooltip float-right" data-tippy-content="
      <strong>Freezing Degree Days</strong><hr/>
      Freezing degree days measure how far below freezing it is <u>combined with</u> how long it remains below freezing.
      <br />
      <br />
      Projected decreases in freezing degree-days reflect warmer below-freezing temperatures (for example, -10°F rather than -20°F) and/or shorter durations of below-freezing temperatures. Values for freezing degree-days are used to estimate ice growth on lakes and the sea.
      <br />
      <br />
      Cumulative freezing degree days for a period can be calculated by taking the average number of degrees below freezing times the number of days in the period. For example, with an average temperature of 12°F (20°F below freezing) over one week, a location would accumulate (20°F x 7 days) or 140 freezing degree days."
    ></span>

  </ul>
</div>
