{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 0.5%",
            "last 2 versions",
            "safari >= 7",
            "ie 10"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-arrow-functions",
    "@babel/transform-object-assign",
    "@babel/plugin-transform-template-literals"
  ]
}
