<!doctype html>
<html>
<head>
  {{> head }}
</head>

<body id="page-about" class="page-type-text">
<div class="cd-cover-layer"></div>
{{> header }}

<div id="viewport">
  <div id="main-content-wrap">

    {{> share }}

    <section id="standard-splash" class="page-splash">
      <div class="splash-text">
        <h1>404</h1>
      </div>
    </section>

    <section id="standard-body" class="page-text">
      <hr>
      <h2>File Not Found</h2>
    </section>


  </div>
</div>

{{> footer }}

</body>
</html>
