<!doctype html>
<html lang='en' class="width-100 height-100">
<head>
  {{> head }}
  <meta property="fb:app_id" content="187816851587993">
  <meta property="og:url" content="/">
  <meta property="og:type" content="article">
  <meta property="og:title" content="Location data for Buncombe County, NC">
  <meta property="og:description" content="The Climate Explorer allows you to view historical and projected climate variables and assess the impacts of climate change on the things you care about">
  <meta property="og:image" content="/resources/img/og.jpg">
</head>

<body class="width-100 height-100">

  {{> secondary_header }}

  <!-- <div id="main-content-wrap">

    {{> share }}

    <div id="location-search">
      <input type="text" class="autocomplete location-mapper" autocomplete="off" placeholder="Search another City, County or Zip code">
    </div>

  </div> -->
<div id="cards-viewport" class="padding-horrizontal d-flex d-flex-column">


  <div id="search-row" class="padding-horizontal d-flex-row flex-justify padding-top padding-bottom-half d-flex-center" >
      <div class="rounded-box-secondary input-outer padding-horrizontal bottom-padding default-btn-height width-100">
        <input id="cards-search-input" type="text" class="location-mapper input-inner-default border-none default-btn-height width-90" autocomplete="off" placeholder="Enter county, city, or zip code">
        <span class="icon icon-search search-default float-right padding-default"></span>
    </div>
  </div>

  <div id="info-row" class="d-flex-row flex-justify padding-top-half padding-bottom-half d-flex-center" >
    <div class="rounded-info-box padding-default width-100">
      <i class="fas fa-home icon-info-box"></i>
      <span id="" class="text-info-box" >Select one of the following for </span>
      <span id="default-city-state" class="text-info-box" ></span>
      <span id="" class="text-info-box" > in </span>
      <span id="default-city-county" class="text-info-box"></span>
      <span id="default-chart-map-varriable" class="text-info-box" rel="tmax">Avg Daily Max Temp (°F)</span>
    </div>
  </div>

  <div id="card-row" class="padding-horizontal padding-top-half padding-bottom-half d-flex-row flex-justify" >

    <a id="card-national-maps-secretlink" href="../local-climate-charts" class="d-none"></a>
    <div id="data-card" class="card-national-maps d-flex d-flex-column" >
       <div id="card-image-row" class="d-flex-row d-flex-fill width-100">
          <img class="card-image" src="../resources/img/card-nat-maps.png" />
       </div>
       <div id="card-text" class="card-text d-flex-row width-100">
         <div id="card-title-icon" class="d-flex-row width-100">
           <div class="card-title" >
             National Climate Maps
           </div>
           <span class="card-icon stateface stateface-us"></span>
         </div>
         <div id="card-description" class="d-flex-column width-100">
           Maps show observed and modeled data for the United States.
         </div>
       </div>
    </div>


    <a id="card-local-charts-secretlink" href="../local-climate-charts" class="d-none"></a>
    <div id="data-card" class="card-local-charts d-flex d-flex-column">
      <div id="card-image-row" class="d-flex-row d-flex-fill width-100">
        <img class="card-image" src="../resources/img/card-local-charts.png" />
       </div>
       <div id="card-text" class="card-text d-flex-row width-100">
         <div id="card-title-icon" class="d-flex-row width-100">
           <div class="card-title" >
             Local Climate Charts
           </div>
           <i class="card-icon fas fa-chart-line"></i>
         </div>
         <div id="card-description" class="d-flex-column width-100">
           Graphs show observed and modeled data for the county of your selected location.
         </div>
       </div>
    </div>

    <a id="card-local-maps-secretlink" href="../local-climate-maps" class="d-none"></a>
    <div id="data-card" class="card-local-maps d-flex d-flex-column" >
      <div id="card-image-row" class="d-flex-row d-flex-fill width-100">
         <img class="card-image" src="../resources/img/card-local-maps.png" />
       </div>
       <div id="card-text" class="card-text d-flex-row width-100">
         <div id="card-title-icon" class="d-flex-row width-100">
           <div class="card-title" >
             Local Climate Maps
           </div>
           <i class="card-icon fas fa-map-marked-alt"></i>
         </div>
         <div id="card-description" class="d-flex-column width-100">
           Maps show observed and modeled data for the county of your selected location.
         </div>
       </div>
    </div>

  </div>

  <div id="card-row" class="padding-horizontal padding-top-half padding-bottom-half d-flex-row flex-justify" >


    <a id="card-historical-weather-secretlink" href="../local-climate-charts" class="d-none"></a>
    <div id="data-card" class="card-historical-weather d-flex d-flex-column" >
      <div id="card-image-row" class="d-flex-row d-flex-fill width-100">
         <img class="card-image" src="../resources/img/card-hist-daily.png" />
       </div>
       <div id="card-text" class="card-text d-flex-row width-100">
         <div id="card-title-icon" class="d-flex-row width-100">
           <div class="card-title" >
             Historical Weather Data
           </div>
           <i class="card-icon fas fa-chart-area"></i>
         </div>
         <div id="card-description" class="d-flex-column width-100">
           Graphs for individual observing stations let you compare daily temperatures and precipitation totals to long-term averages.
         </div>
       </div>
    </div>

    <a id="card-historical-thresholds-secretlink" href="../local-climate-charts" class="d-none"></a>
    <div id="data-card" class="card-thresholds-weather d-flex d-flex-column" >
      <div id="card-image-row" class="d-flex-row d-flex-fill width-100">
        <img class="card-image" src="../resources/img/card-hist-thresholds.png" />
       </div>
       <div id="card-text" class="card-text d-flex-row width-100">
         <div id="card-title-icon" class="d-flex-row width-100">
           <div class="card-title" >
             Historical Thresholds
           </div>
           <i class="card-icon fas fa-chart-bar"></i>
         </div>
         <div id="card-description" class="d-flex-column width-100">
           Set the threshold for temperature or precipitation, to see how often that value has been exceeded per year.
         </div>
       </div>
    </div>


    <a id="card-hightide-flooding-secretlink" href="../local-climate-charts" class="d-none"></a>
    <div id="data-card" class="card-hightide-flooding d-flex d-flex-column" >
      <div id="card-image-row" class="d-flex-row d-flex-fill width-100">
         <img class="card-image" src="../resources/img/card-hist-data.png" />
       </div>
       <div id="card-text" class="card-text d-flex-row width-100">
         <div id="card-title-icon" class="d-flex-row width-100">
           <div class="card-title" >
            High-tide Flooding
           </div>
           <i class="card-icon fas fa-water"></i>
         </div>
         <div id="card-description" class="d-flex-column width-100">
           Height above the long-term average of the daily highest water level, also known as mean higher high water (MHHW).
         </div>
       </div>
    </div>
  </div>
</div>

{{> nav_footer }}
{{> footer }}

<script src="https://unpkg.com/terraformer@1.0.8/terraformer.js" integrity="sha384-+M797Pj3WZVCwMmLbOxAoaWYcKJo8NSxItmI48ytcLNeAnfn1d/IckFn31jEqrzP"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/terraformer-arcgis-parser@1.0.5/terraformer-arcgis-parser.js"
        integrity="sha384-duFUjKTSNoxEspdJNwr83CUgRxclf0ueKJB9DU/Vbit6bfWgzvZsHW6H1JLBBXhp" crossorigin="anonymous"></script>
<script type="text/javascript" src="/resources/js/cards-home.js"></script>
<script type="text/javascript" src="/resources/js/ce3-ui-components.js"></script>
</body>
</html>
