<!doctype html>
<html lang='en' class="width-100 height-100">
<head>
  {{> head }}
  <meta property="fb:app_id" content="187816851587993">
  <meta property="og:url" content="/">
  <meta property="og:type" content="article">
  <meta property="og:title" content="Location data for Buncombe County, NC">
  <meta property="og:description" content="The Climate Explorer allows you to view historical and projected climate variables and assess the impacts of climate change on the things you care about">
  <meta property="og:image" content="/resources/img/og.jpg">
</head>

<body class="width-100 height-100">

  {{> secondary_header }}

  <!-- <div id="main-content-wrap">

    {{> share }}

    <div id="location-search">
      <input type="text" class="autocomplete location-mapper" autocomplete="off" placeholder="Search another City, County or Zip code">
    </div>

  </div> -->
<div id="cards-viewport" class="cards-row padding-default d-flex d-flex-column">
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
  cards will go here <br />
</div>

{{> nav_footer }}
{{> footer }}

<script src="https://unpkg.com/terraformer@1.0.8/terraformer.js" integrity="sha384-+M797Pj3WZVCwMmLbOxAoaWYcKJo8NSxItmI48ytcLNeAnfn1d/IckFn31jEqrzP"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/terraformer-arcgis-parser@1.0.5/terraformer-arcgis-parser.js"
        integrity="sha384-duFUjKTSNoxEspdJNwr83CUgRxclf0ueKJB9DU/Vbit6bfWgzvZsHW6H1JLBBXhp" crossorigin="anonymous"></script>
<script type="text/javascript" src="/resources/js/scenarioComparisonMap.js"></script>
<script type="text/javascript" src="/resources/js/location.js"></script>

</body>
</html>
