<!doctype html>
<html lang='en' class="width-100 height-100">
<head>
  {{> head }}
  <meta property="fb:app_id" content="187816851587993">
  <meta property="og:url" content="/">
  <meta property="og:type" content="article">
  <meta property="og:title" content="Location data for Buncombe County, NC">
  <meta property="og:description" content="The Climate Explorer allows you to view historical and projected climate variables and assess the impacts of climate change on the things you care about">
  <meta property="og:image" content="/resources/img/og.jpg">
</head>

<body class="width-100 height-100">

  {{> secondary_header }}

    <div id="local-climate-charts-viewport" class="padding-horrizontal d-flex d-flex-column">

      <div id="search-row" class="padding-horizontal d-flex-row flex-justify padding-top padding-bottom-half d-flex-justify" >

        <div class="rounded-box-secondary input-outer padding-horrizontal bottom-padding default-btn-height search-box-secondary width-40">
          <input tabindex="0" id="cards-search-input" type="text" class="location-mapper input-inner-default border-none default-btn-height" autocomplete="off" placeholder="Enter county, city, or zip code">
          <span class="icon icon-search search-default float-right padding-default"></span>
          <div id="clear-location-wrapper" class="">
            <a id="clear-location-link"  href="../local-climate-charts" class="d-none"></a>
            <span id="clear-location" nav="local-climate-charts" link="clear-location-link" class="fas fa-times-circle"></span>
          </div>
        </div>

        <div id="stations-select-wrapper" class="rounded-choice-box padding-horrizontal default-btn-height top-select-wrapper d-flex-center disabled">
          <div class="select">
            <div tabindex="1" id="stations-select-vis" class="select-styled disabled" rel="none">Stations</div>
            <ul class="select-options" style="display: none;">
              <li rel="none" class="default-select-option">Stations</li>
              <li rel="station-1" class="default-select-option">Stations 1</li>
              <li rel="station-2" class="default-select-option">Stations 2</li>
              <li rel="station-3" class="default-select-option">Stations 3</li>
              <li rel="station-4" class="default-select-option">Stations 4</li>
            </ul>
          </div>
        </div>

        <div id="downloads-select-wrapper" class="rounded-choice-box padding-horrizontal default-btn-height top-select-wrapper d-flex-center">

          <div class="select download-select">
            <div tabindex="2" id="downnloads-select-vis" class="select-styled" rel="none" href="javascript:void(0);">
              <i class="fas fa-download select-icon"></i>
              <a rel="none" href="javascript:void(0);" >Downloads</a>
            </div>
            <ul class="select-options" style="display: none;">
              <li tabindex="3" rel="download-image" icon="fas fa-download select-icon" href="javascript:void(0);" class="default-select-option">
                <a rel="download-image" href="javascript:void(0);" >Download image</a>
              </li>
              <li tabindex="4" rel="download-observed-data" icon="fas fa-download select-icon" href="javascript:void(0);" class="default-select-option">
                <a rel="download-observed-data" href="javascript:void(0);" >Download Observed Data</a>
              </li>
              <li tabindex="5" rel="download-historical-modeled-data" icon="fas fa-download select-icon" href="javascript:void(0);" class="default-select-option">
                <a rel="download-historical-modeled-data" href="javascript:void(0);" >Download Historical Modeled Data</a>
              </li>
              <li tabindex="6" rel="download-projected-modeled-data" icon="fas fa-download select-icon" href="javascript:void(0);" class="default-select-option">
                <a rel="download-projected-modeled-data" href="javascript:void(0);" >Projected Modeled Data</a>
              </li>
              <li tabindex="7" rel="download-interpreting" icon="fas fa-download select-icon" class="default-select-option">
                <a rel="download-interpreting" href="/resources/data/Key-to-Climate-Explorer-Download-Filenames-and-Column-Headings.xlsx" >Information for Interpreting Data</a>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div id="info-row" class="padding-vertical width-100" >
        <div class="rounded-filters-box padding-default width-100">

          <div class="filter-border-bottom d-flex-row">

            <div id="info-text-wrapper" class="width-90">
              <i class="fas fa-chart-line icon-info-box"></i>
              <span id="default-city-state" class="text-info-box" ></span>
              <span id="default-in" class="text-info-box" > in </span>
              <span id="default-city-county" class="text-info-box"></span>
              <span id="default-dash" class="text-info-box" > - </span>
              <span id="default-chart-map-varriable" class="text-info-box" rel="tmax">Avg Daily Max Temp (°F)</span>
            </div>

            <div id="filters-toggle" class="width-10">
              <div class="select filters-toggle-select">
                <div id="filters-toggle-select-vis" class="select-styled" rel="filter"></div>
              </div>
            </div>

          </div>

          <div id="filters-row" class="d-flex-row flex-justify padding-top padding-bottom d-flex-left" >

            <div id="varriable-select-wrapper" class="rounded-choice-box padding-horrizontal-half padding-vertical-half default-btn-height d-flex-center width-30">
              <div class="select varriable-select">
                <div tabindex="8" id="varriable-select-vis" class="select-styled" rel="tmax">Avg Daily Max Temp (°F)</div>
                <ul class="select-options">
                  <div icon="fas fa-temperature-high select-icon" class="default-select-option-group">
                    <i class="fas fa-temperature-high select-icon"></i>Temperature
                  </div>
                  <li tabindex="9" rel="tmax" class="default-select-option with-tip varriable-option-item float-left">Avg Daily Max Temp (°F)</li>
                  <span tabindex="9" rel="tmax" id="tmax-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Average Daily Maximum Temperature (°F)</strong><hr/><br />A day’s highest (maximum) temperature usually occurs in the afternoon. Averaging the daily high temperatures over any period results in a mean maximum temperature for that period.<br /><br />Maximum temperature serves as one measure of comfort and safety for people and for the health of plants and animals. When maximum temperature exceeds particular thresholds, people can become ill and transportation and energy infrastructure may be stressed."></span>

                  <li tabindex="10" rel="tmin" class="default-select-option with-tip varriable-option-item float-left">Avg Daily Min Temp (°F)</li>
                  <span tabindex="10" rel="tmin" id="tmin-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Average Daily Minimum Temperature (°F)</strong><hr/><br />A day’s lowest (minimum) temperature usually occurs in the early morning, just before sunrise. Averaging the daily low temperatures for any period results in a mean minimum temperature for that period.<br /><br />Periods of low temperature give plants, animals, and people a chance to recover from daytime heat. When minimum temperatures aren’t sufficiently cool, plant and animal responses can trigger ecosystem changes and increased demand for energy can stress energy infrastructure."></span>

                  <li tabindex="11" rel="days_tmax_gt_90f" class="default-select-option with-tip varriable-option-item float-left">Days w/ max > 90°F</li>
                  <span tabindex="11" rel="tmin" id="days_tmax_gt_90f-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Days per year with Maximum Temperature Above 90°F</strong><hr/><br />The total number of days per year with maximum temperature above various thresholds is an indicator of how often very hot conditions occur. Depending upon humidity, wind, and physical workload, people who work outdoors or don’t have access to air conditioning may feel very uncomfortable or experience heat stress or illness on very hot days.<br /><br />Hot days also stress plants, animals, and human infrastructure such as roads, railroads, and electric lines. Increased demand for electricity to cool homes and buildings can place additional stress on energy infrastructure."></span>

                  <li tabindex="12" rel="days_tmax_gt_95f" class="default-select-option with-tip varriable-option-item float-left">Days w/ max > 95°F</li>
                  <span tabindex="12" rel="tmin" id="days_tmax_gt_95f-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Days per year with Maximum Temperature Above 95°F</strong><hr/><br />The total number of days per year with maximum temperature above various thresholds is an indicator of how often very hot conditions occur. Depending upon humidity, wind, and physical workload, people who work outdoors or don’t have access to air conditioning may feel very uncomfortable or experience heat stress or illness on very hot days.<br /><br />Hot days also stress plants, animals, and human infrastructure such as roads, railroads, and electric lines. Increased demand for electricity to cool homes and buildings can place additional stress on energy infrastructure."></span>

                  <li tabindex="13" rel="days_tmax_gt_100f" class="default-select-option with-tip varriable-option-item float-left">Days w/ max > 100°F</li>
                  <span tabindex="13" rel="days_tmax_gt_100f" id="days_tmax_gt_100f-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Days per year with Maximum Temperature Above 100°F</strong><hr/><br />The total number of days per year with maximum temperature above various thresholds is an indicator of how often very hot conditions occur. Depending upon humidity, wind, and physical workload, people who work outdoors or don’t have access to air conditioning may feel very uncomfortable or experience heat stress or illness on very hot days.<br /><br />Hot days also stress plants, animals, and human infrastructure such as roads, railroads, and electric lines. Increased demand for electricity to cool homes and buildings can place additional stress on energy infrastructure."></span>

                  <li tabindex="14" rel="days_tmax_gt_105f" class="default-select-option with-tip varriable-option-item float-left">Days w/ max > 105°F</li>
                  <span tabindex="14" rel="days_tmax_gt_105f" id="days_tmax_gt_105f-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Days per year with Maximum Temperature Above 105°F</strong><hr/><br />The total number of days per year with maximum temperature above various thresholds is an indicator of how often very hot conditions occur. Depending upon humidity, wind, and physical workload, people who work outdoors or don’t have access to air conditioning may feel very uncomfortable or experience heat stress or illness on very hot days.<br /><br />Hot days also stress plants, animals, and human infrastructure such as roads, railroads, and electric lines. Increased demand for electricity to cool homes and buildings can place additional stress on energy infrastructure."></span>

                  <li tabindex="15" rel="days_tmax_lt_32f" class="default-select-option with-tip varriable-option-item float-left">Days w/ max < 32°F</li>
                  <span tabindex="15" rel="days_tmax_lt_32f" id="days_tmax_lt_32f-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Days per year with Maximum Temperature below 32°F</strong><hr/><br />The total number of days per year when the highest temperature is less than 32°F (0°C) is an indicator of how often very cold days occur.<br /><br />Days when the highest temperature doesn’t rise above the freezing point of water are called “icing days.” The annual number of icing days tells us how much rest plants get from growing; with too few icing days, some plants do not perceive a “reset” signal to begin budding or blooming in the spring. The annual number of icing days can also help predict if populations of insects, such as tree-killing bark beetles, will survive the winter or not."></span>

                  <li tabindex="16" rel="days_tmin_lt_32f" class="default-select-option with-tip varriable-option-item float-left">Days w/ min < 32°F</li>
                  <span tabindex="16" rel="days_tmin_lt_32f" id="days_tmin_lt_32f-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Days per year with Minimum Temperature below 32°F </strong><hr/><br />The total number of days per year when the temperature dips below 32°F (0°C) is an indicator of how often cold days occur.<br /><br />A decrease in the number of days temperature drops below freezing promotes earlier spring snowmelt and runoff, with important consequences for managing water resources. Below-freezing temperatures can cause driving hazards, aircraft icing, and damage to infrastructure, yet ski resorts and other winter recreation businesses depend on sufficiently cold days to maintain snowpack. Some plants require a cumulative number of days below freezing before they can begin budding or blooming in the spring."></span>

                  <li tabindex="17" tabindex="9" rel="days_tmin_gt_80f" class="default-select-option with-tip varriable-option-item float-left">Days w/ min > 80°F</li>
                  <span tabindex="17" rel="days_tmin_gt_80f" id="days_tmin_gt_80f-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Days With Minimum Temperature above 80°F</strong><hr/><br />The total number of days per year when the lowest temperature doesn’t drop below a given threshold is an indicator of how often very warm nights occur.<br /><br />When the lowest temperature of a 24-hour period doesn’t dip below 80 or 90°F, plants, animals, and people don’t have a chance to cool down. They can become stressed and susceptible to other negative health impacts. As the number of very warm nights increases, sensitive plants may not produce flowers or viable seeds."></span>

                  <li tabindex="18" rel="days_tmin_gt_90f" class="default-select-option with-tip varriable-option-item float-left">Days w/ min > 90°F</li>
                  <span tabindex="18" rel="days_tmin_gt_90f" id="days_tmin_gt_90f-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-placement="top" data-tippy-arrow="true" data-tippy-content="<strong>Days With Minimum Temperature above 90°F</strong><hr/><br />The total number of days per year when the lowest temperature doesn’t drop below a given threshold is an indicator of how often very warm nights occur.<br /><br />When the lowest temperature of a 24-hour period doesn’t dip below 80 or 90°F, plants, animals, and people don’t have a chance to cool down. They can become stressed and susceptible to other negative health impacts. As the number of very warm nights increases, sensitive plants may not produce flowers or viable seeds."></span>

                  <div icon="fas fa-cloud-rain select-icon" class="default-select-option-group">
                    <i class="fas fa-cloud-rain select-icon"></i>Precipitation
                  </div>
                  <li tabindex="19" rel="pcpn" class="default-select-option with-tip varriable-option-item float-left">Total precipitation</li>
                  <span tabindex="19" rel="pcpn" id="pcpn-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Total Precipitation</strong><hr/><br />Total precipitation over a year, season, or month indicates the average amount of water added to the environment over the indicated period.<br /><br />The graph for this variable shows total precipitation in inches. To help users perceive trends in this variable over time however, the map shows precipitation as the percentage change from the long-term average (1961 to 1990)."></span>

                  <li tabindex="20" rel="days_pcpn_gt_1in" class="default-select-option with-tip varriable-option-item float-left">Days w/ > 1 in Precipitation</li>
                  <span tabindex="20" rel="days_pcpn_gt_1in" id="days_pcpn_gt_1in-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Days with Precipitation Above 1 inches</strong><hr/><br />The number of days per year when locations receive more than 1, 2, or 3 inches of precipitation is an indicator of how often very heavy precipitation events occur. This measurement may also be used as an indicator of flood risk.<br /><br />Comparing the number of days with heavy precipitation at a single location over time can reveal a trend of increasing or decreasing flood risk."></span>

                  <li tabindex="21" rel="days_pcpn_gt_2in" class="default-select-option with-tip varriable-option-item float-left">Days w/ > 2 in Precipitation</li>
                  <span tabindex="21" rel="days_pcpn_gt_2in" id="days_pcpn_gt_2in-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Days with Precipitation Above 2 inches</strong><hr/><br />The number of days per year when locations receive more than 1, 2, or 3 inches of precipitation is an indicator of how often very heavy precipitation events occur. This measurement may also be used as an indicator of flood risk.<br /><br />Comparing the number of days with heavy precipitation at a single location over time can reveal a trend of increasing or decreasing flood risk."></span>

                  <li tabindex="22" rel="days_pcpn_gt_3in" class="default-select-option with-tip varriable-option-item float-left">Days w/ > 3 in Precipitation</li>
                  <span tabindex="22" rel="days_pcpn_gt_3in" id="days_pcpn_gt_3in-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Days with Precipitation Above 3 inches</strong><hr/><br />The number of days per year when locations receive more than 1, 2, or 3 inches of precipitation is an indicator of how often very heavy precipitation events occur. This measurement may also be used as an indicator of flood risk.<br /><br />Comparing the number of days with heavy precipitation at a single location over time can reveal a trend of increasing or decreasing flood risk."></span>

                  <li tabindex="23" rel="days_dry_days" class="default-select-option with-tip varriable-option-item float-left">Dry Days</li>
                  <span tabindex="23" rel="days_dry_days" id="days_dry_days-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Dry Days</strong><hr/><br />The number of dry days per year—days when precipitation is less than 0.01 inches—gives a sense of the portion of the year when no moisture is being added to the environment. Changes in the number of dry days can indicate a tendency toward drier or wetter conditions.<br /><br />The graph for this variable shows counts of Dry Days. To help users perceive trends in numbers of dry days over time however, the map shows dry days as the projected annual number of dry days for each decade minus the 1961-1990 average. Positive values indicate more dry days while negative values indicate fewer dry days."></span>

                  <div icon="fas fa-bacon select-icon" class="default-select-option-group">
                    <i class="fas fa-bacon select-icon"></i>Other
                  </div>

                  <li tabindex="24" rel="cdd_65f" class="default-select-option with-tip varriable-option-item float-left">Cooling Degree Days</li>
                  <span tabindex="24" rel="cdd_65f" id="cdd_65f-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Cooling Degree Days</strong><hr/><br />The number of cooling degree days at any location reflects the amount of energy people use to cool a building when it is warm outside. Higher numbers of cooling degree days indicate higher demand for energy.<br /><br />Cooling degree days measure how much (in degrees), and for how long (in days), outside air temperature is higher than 65°F. For example, on a day when the average outdoor temperature is 85°F, reducing the indoor temperature to 65°F would require 20 degrees of cooling multiplied by 1 day, or 20 cooling degree days. Engineers and utility companies use a location’s annual number of cooling degree days as one input when estimating demand for energy in the warm season."></span>

                  <li tabindex="25" rel="gdd" class="default-select-option with-tip varriable-option-item float-left">Growing Degree Days</li>
                  <span tabindex="25" rel="gdd" id="gdd-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Growing Degree Days</strong><hr/><br />The number of growing degree days per year is used to estimate the growth and development of plants (or insects) during the growing season. Higher numbers of growing-degree days indicate longer and warmer growing conditions.<br /><br />As growth occurs only when temperature exceeds a species’ base temperature (for example, 50°F), the number of days times the number of degrees above the base indicates the duration and magnitude of growing conditions."></span>

                  <li tabindex="26" rel="hdd_65f" class="default-select-option with-tip varriable-option-item float-left">Heating Degree Days</li>
                  <span tabindex="26" rel="hdd_65f" id="hdd_65f-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Heating Degree Days</strong><hr/><br />The number of heating degree days at any location reflects the amount of energy people use to heat a building when it is cool outside. Lower numbers of heating degree days indicate lower demand for energy.<br /><br />Heating degree days measure how much (in degrees), and for how long (in days), outside air temperature is below 65°F. For example, on a day when the average outdoor temperature is 35°F, raising the indoor temperature to 65°F would require 30 degrees of heating multiplied by 1 day, or 30 heating degree days. Engineers and utility companies use a location’s annual number of heating degree days as one input when estimating demand for energy in the cold season."></span>

                  <li tabindex="27" rel="gddmod" class="default-select-option with-tip varriable-option-item float-left">Modified Growing Degree Days</li>
                  <span tabindex="27" rel="gddmod" id="gddmod-tooltip" class="fas fa-question-circle padding-horrizontal-half varriable-option-tooltip float-right" data-tippy-content="<strong>Modified Growing Degree Days</strong><hr/><br />Corn growers use the number of modified growing degree days to monitor the development of corn crops.<br /><br />As corn development occurs only when temperature is above 50°F but below 86°F, the standard calculation for growing-degree days is modified to omit conditions outside this range. In future decades, regions where temperatures regularly exceed 86°F may be less successful in growing corn."></span>
                </ul>
              </div>
            </div>


            <a id="chartmap-btn-chart-link"  href="../local-climate-charts" class="d-none"></a>
            <a id="chartmap-btn-map-link"  href="../local-climate-maps" class="d-none">Map</a>
            <div id="chartmap-wrapper" class="padding-horrizontal-half padding-vertical-half default-btn-height d-flex-center width-20">
              <div tabindex="28" id="btn-chart" class="btn-chart btn-default-selected circle-box-left d-flex-center width-50" val="chart" nav="local-climate-charts" link="chartmap-btn-chart-link" sel="chartmap-select-vis">
                Chart
              </div>
              <div tabindex="29" id="btn-chart" class="btn-map btn-default circle-box-right d-flex-center width-50"  nav="local-climate-maps"  val="map" link="chartmap-btn-map-link" sel="chartmap-select-vis">
                Map
              </div>
            </div>

            <div id="chartmap-select-wrapper" class="rounded-choice-box padding-horrizontal-half padding-vertical-half default-btn-height d-flex-center width-20">
              <div class="select chartmap-select">
                <div tabindex="30" id="chartmap-select-vis" class="select-styled" rel="chart">Chart</div>
                <ul class="select-options">
                  <li tabindex="30" id="chartmap-select-chart-link" rel="chart" class="default-select-option" nav="local-climate-charts" link="chartmap-btn-chart-link" >Chart</li>
                  <li tabindex="31" id=chartmap-select-map-link"" rel="map" class="default-select-option" nav="local-climate-maps" link="chartmap-btn-map-link">Map</li>
                </ul>
                </ul>
              </div>
            </div>

            <div id="time-wrapper" class="padding-horrizontal-half padding-vertical-half default-btn-height d-flex-center width-20">
              <div tabindex="32" id="btn-chart" class="btn-annual btn-default-selected circle-box-left d-flex-center width-50" val="annual" sel="time-select-vis">
                Annual
              </div>
              <div tabindex="33" id="btn-chart" class="btn-monthly btn-default circle-box-right d-flex-center width-50" val="monthly" sel="time-select-vis" >
                Monthly
              </div>
            </div>

            <div id="time-select-wrapper" class="rounded-choice-box padding-horrizontal-half padding-vertical-half default-btn-height d-flex-center width-20">
              <div class="select time-select">
                <div tabindex="34" id="time-select-vis" class="select-styled" rel="annual">Annual</div>
                <ul class="select-options">
                  <li tabindex="35" rel="annual" class="default-select-option">Annual</li>
                  <li tabindex="36" rel="monthly" class="default-select-option">Monthly</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div id="chart-row" class="padding-horizontal padding-top-half padding-bottom-half d-flex-row flex-justify" >

          <div class="chart-wrap d-flex d-flex-center width-100 height-80">
            <div id="chart-123" class="chart-canvas width-100 height-100" data-chart-ID="123"></div>
          </div>
          <div id="annual-slider-wrapper" class="slider-wrap padding-default width-100 d-flex-center d-none">
            <div id="slider-value-low" class="width-10 height-100"></div>
            <div id="slider-range" class="width-80 height-25"></div>
            <div id="slider-value-high" class="width-10 height-100"></div>
          </div>

          <div id="legend-wrapper" class="padding-horrizontal-half default-btn-height d-flex-center">
            <div tabindex="37" id="btn-chart" class="btn-histobs circle-box-left d-flex-center width-50" val="histobs" >
              Historical Observed
            </div>
            <div tabindex="38" id="btn-chart" class="btn-hismod selected d-flex-center width-50" val="hist_mod"  >
              Historical Modeled
            </div>
            <div tabindex="39" id="btn-chart" class="btn-lower-emissions selected  d-flex-center width-50" val="rcp45"  >
              Lower Emissions
            </div>
            <div tabindex="40" id="btn-chart" class="btn-higher-emissions selected circle-box-right d-flex-center width-50" val="rcp85"  >
              Higher Emissions
            </div>
          </div>

          <div id="monthly-select-wrapper" class="padding-horrizontal-half padding-vertical-half default-btn-height d-flex-center d-none width-60">
            <div tabindex="41" id="btn-chart" class="btn-default-selected circle-box-left d-flex-center width-33" val="2025" >
              Centered on 2025
            </div>
            <div tabindex="42" id="btn-chart" class="btn-default circle-box-middle d-flex-center width-33" val="2050"  >
              Centered on 2050
            </div>
            <div tabindex="43" id="btn-chart" class="btn-default circle-box-right d-flex-center width-33" val="2075"  >
              Centered on 2075
            </div>
          </div>
      </div>
      </div>
    </div>

{{> nav_footer }}
{{> footer }}

<script src="https://unpkg.com/terraformer@1.0.8/terraformer.js" integrity="sha384-+M797Pj3WZVCwMmLbOxAoaWYcKJo8NSxItmI48ytcLNeAnfn1d/IckFn31jEqrzP"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/terraformer-arcgis-parser@1.0.5/terraformer-arcgis-parser.js"
        integrity="sha384-duFUjKTSNoxEspdJNwr83CUgRxclf0ueKJB9DU/Vbit6bfWgzvZsHW6H1JLBBXhp" crossorigin="anonymous"></script>
<script type="text/javascript" src="/resources/js/ce3-ui-components.js"></script>
<script type="text/javascript" src="/resources/js/local-climate-charts.js"></script>
<script type="text/javascript" src="/resources/js/nouislider.min.js"></script>
</body>
</html>
