#cards-viewport {
  background-color: $white;
  height: calc(100% - 48px - 120px) !important;
  overflow: auto !important;
  flex: 1 1 auto !important;

  @media screen and (max-width: 900px) {
    height: calc(100% - 36px - 12px - 120px) !important;
  }

  @media screen and (max-width: 788px) {
    height: calc(100% - 36px - 12px - 188px) !important;
  }

  @media screen and (max-width: 500px) {
    height: calc(100% - 48px - 12px - 210px) !important;
  }
}

#data-card {
  width: 33%  !important;
  height: 50% !important;
  @include border-radius(5px, 5px);
  border: 1px solid $ce3-border-color !important;

  @media screen and (max-width: 1240px) {
    width: 90% !important;
    height: auto !important;
    margin: $ce3-padding-half !important;
  }

  @media screen and (max-width: 768px) {
    width: 90% !important;
    height: auto !important;
  }
}

#card-row {
  justify-content: space-evenly !important;
  height: auto !important;
  // padding-top: $ce3-padding-half !important;

  @media screen and (max-width: 1240px) {
    justify-content: center !important;
    height: auto !important;
    min-height: unset !important;
  }
}

#info-row, #search-row {
  width: 100% !important;
  align-self: center !important;

  @media screen and (max-width: 1240px) {
    width: 90% !important;
  }

  @media screen and (max-width: 768px) {
    width: 90% !important;
  }
}

#card-image-row {
  background-color: $ce3-blue3 !important;
  justify-content: center !important;
  align-content: center !important;
}

#card-text {
  background-color: $ce3-blue3 !important;
  color: $ce3-blue6 !important;
  flex: 1 1 80px !important;
  padding: $ce3-padding-half !important;
  height: 80px !important;
  min-height: 80px !important;
  @media screen and (max-width: 768px) {
    min-height: auto !important;
  }
}

#card-title-icon {
  font: 700 18px $roboto !important;
  padding-bottom: $ce3-padding-half !important;
  max-height: 28px;
}

.card-title {
  font-size: 18px !important;

  @media screen and (max-width: 500px) {
    font-size: 18px !important;
  }

  flex: 1 1 auto !important;
  align-self: center !important;
}

.card-icon {
  flex: 0 0 auto !important;
  font-size: 24px !important;
}

.card-image {
  height: auto !important;
  @include border-radius(5px, 5px);
  max-width: 100% !important;
  align-self: center !important;
  padding: 1px !important;
}

#card-description {
  font-size: 14px !important;
}
