#cards-viewport {
  background-color: $white;
  height: calc(100% - 48px - 6px - 100px) !important;
  min-height: calc(100% - 48px - 6px - 100px) !important;
  overflow: auto !important;
  flex: 1 1 auto !important;
  margin-bottom: 6px;

  &:after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    top: calc(100% - 105px);
    left: -2px;
    @include box-shadow( inset 0 -2px 2px transparentize(#000, 0.7));
  }

  &.expanded {
    @include medium-expand-bottom {
      min-height: calc(100% - 48px - 12px - 100px) !important;
      height: calc(100% - 48px - 12px - 100px) !important;
      &:after {
        top: calc(100% - 117px);
      }
    }

    min-height: calc(100% - 48px - 12px - 170px) !important;
    height: calc(100% - 48px - 12px - 170px) !important;
    &:after {
      top: calc(100% - 187px);
    }
  }
}

// .rounded-box-secondary.search-box-secondary {
//   &.nosearch {
//     // border: 1px solid $ce3-error-state;
//     @include box-shadow( inset  0 0 5px $ce3-error-state);
//   }
// }

#cards-search-input {
  &.nosearch {
    border-bottom: 3px solid transparentize($ce3-error-state, .1) !important;

    &:focus::placeholder{
      color: transparentize($ce3-error-state, .6);
    }

    &::placeholder {
      color: $ce3-error-state;
    }
  }
}

#data-card {
  cursor: pointer;
  width: 32%  !important;
  height: auto !important;
  @include border-radius(5px, 5px);
  border: 1px solid $ce3-blue3 !important;

  @include large {
    width: 90% !important;
    height: auto !important;
    margin: $ce3-padding-half !important;
  }

  @include small {
    width: 90% !important;
    height: auto !important;
  }
}

#card-row {
  justify-content: space-evenly !important;
  height: auto !important;
  flex-flow: row nowrap !important;
  padding-right: $ce3-default-padding !important;
  left: $ce3-default-padding !important;

  @include large {
    justify-content: center !important;
    height: auto !important;
    min-height: unset !important;
    flex-flow: row nowrap !important;
  }

  @include medium {
    flex-flow: row wrap !important;
    padding-right: $ce3-default-padding/2 !important;
    left: $ce3-default-padding/2 !important;
  }

  @include medium {
    min-height: 912px !important;
  }
}

#card-image-row {
  // background-color: $ce3-blue3 !important;
  justify-content: center !important;
  align-content: center !important;

  @include medium {
    justify-content: start !important;
    align-content: start !important;
  }
}

#card-text {
  background-color: $ce3-blue3 !important;
  color: $ce3-blue6 !important;
  flex: 1 1 85px !important;
  height: 85px !important;
  min-height: 85px !important;

  @include medium {
    flex: 1 1 150px !important;
    height: 150px !important;
    min-height: 150px !important;
  }

  @include tall {
    flex: 1 1 120px !important;
    height: 120px !important;
    min-height: 120px !important;
    @include medium {
      flex: 1 1 85px !important;
      height: 85px !important;
      min-height: 85px !important;
    }
  }

  @include very-tall {
    flex: 1 1 150px !important;
    height: 150px !important;
    min-height: 150px !important;
    @include medium {
      flex: 1 1 85px !important;
      height: 85px !important;
      min-height: 85px !important;
    }
  }

  padding-top: $ce3-default-horizontal-padding/2 !important;
  padding-bottom: $ce3-default-horizontal-padding/2 !important;
  padding-left: $ce3-default-horizontal-padding !important;
  padding-right: $ce3-default-horizontal-padding !important;

  @include medium {
    padding-top: $ce3-default-horizontal-padding/2 !important;
    padding-bottom: $ce3-default-horizontal-padding/2 !important;
    padding-left: $ce3-default-horizontal-padding/2 !important;
    padding-right: $ce3-default-horizontal-padding/2 !important;
  }

  @include small {
    min-height: auto !important;
  }
}

#card-title-icon {
  font: 700 18px $roboto !important;
  padding-bottom: $ce3-padding-half !important;
  max-height: 28px;
}

.card-title {
  font-size: 18px !important;

  @include very-small  {
    font-size: 18px !important;
  }

  flex: 1 1 auto !important;
  align-self: center !important;

  a {
    color: $ce3-blue6 !important;
    text-decoration: none !important;
  }
}

.card-icon {
  flex: 0 0 auto !important;
  font-size: 24px !important;
  margin-right: 12px !important;
}

.card-image {
  height: auto !important;
  @include border-radius(5px, 5px);
  max-width: 100% !important;
  align-self: center !important;
  padding: 1px !important;

  @include medium {
    align-self: start !important;
  }
}

#card-description {
  font-size: 14px !important;
}
