.page-type-case {
  #viewport {
    overflow: hidden;
    
    #main-content-wrap {
      @include full-size;
    }
    
    #map {
      @include full-size;
    }
  }
  
  #case-menu {
    li {
      position: static;
    }
    
    .ui-state-highlight {
      background: $blue3;
    }
    
    .legend {
      position: relative;
      padding: 6%;
      @include transition(background 0.25s);
      @include legacy-clearfix;
      
      .text {
        
      }
      
      .icons {
        .icon {
          padding: 0;
          margin: 0 10px 0 0;
          opacity: 0.5;
          @include transition(0.25s);
          cursor: pointer;
          
          &:hover {
            opacity: 0.75;
          }
          
          &.layer-order {
            cursor: move;
          }
        }
      }
      
      .help {
        display: inline-block;
        background: none;
      }
      
      // sub-layer slider
      
      .sublayer-slider {
        position: relative;
        clear: both;
        margin-top: 10px;
      
        &.ui-slider {
          .ui-slider-handle {
            background: $grey2;
          }
        }
      }
      
      .sublayer-range-values {
        font-size: 0.8em;
        margin-top: 7px;
      }
      
      &.ui-sortable-helper {
        .icon {
          .layer-order {
            opacity: 1;
          }
        }
      }
      
      /*
      
      
      .visibility {
        float: right;
        width: 24px;
        height: 24px;
        margin-top: 0px;
      }*/
      
      // colours
      
      li {
        position: relative;
        margin: 10px 0 0 0;
      }
      
      .color {
        display: block;
        width: 100%;
        height: 0;
        padding: 0 0 30% 0;
      }
      
      .tooltip {
        font-size: 0.875rem;
      }
      
      // info flyout
      
      &.info-on {
        background: transparentize($orange1, 0.08);
        
        .help {
          opacity: 1;
        }
      }
      
      .layer-info {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        width: 210%;
        width: calc(200% + 40px);
        height: auto;
        max-height: 600px;
        padding: 10%;
        background: transparentize($white, 0.1);
        color: $grey1;
        white-space: normal;
        
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: -20px;
          top: 22px;
          width: 0;
          height: 0;
          border: 10px solid $white;
          border-color: transparent $white transparent transparent;
        }
        
        h3 {
          margin: 0 0 10px 0;
          font-size: 1.625rem;
          color: $orange1;
        }
        
        p {
          margin: 0 0 12px 0;
        }
        
        .source-link {
        padding: 0;
          background: transparent;
          color: $blue1;
          display: inline;
        }
        
        .opacity-slider-wrap {
          margin: 5% 0;
          @include legacy-clearfix;
          
          h4 {
            float: left;
            width: 25%;
            font: 0.875rem/1em $roboto;
          }
          
          .opacity-slider {
            position: relative;
            float: left;
            width: 75%;
            margin-top: 3px;
          }
        }
        
        .info-accordion {
          h4 {
            padding: 10px 0;
            outline: none;
            @include transition(0.25s);
            
            &.ui-accordion-header-active {
              color: $orange1;
            }
          }
        }
        
        .actions {
          text-align: right;
          
          a {
            display: inline-block;
            margin: 0 0 0 10px;
            padding: 8px 12px;
            background: $blue3;
            color: $blue1;
            
            .icon {
              margin-right: 10px;
            }
          }
        }
      }
    }
    
    /*li {
      &:last-child,
      &:nth-last-child(2) {
        .layer-info {
          top: auto;
          bottom: 0;
          
          &:before {
            top: auto;
            bottom: 22px;
          }
        }
      }
    }*/
  }
}