// NOTE most of the css will be found _local-climate-charts.scscc
// only when we need to overide or add missing css will the css appear here


.d-off {
  position: absolute;
  left: -1000000px;
}

#high-tide-flooding-viewport {
  background-color: $white;
  height: calc(100% - 48px - 6px - 100px) !important;
  min-height: calc(100% - 48px - 6px - 100px) !important;
  overflow: auto !important;
  flex: 1 1 auto !important;
  margin-bottom: 6px;

  &:after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    top: calc(100% - 105px);
    left: -2px;
    @include box-shadow( inset 0 -2px 2px transparentize(#000, 0.7));
  }

  &.expanded {
    @include medium-expand-bottom {
      min-height: calc(100% - 48px - 12px - 100px) !important;
      height: calc(100% - 48px - 12px - 100px) !important;
      &:after {
        top: calc(100% - 117px);
      }
    }

    min-height: calc(100% - 48px - 12px - 170px) !important;
    height: calc(100% - 48px - 12px - 170px) !important;
    &:after {
      top: calc(100% - 187px);
    }
  }

  #stations-map-wrap {
    min-height: 150px !important
  }

  .map-nostations-message {
    z-index: 500;
    width: 25%;
    position: relative;
    top: -250px;
    left: 150px;
    @include very-small {
      top: -200px !important;
      left: 10% !important;
      width: 80%;
    }
    text-align: center;
    padding: $ce3-default-padding;
    background-color: $ce3-blue5 !important;
    color: $ce3-blue3 !important;
    font: 500 14px $roboto !important;
    border: 1px solid $ce3-blue3alpha !important;
    @include border-radius(5px, 5px);
  }

  #stations-select-wrapper, #tidalzoom-wrapper, #btn-tidalzoom {
     display: flex !important;
     @include medium {
       width: 100% !important;
       margin-top: 6px;
     }
   }

   #btn-tidalzoom {
     &.active {
       background-color: $ce3-blue3 !important;
       color: $ce3-blue5 !important;
       font: 500 14px $roboto !important;
       border: 1px solid $ce3-blue3alpha !important;

       &:focus {
         background-color: lighten($ce3-blue4, 7) !important;
         color: $ce3-blue5 !important;
         border: 1px solid $ce3-blue3alpha !important;
         outline: none !important
       }

       &:hover {
         background-color: lighten($ce3-blue4, 7) !important;
         color: $ce3-blue5 !important;
         border: 1px solid $ce3-blue3alpha !important;
         outline: none !important
       }
     }
   }
   #chartmap-wrapper {
     width: 30% !important;
   }

   #stations-map-row {
     @include medium-min {
       height: calc(100% - 48px - 6px - 140px ) !important;
       &.closed-filters {
         height: calc(100% - 48px - 6px - 80px ) !important;
       }
     }
   }

   #stations-graph-row {
     @include medium-min {
       height: calc(100% - 48px - 6px - 180px ) !important;
       &.closed-filters {
         height: calc(100% - 48px - 6px - 80px ) !important;
       }
     }
   }

   #stations-map-row {
     justify-content: space-evenly !important;
     // height: 100% !important;

     &.closed-filters {
       .stations-map-wrap {
         height: 86% !important;
       }
     }

     #stations-map {
       width: 100%;
       flex-wrap: wrap;

       &:focus {
         outline: none !important;
         border: 0px solid $ce3-blue3alpha !important;
       }
     }

     .esri-view-user-storage {
       height: unset !important;
     }

     #stations-map {
       .movable.slider-div {
         top: 0px !important;
       }
     }

     @include large {
       justify-content: center !important;
     }

     @include medium {
       order: 1;
       padding-bottom: 250px !important;

       #stations-map {
         width: 100%;
         flex-wrap: wrap;
         min-height: 350px !important;
         max-height: 350px !important;
         height: 350px !important;

         .map-wrap {
           min-height: 350px !important;
           height: 350px !important;
         }

         .esri-view-root {
           flex: 0 0 100%;
           height: 100% !important;
           width: 100% !important;
           @include very-small {
            z-index: 200;
          }
         }

         .esri-overlay-surface {
           flex: 0 0 100%;
           height: 100% !important;
           width: 100% !important;
         }

         .esri-view-user-storage {
           overflow: visible !important;
           height: 100% !important;
           width: 100% !important;
           @include medium {
             position: relative !important;
             top: -350px;
           }
         }

         .scenario-map-overlay-container {
           position: relative !important;
           top: 0px !important;
           left: 0px !important;
           width: 100% !important;
           height: 100% !important;
           margin: 0px !important;
         }
       }
     }

     @include very-small {
       height: auto !important;
       order: 1;

       .map-wrap {
         min-height: 250px !important;
         height: 250px !important;
       }
     }
   }

         .tidal-chart {
           width: calc(100% - 40px);
           @include medium {
             width: calc(100%);
           }
           height: 100%;
           background-color: white;
           padding-right: $ce3-padding-half;
         }


         #overlay-chart-container {
           margin: 25px;
           height: 50vh;
           width: calc(100% - 50px);
         }

         #stations-graph-wrap {
           height: 100% !important;
           width: 80%;
           @include medium {
             min-height: 300px !important;
             max-height: 300px !important;
             height: 300px !important;
             display: block !important;
           }
         }

         #stations-map-wrap {
           height: 100%;
           @include medium {
             min-height: 350px !important;
             max-height: 350px !important;
             height: 350px !important;
             display: block !important;
           }
         }

         #station-info-row {
           @include transition(0.5s);
           @include transition-property(all);
           @include transition-timing-function(ease-out)

           #more-info-description {
             padding-left: $ce3-default-padding/2;
           }

           .more-info-description {
             padding-top: $ce3-default-padding/2;
             width: 100%;
           }
           
           @include medium {
             // padding-top: 350px !important;
             min-height: 250px;
             max-height: 250px !important;
             height: 250px !important;
             display: block !important;
           }

           @include small {
             width: 90% !important;
           }
         }

         #stations-map-row, #stations-graph-row {
           align-self: center;
           @include small {
             width: 90% !important;
           }
         }


         #station-overlay {
           height: 100%;
         }

   .text-info-box.label {
     font-weight: 500 !important;
   }

   .esri-expand__container {
     height: 32px;
     width: 32px;
   }

   .legend-image {
     max-height: 16rem;
     max-width: none;
   }

   .esri-ui-top-left .esri-expand__content, .esri-ui-top-right .esri-expand__content {
     top: -32px !important;
   }

   .esri-view-width-xsmall .esri-component.esri-expand.esri-widget.esri-expand--auto {
     display: none !important;
   }

   .esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded {
     position: relative !important;
   }

   .esri-view-width-greater-than-xsmall .esri-expand--auto .esri-expand__content {
     position: relative !important;
   }

   .scenario-map-overlay-container {
     position: relative;
   }

   .esri-view {
     // padding: $ce3-default-padding;
   }

   .esri-view-surface {
     @include border-radius(5px);
   }

   .top-select-wrapper {
     width: 29% !important;
     &-minor {
       width: 5% !important;
     }
   }

   .search-box-secondary {
     @include medium {
       width: 100% !important;
       display: inline-block !important;
     }
   }
}
