// NOTE most of the css will be found _local-climate-charts.scscc
// only when we need to overide or add missing css will the css appear here


.d-off {
  position: absolute;
  left: -1000000px;
}

$animation-duration: 0.4s;

@mixin label-inactive() {
  font-size: 1.2rem;
  transform: translateY(0);
}

@mixin label-active() {
  font-size: 0.75rem;
  transform: translateY(-14px);
}

#historical-thresholds-viewport {
  background-color: $white;
  height: calc(100% - 48px - 100px) !important;
  min-height: calc(100% - 48px - 100px) !important;
  overflow: auto !important;
  flex: 1 1 auto !important;

  input[type=number] {
      height: 30px;
  }

  input[type=number]:hover::-webkit-inner-spin-button {
      width: 14px;
      height: 30px;
  }

  &.expanded {
    @media screen and (min-width: 850px) {
      min-height: calc(100% - 48px - 12px - 100px) !important;
      height: calc(100% - 48px - 12px - 100px) !important
    }

    min-height: calc(100% - 48px - 12px - 170px) !important;
    height: calc(100% - 48px - 12px - 170px) !important
  }

  #stations-map-wrap {
    min-height: 150px !important
  }


      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button
      {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type=number]
      {
        -moz-appearance: textfield;
      }

      @mixin label-inactive() {
        font: 500 14px Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif !important;
        transform: translateY(0);
      }

      @mixin label-active() {
        font: 500 12px Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif !important;
        transform: translateY(-28px);
      }

      .threshold-button.threshold-up,
        .window-button.window-up {
        z-index: 500;
        cursor: pointer;
        float: right;
        position: relative;
        height: $ce3-btnheight;
        width: $ce3-btnheight;
        top: 0px;
        left: 0px;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: $ce3-blue6;
        @include border-bottom-right-radius(5px);
        @include border-top-right-radius(5px);
        border: 1px solid transparentize($ce3-blue3, 0.5);
        &:hover, &:focus {
          outline: none;
          background-color: darken($ce3-blue6, 10) !important;
        }
      }

      .threshold-button.threshold-down,
        .window-button.window-down{
        z-index: 500;
        cursor: pointer;
        float: left;
        font: 700 16px Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif !important;
        position: relative;
        bottom: 0px;
        left: 0px;
        height: $ce3-btnheight;
        width: $ce3-btnheight;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: $ce3-blue6;
        @include border-top-left-radius(5px);
        @include border-bottom-left-radius(5px);
        border: 1px solid transparentize($ce3-blue3, 0.5);
        &:hover, &:focus {
          outline: none;
          background-color: darken($ce3-blue6, 10) !important;
        }
      }

      .form-field {
        display: block;
        // margin-bottom: 16px;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
        height: $ce3-btnheight !important;
        line-height: $ce3-btnheight !important;
      }

      .form-field-label {
        @include label-active();
        white-space: pre;
        display: block;
        font-weight: normal;
        left: -24px;
        margin: 0;
        // padding: 26px 6px;
        position: absolute;
        top: 10px;
        transition: all $animation-duration;
        width: 100%;
        height: 18px !important;
      }

      .form-field-control {
        background: $ce3-blue5;
        line-height: $ce3-btnheight !important;
        // @include border-top-left-radius(5px);
        // @include border-top-right-radius(5px);
        // overflow: hidden;
        position: relative;
        width: 100%;
      }

      .form-field-bar {
        // border-bottom: 2px solid $ce3-blue3;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        transform: scaleX(0);
        transition: all $animation-duration;
        width: 1%;
      }

      .form-field-input {
        appearance: none;
        float: left;
        background: transparent;
        border: 0;
        border-bottom: 1px solid $ce3-blue3;
        border-top: 1px solid $ce3-blue3;
        color: $ce3-blue3;
        display: block;
        font: 500 14px Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif !important;
        // margin-top: 24px;
        outline: 0;
        padding: $ce3-default-padding; //$ce3-default-padding 0 $ce3-default-padding;
        width: 100%;

        // IE 10-11
        &:-ms-input-placeholder {
          ~ .form-field-label {
            @include label-inactive();
          }
        }
        // All other browsers except Edge
        &:placeholder-shown {
          ~ .form-field-label {
            @include label-inactive();
          }
        }

        &:focus {
          ~ .form-field-label {
            color: $ce3-blue3;
            @include label-active();
          }
          ~ .form-field-bar {
            // border-bottom: 2px solid $ce3-blue3;
            transform: scaleX(150);
          }
        }
      }

  .map-nostations-message {
    z-index: 500;
    width: 25%;
    position: relative;
    top: -250px;
    left: 150px;
    @media screen and (max-width: 500px) {
      top: -200px !important;
      left: 10% !important;
      width: 80%;
    }
    text-align: center;
    padding: $ce3-default-padding;
    background-color: $ce3-blue5 !important;
    color: $ce3-blue3 !important;
    font: 500 14px $roboto !important;
    border: 1px solid $ce3-blue3alpha !important;
    @include border-radius(5px, 5px);
  }

  #stations-select-wrapper, #threshold-variable-select-wrapper,
  #threshold_value_form_field, #window_value_form_field {
     display: flex !important;
     padding-right: 24px !important;
     @media screen and (max-width: 900px) {
       padding-right: 0px !important;
       width: 100% !important;
       margin-top: 6px;
     }
   }

   #threshold_value_form_field, #window_value_form_field {
     @media screen and (max-width: 900px) {
       margin-top: 36px;
     }
   }

   #btn-tidalzoom {
     &.active {
       background-color: $ce3-blue3 !important;
       color: $ce3-blue5 !important;
       font: 500 14px $roboto !important;
       border: 1px solid $ce3-blue3alpha !important;

       &:focus {
         background-color: lighten($ce3-blue4, 7) !important;
         color: $ce3-blue5 !important;
         border: 1px solid $ce3-blue3alpha !important;
         outline: none !important
       }

       &:hover {
         background-color: lighten($ce3-blue4, 7) !important;
         color: $ce3-blue5 !important;
         border: 1px solid $ce3-blue3alpha !important;
         outline: none !important
       }
     }
   }
   #chartmap-wrapper {
     width: 20% !important;
   }


   #stations-map-row {
     justify-content: space-evenly !important;
     height: 100% !important;

     &.closed-filters {
       .map-wrap {
         height: 86% !important;
       }
     }

     #stations-map {
       width: 100%;
       flex-wrap: wrap;

       &:focus {
         outline: none !important;
         border: 0px solid $ce3-blue3alpha !important;
       }
     }

     .esri-view-user-storage {
       height: unset !important;
     }

     #stations-map {
       .movable.slider-div {
         top: 0px !important;
       }
     }

     @media screen and (max-width: 1240px) {
       justify-content: center !important;
     }

     @media screen and (max-width: 900px) {
       order: 1;
       padding-bottom: 250px !important;

       #stations-map {
         width: 100%;
         flex-wrap: wrap;
         min-height: 350px !important;
         max-height: 350px !important;
         height: 350px !important;

         .map-wrap {
           min-height: 350px !important;
           height: 350px !important;
         }

         .esri-view-root {
           flex: 0 0 100%;
           height: 100% !important;
           width: 100% !important;
           @media screen and (max-width: 500px) {
            z-index: 200
           }
         }

         .esri-overlay-surface {
           flex: 0 0 100%;
           height: 100% !important;
           width: 100% !important;
         }

         .esri-view-user-storage {
           overflow: visible !important;
           height: 100% !important;
           width: 100% !important;
           @media screen and (max-width: 900px) {
             position: relative !important;
             top: -350px;
           }
         }

         .scenario-map-overlay-container {
           position: relative !important;
           top: 0px !important;
           left: 0px !important;
           width: 100% !important;
           height: 100% !important;
           margin: 0px !important;
         }
       }
     }

     @media screen and (max-width: 500px) {
       height: auto !important;
       order: 1;

       .map-wrap {
         min-height: 250px !important;
         height: 250px !important;
       }
     }
   }

         .tidal-chart {
           width: calc(100% - 40px);
           @media screen and (max-width: 900px) {
             width: calc(100%);
           }
           height: 100%;
           background-color: white;
           padding-right: $ce3-padding-half;
         }


         #overlay-chart-container {
           margin: 25px;
           height: 50vh;
           width: calc(100% - 50px);
         }

         #stations-graph-wrap {
           height: 100% !important;
           width: 80%;
           @media screen and (max-width: 900px) {
             min-height: 300px !important;
             max-height: 300px !important;
             height: 300px !important;
             display: block !important;
           }
         }

         #stations-map-wrap {
           height: 100%;
           @media screen and (max-width: 900px) {
             min-height: 350px !important;
             max-height: 350px !important;
             height: 350px !important;
             display: block !important;
           }
         }

         #station-info-row {
           @media screen and (max-width: 900px) {
             // padding-top: 350px !important;
             min-height: 250px;
             max-height: 250px !important;
             height: 250px !important;
             display: block !important;
           }
         }

         #stations-map-row, #stations-graph-row, #station-info-row {
           align-self: center;
           @media screen and (max-width: 768px) {
             width: 90% !important;
           }
         }

         #station-overlay {
           height: 100%;
         }

   .text-info-box.label {
     font-weight: 500 !important;
   }

   .esri-expand__container {
     height: 32px;
     width: 32px;
   }

   .legend-image {
     max-height: 16rem;
     max-width: none;
   }

   .esri-ui-top-left .esri-expand__content, .esri-ui-top-right .esri-expand__content {
     top: -32px !important;
   }

   .esri-view-width-xsmall .esri-component.esri-expand.esri-widget.esri-expand--auto {
     display: none !important;
   }

   .esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded {
     position: relative !important;
   }

   .esri-view-width-greater-than-xsmall .esri-expand--auto .esri-expand__content {
     position: relative !important;
   }

   .scenario-map-overlay-container {
     position: relative;
   }

   .esri-view {
     // padding: $ce3-default-padding;
   }

   .esri-view-surface {
     @include border-radius(5px);
   }

}
