$home-text-transparency: .25;
#home-viewport {
  margin: 24px;
  height: calc(100% - 132px) !important;
  min-height: 420px !important;

  &:after{
    content: '';
    background: url(/resources/img/bg_splash-pinal.jpg) center no-repeat;
    position: absolute;
    top: 80px;
    left: 0;
    opacity: 0.25;
    height: calc(100% - 128px) !important;
    width: calc(100% - 48px);
    z-index: -1;
    margin: 24px;
    background-size: cover;
    min-height: 420px !important;
    @include very-small {
      top: 48px;
      height: calc(100% - 48px) !important;
    }
  }

  @include small {
    height: calc(100% - 48px) !important;
  }
}

#home-text {
  padding-top: $ce3-default-padding*5;
  margin-bottom: $ce3-default-padding;
  margin-bottom:  $ce3-default-padding;
  @include small {
    padding-top: 60px;
  }
}

.search-row {
  flex: 1 1 auto !important;
  padding-right: 5% !important;
  padding-left: 5% !important;

  @include medium {
    .icon-search:before {
      position: relative;
      top: 5px;
      left: 5px;
    }
  }
}

#suggested-cities {
  margin-top: $ce3-default-padding;
  @include border-radius(5px, 5px);
  padding: $ce3-default-padding
}

.home-container {
  align-content: start;
}

.describe-main {
  font: $font-weight-normal 24px $roboto !important;
  color: $blue2;
  max-height: 100px !important;
  @include border-radius(5px, 5px);

  @include medium {
    max-height: 250px !important;
    height: auto !important;
    padding-bottom: $ce3-padding-half !important;
  }
}

.describe-main-secondary {
  font: $font-weight-normal 18px $roboto !important;
  color: $blue2;
  max-height: 100px !important;
  @include border-radius(5px, 5px);

  @include medium {
    max-height: 250px !important;
    height: auto !important;
    padding-bottom: $ce3-padding-half !important;
  }
}

.rounded-box {
  @include border-radius(5px, 5px);
  @include box-shadow(0px 2px 4px transparentize(#000, 0.761));
}

.input-outer {
  background-color: $ce3-blue5;
  color: $ce3-blue3;
}

input.input-inner {
  background-color: $ce3-blue5;
  color: $ce3-blue3;
  font: $font-weight-heavy 24px $roboto !important;
}

input.input-inner::placeholder  {
  background-color: $ce3-blue5;
  color: $ce3-blue3;
  font: 800 24px $roboto !important;
}

input.input-inner:focus::placeholder  {
  color: $ce3-blue3alpha;
  font: $font-weight-heavy 24px $roboto !important;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

input.input-inner:focus  {
  outline: none !important;
}

.search-main {
  $icon-rect-size: 40px;
  width: $icon-rect-size;
  height: $icon-rect-size;
  background-color: $ce3-blue6;
  @include border-radius($icon-rect-size, $icon-rect-size);
  margin-top: 10px;
  font-size: 18px;
  font-weight: $font-weight-heavy;
}

.main-logos {
  flex: 0 1 $ce3-main-bottom !important;
  margin-right: -24px !important;
  position: relative;
  top: $ce3-default-padding;
  padding-right: $ce3-default-padding;

  @include medium {
    top: 6px;
    margin-right: -$ce3-default-padding !important;
    padding-right: $ce3-default-padding/2;
  }

  @include small {
    top: -42px;
  }

  @include very-small {
    top: -8px;
  }

  @include tiny {
    top: -8px;
  }


  a {
    background-color: $ce3-blue6;
    width: $ce3-main-logo-height;
    height:$ce3-main-logo-height;
  }

  #global-change {
    width: 120px;
    padding-right: $ce3-default-padding;
  }
}
