#home-splash {
  @include full-size;
  overflow: hidden;
}

#home-cycle {
  @include full-size;
  z-index: 1;
  
  .slide {
    @include full-size;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .slide-text {
    position: absolute;
    left: 50%;
    bottom: 5%;
    width: 20%;
    
    span {
      display: block;
    }
    
    .icon {
      float: left;
      font-size: 2rem;
      color: $orange1;
    }
    
    .title {
      margin: 0 0 8px 50px;
      color: $orange1;
      font: 0.75rem/1em $sans-heavy;
    }
    
    .location {
      margin: 0 0 0 50px;
      color: $blue1;
      font: 0.75rem/1em $sans-heavy;
    }
  }
  
  #splash-1 {
    background-image: url(../img/bg_splash-sevenmile.jpg);
  }
  
  #splash-2 {
    background-image: url(../img/bg_splash-carboncounty.jpg);
  }
}

#home-text {
  position: absolute;
  top: 0%;
  left: 6%;
  width: 64%;
  padding-top: 10%;
  z-index: 2;
  mix-blend-mode: hard-light;
  color: $blue2;
  
  h1 {
    margin: 0 0 20px 0;
  }
  
  p {
    font: 1.375rem/1.5em $roboto;
    width: 75%;
  }
}

#home-menu {
  position: absolute;
  top: 25%;
  right: 6%;
  min-width: 25%;
  border: 10px solid $white;
  font: 1.125rem/1em $sans-heavy;
  z-index: 4;
}

#page-home {
  #main-content-wrap {
    position: relative;
    height: 100%;
    margin: 0;
  }
  
  #logos {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $white;
    padding: 0.5% 0 0 0.5%;
    text-align: right;
    z-index: 3;
    
    a {
      display: block;
      float: right;
      width: 60px;
      height: 60px;
    }
    
    #h7 {
      width: auto;
      padding: 10px;
      font-size: 0.75rem;
      line-height: 1.25em;
      text-align: left;
      color: $blue2;
      
      span {
        display: block;
        float: left;
      }
      
      .logo {
        width: 30px;
        height: 30px;
        margin: 2px 8px 0 0;
        background: url(../img/habitatseven.png) no-repeat center;
        background-size: 100% auto;
      }
      
      .text {

      }
    }
  }
}