// NOTE most of the css will be found _local-climate-charts.scscc
// only when we need to overide or add missing css will the css appear here

#local-climate-maps-viewport {
  background-color: $white;
  height: calc(100% - 48px - 6px - 100px) !important;
  min-height: calc(100% - 48px - 6px - 100px) !important;
  overflow: auto !important;
  flex: 1 1 auto !important;
  margin-bottom: 6px;

  &:after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    top: calc(100% - 105px);
    left: -2px;
    @include box-shadow( inset 0 -2px 2px transparentize(#000, 0.7));
  }

  &.expanded {
    @include medium-expand-bottom {
      min-height: calc(100% - 48px - 12px - 100px) !important;
      height: calc(100% - 48px - 12px - 100px) !important;
      &:after {
        top: calc(100% - 117px);
      }
    }

    min-height: calc(100% - 48px - 12px - 170px) !important;
    height: calc(100% - 48px - 12px - 170px) !important;
    &:after {
      top: calc(100% - 187px);
    }
  }

  .top-select-wrapper {
    width: 29% !important;
    &-minor {
      width: 5% !important;
    }
  }

  .search-box-secondary {
    @include medium {
      width: 100% !important;
      display: inline-block !important;
    }
  }
}

.map-nodata-message {
  z-index: 500;
  width: 50%;
  position: relative;
  top: -250px;
  left: 150px;
  @include very-small {
    top: -200px !important;
    left: 10% !important;
    width: 80%;
  }
  text-align: center;
  padding: $ce3-default-padding;
  background-color: lighten($ce3-warning-state, 30)!important;
  color: $ce3-warning-state !important;
  font: 500 14px $roboto !important;
  border: 1px solid $ce3-warning-state !important;
  @include border-radius(5px, 5px);
}


#map-for-print-left , #map-for-print-right {
  .legend {
    margin: $ce3-default-padding;
    padding: $ce3-default-padding;
    background-color: white;
    position: relative;
    top: 34px;
  }
}

#map-row {
  justify-content: space-evenly !important;
  // height: 100% !important;

  @include medium-min {
    height: calc(100% - 205px) !important;
  }

  &.closed-filters {
    height: calc(100% - 135px) !important;
    // .map-wrap {
      // height: calc(100% + 40px) !important;
    // }
  }

  #temperature-map {
    width: 100%;
    flex-wrap: wrap;
  }

  .scenario-map-legend-container {
    .legend-unit-label {
      font: 500 14px $roboto !important;
      padding-bottom: $ce3-padding-half;
    }
  }

  .scenario-map-overlay-container {
    position: absolute !important;
  }

  .esri-view-user-storage {
    height: unset !important;
  }

  .bottom-scenario-controls .rounded-choice-box {
    min-height: 100% !important;
    max-height: 100% !important;
    background-color: $ce3-blue5 !important;

    &:hover, &:focus {
      background-color: darken($ce3-blue5, 7) !important;
      outline: none !important;
    }
  }

  #temperature-map {
    .movable.slider-div {
      top: 0px !important;
    }
  }

  @include large {
    justify-content: center !important;
  }

  @include medium {
    order: 1;
    padding-bottom: 250px !important;

    #temperature-map {
      width: 100%;
      flex-wrap: wrap;
      min-height: 350px !important;
      max-height: 350px !important;
      height: 350px !important;

      .esri-view-root {
        flex: 0 0 100%;
        height: 100% !important;
        width: 100% !important;
      }

      .esri-overlay-surface {
        flex: 0 0 100%;
        height: 100% !important;
        width: 100% !important;
      }

      .esri-view-user-storage {
        overflow: visible !important;
        height: 100% !important;
        width: 100% !important;
      }

      .scenario-map-overlay-container {
        position: relative !important;
        top: 0px !important;
        left: 0px !important;
        width: 100% !important;
        height: 100% !important;
        margin: 0px !important;
      }

      .movable.slider-div {
        height: 350px;
        top: -350px !important;
        z-index: 200;
      }

      .bottom-scenario-controls {
        position: inherit !important;
        top: -175px !important;
        width: 100% !important;
        height: 100% !important;
        padding: 1rem 0rem !important;


        .left-scenario-controls {
          width: 100% !important;
          flex: 1 0 100% !important;
          margin: 0px !important;
          padding-right: 6px;
          position: relative;
          top: -225px;
        }

        .right-scenario-controls {
          width: 100% !important;
          flex: 1 0 100% !important;
          margin: 0px !important;
          padding-left: 6px;
          position: relative;
          top: -225px;
          left: -100%;
        }

        .left-year-slider-container {
          max-width: 90%;
          min-width: 90%;
          width: 90%;
          &:focus, &:hover {
            border-left: 2px $ce3-blue3 solid !important;
          }
        }

        #leftScenario-select-wrapper {
          border-left: 2px $ce3-blue3 solid !important;
        }

        #rightScenario-select-wrapper {
          border-right: 2px $ce3-blue3 solid !important;
        }

        .right-year-slider-container {
          max-width: 90%;
          min-width: 90%;
          width: 90%;
          &:focus, &:hover {
            border-right: 2px $ce3-blue3 solid !important;
          }
        }

        .fs-dropdown-options {
          position: relative;
          left: -150px;
        }

        .left-scenario-dropdown {
          max-width: 90%;
          min-width: 90%;
          width: 90%;
          margin: 0px;
          .fs-dropdown.fs-dropdown-mobile {
            width: 100%;
            min-width: 100%;
            border-left: 2px $ce3-blue3 solid;
          }
        }

        .left-year-slider-container {
          position: relative;
          top: 24px;
          max-width: 90%;
          min-width: 90%;
          width: 90%;
          border-left: 2px $ce3-blue3 solid;
        }

        .right-scenario-dropdown {
          position: relative;
          top: 150px;
          max-width: 90%;
          min-width: 90%;
          width: 90%;
          margin: 0px;
          .fs-dropdown.fs-dropdown-mobile {
            width: 100%;
            min-width: 100%;
            // left: -80%;
            border-right: 2px $ce3-blue3 solid;
          }
        }

        .right-year-slider-container {
          position: relative;
          top: 175px;
          max-width: 90%;
          min-width: 90%;
          width: 90%;
          border-right: 2px $ce3-blue3 solid;
        }
      }
    }

    .map-wrap {
      min-height: 350px !important;
      height: 350px !important;
    }
  }

  @include very-small {
    height: auto !important;
    order: 1;

    .map-wrap {
      min-height: 250px !important;
      height: 250px !important;
    }
  }
}


.esri-expand__container {
  height: 32px;
  width: 32px;
}

.legend-image {
  max-height: 16rem;
  max-width: none;
}

.esri-view-surface .esri-display-object {
  width: 100%;
  height: 100%;
}

.esri-ui-top-left .esri-expand__content, .esri-ui-top-right .esri-expand__content {
  top: -32px !important;
}

.esri-view-width-xsmall .esri-component.esri-expand.esri-widget.esri-expand--auto {
  display: none !important;
}

.esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded {
  position: relative !important;
}

.esri-view-width-greater-than-xsmall .esri-expand--auto .esri-expand__content {
  position: relative !important;
}

.esri-ui-corner .esri-component .esri-expand__content {
    max-height: 260px !important;
    height: 260px;
    @include short {
      max-height: 200px !important;
      height: 200px;
    }
    background-color: $ce3-blue6;
    padding: $ce3-padding-half;
    overflow: hidden;
}

.scenario-map-overlay-container {
  position: relative;
}

.esri-expand__content.esri-expand__content--expanded {
  width: 100px;

  @include short {
    width: 90px;
  }

  .legend-note-label {
    display: none;
  }

  img {
    margin-top: $ce3-padding-half;
    height: 224px;
    width: 76px;
    @include short {
      height: 164px;
      width: 55px;
    }
  }

  .esri-basemap-gallery__item-thumbnail {
    height: 64px;
    width: auto;
    box-shadow: 0 0 0 1px rgba(50,50,50,0.25)
  }
}

.esri-view {
  padding: $ce3-default-padding;
}

.esri-view-surface {
  @include border-radius(5px);
}

.movable {
  width: 4px;
  height: 100%;
  margin: 0;
  padding: 0 !important;
  background: $ce3-blue5;
  z-index: 100;
  cursor: col-resize;
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.15);
  .handle {
    position: relative;
    top: 50%;
    left: -23px;
    width: 48px;
    height: 36px;
    @include border-radius(20px);
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.15);

    &:after {
      cursor: col-resize;
      position: absolute;
      background-color: transparentize($ce3-blue3, 0.04);
      color: $ce3-blue5 !important;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      // @include transform(rotate(-90deg));
      content: '\f0d9\00a0\00a0\00a0\f0da';
      width: 48px;
      height: 36px;
      border-radius: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none !important;
      font-size: 1.25rem;
    }
  }
}

#temperature-map,
.esri-view-root,
.esri-view-surface,
.esri-display-object,
.esri-view,
.esri-bitmap {
  &:focus {
    outline: none !important;
  }
}
