#local-climate-charts-viewport {
  background-color: $white;
  height: calc(100% - 48px - 100px) !important;
  min-height: calc(100% - 48px - 100px) !important;
  overflow: auto !important;
  flex: 1 1 auto !important;

  &:after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    top: calc(100% - 105px);
    left: -2px;
    @include box-shadow( inset 0 -2px 2px transparentize(#000, 0.7));
  }


  &.expanded {
    @include medium-expand-bottom {
      min-height: calc(100% - 48px - 12px - 100px) !important;
      height: calc(100% - 48px - 12px - 100px) !important;
      &:after {
        top: calc(100% - 117px);
      }
    }

    min-height: calc(100% - 48px - 12px - 170px) !important;
    height: calc(100% - 48px - 12px - 170px) !important;
    &:after {
      top: calc(100% - 187px);
    }
  }

  .top-select-wrapper {
    width: 29% !important;
    &-minor {
      width: 5% !important;
    }
  }

  .search-box-secondary {
    @include medium {
      width: 100% !important;
      display: inline-block !important;
    }
  }
}

// make the varriable more visually  important
#varriable-select-wrapper {

  background-color: $ce3-blue3 !important;
  color: $ce3-blue5  !important;
  padding-right: $ce3-padding-half !important;
  margin-right: $ce3-default-padding !important;
  @include medium {
    margin-right: 0px !important;
  }

  &:hover {
    background-color: lighten($ce3-blue4, 7) !important;

    .select-styled {
      background-color: lighten($ce3-blue4, 7) !important;
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
    border: 1px solid $ce3-blue5;
    background-color: $ce3-blue5;

    &-thumb {
      background-color: $ce3-blue2;
      border-radius: 6px;
      -webkit-border-radius: 6px !important;
      -moz-border-radius: 6px !important;
      &:vertical {
        height: 6px;
      }
    }

    &-track {
      border: 1px solid $ce3-blue4;
      background-color: #E9F1FC;
    }

    &-track-piece {
      margin-right: 10px;
      height: 6px;
      width: 6px;
    }

    &-corner {
      display: none;
    }
  }

  .varriable-select {
    color: $ce3-blue5  !important;

    .select {
      color: $ce3-blue5 !important;
    }

    .select-styled {
      // background-color: $ce3-blue3 !important;
      // color: $ce3-blue5 !important;

      a {
        color: $ce3-blue5 !important;
      }

      &.disabled {
        color: $ce3-blue5alpha !important
      }

      &:after {
        background-color: $ce3-blue5 !important;
        color: $ce3-blue3 !important;
      }
    }

    .select-options {
      background-color: $ce3-blue3 !important;
      color: $ce3-blue5  !important;

      a {
        color: $ce3-blue5 !important;
      }
      .default-select-option-disabled {
        color: $ce3-blue5alpha !important;
      }

      li {
        border-top: 1px solid $ce3-blue3;
        a {
          color: $ce3-blue5 !important;
        }
        &:hover {
          color: $ce3-blue5 !important;
          background:  lighten($ce3-blue4, 7)  !important;
        }
      }
    }
  }

}

#stations-select, #downnloads-select, #varriable-select {
  display: none !important;
}

#downloads-select-wrapper, #stations-select-wrapper, {
  background-color: $ce3-blue5;
  color: $ce3-blue3;
  font: 500 14px $roboto !important;

  @include medium {
    display: none !important;
  }
}

#chartmap-select-wrapper, #time-select-wrapper, #presentation-select-wrapper {
  background-color: $ce3-blue5;
  color: $ce3-blue3;
  font: 500 14px $roboto !important;
  margin-left: $ce3-padding-half !important;
  margin-right: $ce3-padding-half !important;
  display: none !important;
  @include medium {
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: auto !important;
    margin-top: $ce3-padding-half !important;
    display: inherit !important;
    width: 100% !important;
    .select-options {
      margin-top: 5px !important;
    }
  }
}

#chartmap-wrapper, #time-wrapper, #presentation-wrapper  {
  @include medium {
    display: none !important;
  }
}

#varriable-select-wrapper, #chartmap-wrapper, #time-wrapper, #presentation-wrapper {
  @include medium {
    height: auto !important;
    width: 100% !important;
    padding-top: $ce3-padding-half !important;
    padding-bottom:  $ce3-padding-half !important;
  }
}

#monthly-select-wrapper {
  #btn-chart {
    width: 100% !important;
    height: 30px !important;
  }

  @include medium {
    flex-flow: row wrap !important;
    height: auto !important;
    width: 100% !important;
    padding-bottom: 24px !important;

    #btn-chart {
      width: 100% !important;
      height: 48px !important;
      padding-top: $ce3-padding-half !important;
      padding-bottom:  $ce3-padding-half !important;
    }

    .circle-box-left {
      @include border-top-radius(5px !important);
      @include border-bottom-radius(0px !important);
    }

    .circle-box-middle {
      @include border-top-radius(0px !important);
      @include border-bottom-radius(0px !important);
    }

    .btn-default-selected.circle-box-left, .btn-default-selected.circle-box-right {
      margin-right: 0px !important;
      margin-left: 0px !important;
    }

    .circle-box-right {
      @include border-top-radius(0px !important);
      @include border-bottom-radius(5px !important);
    }
  }
}

#slider-range {
  width: 90% !important;
  margin: auto !important;
}

.ui-slider-range {
  display: block !important;
  position: relative !important;
  height: 8px !important;
}

.noUi-horizontal {
  height: 8px !important;
}

.noUi-target {
    background: lighten($ce3-blue3, 25) !important;
    border-radius: 8px !important;
    border: 0px transparent transparent;
    box-shadow: unset !important;
}

.noUi-base {
  background: lighten($ce3-blue3, 25) !important;
  border-radius: 18px !important;
}

.noUi-connect {
  background: $ce3-blue3 !important;
}

.noUi-handle {
  cursor: pointer !important;
  background-color: $ce3-blue3 !important;
  height: 14px !important;
  width: 14px !important;
  @include border-radius(14px, 14px !important);
  right: -10px !important;
  box-shadow: unset !important;
  border: unset !important;
  top: -4px !important;

  &:focus {
    outline: none !important;
    @include box-shadow(0px 0px 0px 8px  transparentize($ce3-blue3, 0.75) !important);
  }

  &:hover {
    outline: none !important;
    @include box-shadow(0px 0px 0px 8px  transparentize($ce3-blue3, 0.75) !important);
  }

  &:before, &:after {
    display: none !important;
  }
}

#slider-value-high {
  margin-left: 12px !important
}

#slider-value-low {
  margin-right: 12px !important
}

#slider-value-low, #slider-value-mid, #slider-value-high {
  display: flex;
  font: 500 18px $roboto !important;
  color: $ce3-blue3 !important;
  height: 25px !important;
  width: 50px !important;
  justify-content: center !important;
}

#legend-wrapper {
  padding-top: $ce3-default-padding !important;
  padding-bottom: $ce3-default-padding !important;
  width: 60% !important;
  #btn-chart {
    height: $ce3-btnheight-legends !important
  }

  @include medium {
    height: auto !important;
    flex-wrap: wrap !important;
    order: 3;
    width: 100% !important;
    padding-bottom: $ce3-default-padding !important;
    #btn-chart {
      height: $ce3-btnheight-smallecreen !important;
      width: 100% !important;
    }
    .circle-box-left {
      @include border-top-radius(5px);
      @include border-bottom-radius(0px);
    }
    .circle-box-right {
      @include border-top-radius(0px);
      @include border-bottom-radius(5px);
    }
  }
}

#chart-row {
  justify-content: space-evenly !important;
  height: 100% !important;

  &.closed-filters {
    .chart-wrap {
      height: 86% !important;
    }

    #annual-slider-wrapper {
      height: 7% !important;
    }

    #monthly-select-wrapper {
      height: 7% !important;
    }

    #legend-wrapper {
      height: 7% !important;
    }
  }

  @include large {
    justify-content: center !important;
    height: auto !important;
    min-height: unset !important;
  }

  @include medium {
    height: auto !important;
    order: 1;
    .chart-wrap {
      min-height: 350px !important;
      height: 350px !important;
    }

    &.closed-filters {
      .chart-wrap {
        min-height: 350px !important;
        height: 350px !important;
      }

      #annual-slider-wrapper {
        height: auto !important;
      }

      #monthly-select-wrapper {
        height: auto !important;
      }

      #legend-wrapper {
        height: auto !important;
      }
    }

  }
  @include very-small {
    height: auto !important;
    order: 1;
    .chart-wrap {
      min-height: 250px !important;
      height: 250px !important;
    }
  }
}

#annual-slider-wrapper {
  @include medium {
    height: auto !important;
    order: 2;
    // #slider-range {
    //   // width: 60% !important;
    // }
  }
}

#filters-toggle {
  height: 36px;
  width: 36px;
  margin-top: -13px;
  @include border-radius(36px);

  .select-styled {
    &::after {
      background-color: darken($ce3-blue5, 3);
      content: '\f0d8';
    }
    &.closed-filters {
      &::after {
        font-family: 'Font Awesome 5 Free';
        content: '\f0d7';
      }
    }
  }
}

#filters-row {
  visibility: visible !important;
  @include transition(0.6s);
  @include transition-property(visibility);
  @include transition-timing-function(ease);
}

#info-row {
  &.closed-filters {
    .rounded-filters-box {
      min-height: 52px !important;
      @include medium {
        min-height: 65px !important;
      }
      // max-height:1.2em;
    }

    #filters-row {
      display: none !important;
      visibility: hidden !important;
    }
  }
}
