.page-type-topic {
  #viewport {
    top: 20px;
    height: calc(100% - 40px);
    margin-top: 95px;
  }
  
  #main-content-wrap {
    padding: 2%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  section {
    position: relative;
    margin: 0 0 3% 0;
  }
  
  #subtopics-menu {
    float: left;
    width: 35%;
    
    ul {
      display: block;
      white-space: nowrap;
    }
  }
  
  #subtopics-view-all {
    display: block;
    padding-left: calc(5% + 10px);
    font-size: 1.25rem;
  }
}

#topic-splash {
  @include clearfix;
  
  .splash-text {
    float: left;
    
    h1 {
      font-size: 4.375rem;
    }
  }
  
  
}

.topics-list {
  margin-top: 6%!important;
  
  h2 {
    margin: 0 0 40px 4%;
    margin-left: calc(4% + 10px);
    color: $blue1;
  }
  
  h4 {
    margin: 0 0 40px 0;
  }
  
  article {
    position: relative;
    margin: 0 0 3% 0;
    padding: 8% 4%;
    background-color: $blue2;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: $white;
    border: 10px solid $white;
    @include clearfix;
    
    h3 {
      margin: 0 0 20px 0;
      font: 4.375rem/0.9em $sans-heavy;
      text-transform: uppercase;
      //mix-blend-mode: lighten;
    }
    
    p {
      font: 400 1.25rem/1.5em $roboto;
    }
    
    .button {
      position: absolute;
      bottom: 0;
      right: 0;
      border-right: none;
      border-bottom: none;
    }
  }
  
  .topic-banner-text {
    float: left;
    width: 50%;
    margin: 0 5% 0 0;
  }
  
  .topic-layers {
    float: left;
    width: 40%;
    
    h4 {
      color: $white;
      line-height: 2rem;
    }
    
    li {
      color: $grey1;
    }
  }
}

// sub-topic BGs

// coastal

#page-topic-coastal {
  #main-content-wrap {
    background-image: url(../img/topics/coastal/bg.jpg);
  }
}

#coastal-group1 {
  background-image: url(../img/topics/coastal/1.jpg);
}

#coastal-group2 {
  background-image: url(../img/topics/coastal/2.jpg);
}

#coastal-group3 {
  background-image: url(../img/topics/coastal/3.jpg);
}

#coastal-group4 {
  background-image: url(../img/topics/coastal/4.jpg);
}

#coastal-group5 {
  background-image: url(../img/topics/coastal/5.jpg);
}

#coastal-group6 {
  background-image: url(../img/topics/coastal/6.jpg);
}

#coastal-group7 {
  background-image: url(../img/topics/coastal/7.jpg);
}

// ecosystems

#page-topic-ecosystems {
  #main-content-wrap {
    background-image: url(../img/topics/ecosystems/bg.jpg);
  }
}

#ecosystems-group1 {
  background-image: url(../img/topics/ecosystems/1.jpg);
}

#ecosystems-group2 {
  background-image: url(../img/topics/ecosystems/2.jpg);
}

#ecosystems-group3 {
  background-image: url(../img/topics/ecosystems/3.jpg);
}

// energy

#page-topic-energy {
  #main-content-wrap {
    background-image: url(../img/topics/energy/bg.jpg);
  }
}

#energy-group1 {
  background-image: url(../img/topics/energy/1.jpg);
}

#energy-group2 {
  background-image: url(../img/topics/energy/2.jpg);
}

// health

#page-topic-health {
  #main-content-wrap {
    background-image: url(../img/topics/health/bg.jpg);
  }
}

#health-group1 {
  background-image: url(../img/topics/health/1.jpg);
}

#health-group2 {
  background-image: url(../img/topics/health/2.jpg);
}

// transportation

#page-topic-transportation {
  #main-content-wrap {
    background-image: url(../img/topics/transportation/bg.jpg);
  }
}

#transportation-group1 {
  background-image: url(../img/topics/transportation/1.jpg);
}

#transportation-group2 {
  background-image: url(../img/topics/transportation/2.jpg);
}

// tribal nations

#page-topic-tribal_nations {
  #main-content-wrap {
    background-image: url(../img/topics/tribal_nations/bg.jpg);
  }
}

#tribal_nations-group1 {
  background-image: url(../img/topics/tribal_nations/1.jpg);
}

#tribal_nations-group2 {
  background-image: url(../img/topics/tribal_nations/2.jpg);
}

#tribal_nations-group3 {
  background-image: url(../img/topics/tribal_nations/3.jpg);
}

#tribal_nations-group4 {
  background-image: url(../img/topics/tribal_nations/4.jpg);
}

#tribal_nations-group5 {
  background-image: url(../img/topics/tribal_nations/5.jpg);
}

// water

#page-topic-water {
  #main-content-wrap {
    background-image: url(../img/topics/water/bg.jpg);
  }
}

#water-group1 {
  background-image: url(../img/topics/water/1.jpg);
}

#water-group2 {
  background-image: url(../img/topics/water/2.jpg);
}

#water-group3 {
  background-image: url(../img/topics/water/3.jpg);
}