.scenario-map-overlay-container {
  pointer-events: none;

  .movable {
    pointer-events: auto;
  }

  .bottom-scenario-controls {
    position: relative;
    top: -84px;
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 auto;
    width: 100%;
    pointer-events: none;
    padding: 1rem;
  }

  .left-scenario-controls {
    justify-self: flex-start;
    align-self: flex-end;
    display: flex;
    flex: 1 0 50%;
    justify-content: flex-start;
    flex-flow: row wrap;
    > * {pointer-events: auto;}
  }

  .right-scenario-controls {
    justify-self: flex-end;
    align-self: flex-end;
    display: flex;
    flex: 1 0 50%;
    justify-content: flex-start;
    @include medium {
      flex-flow: row-reverse wrap;
    }
    > * {pointer-events: auto;}
  }

  .left-scenario-dropdown, .right-scenario-dropdown {
    flex: 0 auto;
    width: 14rem;
    margin: 5px;

    @include map-varriables-min-max {
      width: 42% !important;
    }

    &:focus {
      border: none;
      outline: none;
    }

    .dropdown {
      display: block;
      padding: 1rem;
      font-size: 0.8rem;
      line-height: 0.7rem;
      text-align: center;
      background: none;
      color: #2269b3;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: solid #ffffff 1px;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      button {
        background: rgba(255, 255, 255, 0.75);
      }
    }
  }

  .year {
    flex: 1 0 auto;
    max-width: 96%;
    min-width: 20rem;
    height: 2.7rem;
    background-color: $ce3-blue5 !important;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 5px;
    @include transition(0.25s);

    // &:hover {
    //   background: rgba(255, 255, 255, 0.96);
    // }

    &.right-year-slider-container, &.left-year-slider-container {
      font: $font-weight-normal 0.9rem/0.9rem $roboto !important;
      background-color: $ce3-blue5 !important;
      color: $ce3-blue3 !important;
      transition: none !important;

      @include border-radius(5px, 5px !important);
      @include map-varriables-min-max {
        max-width: none !important;
        min-width: 0px !important;
        width: 50% !important;
      }

      &:hover, &:focus {
        transition: none !important;
        background:  darken($ce3-blue5, 5) !important;
        border: none !important;
        outline: none !important;
      }
    }

    .ui-slider-horizontal {
      height: 4px;
    }

    .ui-slider {
      position: relative;
      flex: 1 0 auto;
      margin: 0.7rem;
      height: 4px;
      background: $ce3-blue3 !important;
      cursor: pointer;
      @include border-radius(4px, 4px !important);

      .icon-arrow-left-right:before {
        content: '' !important;
      }

      .map-tooltip {
        cursor: pointer !important;
        color: $ce3-blue3 !important;
        background-color: $ce3-blue5 !important;
        @include border-radius(5px, 5px !important);
        top: -2.3rem !important;
        left: -1.1rem !important;

        &:after {
          content: '' !important;
          border: 5px solid $ce3-blue5 !important;
          border-color: $ce3-blue5 transparent transparent transparent !important;
          margin-left: -8px !important;
          box-shadow: 0 0 8px transparentize($ce3-blue5, 1) !important;
        }
      }

      .ui-slider-handle {
        cursor: pointer !important;
        font-size: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
        height: 14px !important;
        width: 14px !important;
        right: -10px !important;
        box-shadow: unset !important;
        border: unset !important;
        top: -4px !important;
        margin: 0;
        margin-left: -0.9rem;
        padding: 0;
        border: none !important;
        background-color: $ce3-blue3 !important;
        @include border-radius(14px, 14px !important);
        @include box-shadow(0 0 4px transparentize($blue1, 0.75));

        &:focus {
          outline: none !important;
          @include box-shadow(0px 0px 0px 8px  transparentize($ce3-blue3, 0.75) !important);
        }

        &:hover {
          outline: none !important;
          @include box-shadow(0px 0px 0px 8px  transparentize($ce3-blue3, 0.75) !important);
        }

        &:before, &:after {
          display: none !important;
        }
      }
    }

    .year-label {
      flex: 0 auto;
      text-align: center;
      margin: 0.5rem 1rem;
    }
  }

  .year.disabled {
    cursor: pointer;
    flex-grow: 0;
    min-width: 0;
    padding: 0px 1rem;
    font: $font-weight-normal 0.9rem/0.9rem $roboto;
    background-color: transparentize($ce3-blue5, 0.04);
    color: $ce3-blue3;
    @include border-radius(5px, 5px);

    &:focus {
      background:  transparentize(darken($ce3-blue5, 5), 0.04);
      border: none !important;
      outline: none !important;
    }

    &:hover {
      background:  transparentize(darken($ce3-blue5, 5), 0.04);
      border: none !important;
      outline: none !important;
    }
  }

  .map-tooltip {
    position: absolute;
    display: inline;
    white-space: nowrap;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 88, 207, 0.25);
    top: -2.6rem;
    left: -1rem;
    padding: 0.5rem;
    font: $font-weight-normal 0.9rem/0.9rem $roboto;
  }

  .map-tooltip:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    border: 5px solid #ffffff;
    border-color: #ffffff transparent transparent transparent;
    @include box-shadow(0 0 8px transparentize($blue1, 0.75));
  }
}
