.olAlphaImg {
    cursor: pointer;
}

div.olControlZoom, div.olControlTextButtonPanel {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    left: 28px;
    padding: 2px;
    position: absolute;
    top: 8px;
}
div.olControlZoom a {
    font-size: 18px;
    height: 22px;
    line-height: 19px;
    padding: 0;
    width: 22px;
}
div.olControlZoom a, div.olControlTextButtonPanel .olButton {
    background: none repeat scroll 0 0 rgba(0, 60, 136, 0.5);
    color: #FFFFFF;
    display: block;
    font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin: 1px;
    text-align: center;
    text-decoration: none;
}
div.olControlZoom a:hover, div.olControlTextButtonPanel .olButton:hover {
    background: none repeat scroll 0 0 rgba(0, 60, 136, 0.7);
}
@media only screen and (max-width: 600px) {
div.olControlZoom a:hover, div.olControlTextButtonPanel .olButton:hover {
    background: none repeat scroll 0 0 rgba(0, 60, 136, 0.5);
}
}
a.olControlZoomIn {
    border-radius: 4px 4px 0 0;
}
a.olControlZoomOut {
    border-radius: 0 0 4px 4px;
}
div.olControlTextButtonPanel .olButton {
    float: left;
    padding: 4px;
}
div.olControlTextButtonPanel.vertical .olButton {
    float: none;
}
div.olControlTextButtonPanel .olButton:first-child {
    border-radius: 4px 0 0 4px;
}
div.olControlTextButtonPanel .olButton:last-child {
    border-radius: 0 4px 4px 0;
}
div.olControlTextButtonPanel.vertical .olButton:first-child {
    border-radius: 4px 4px 0 0;
}
div.olControlTextButtonPanel.vertical .olButton:last-child {
    border-radius: 0 0 4px 4px;
}