html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: Verdana, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
span.CodeMirror-matchhighlight { 
    background: #e9e9e9;
    background:rgba(255, 255, 0, .3);
}
.CodeMirror-focused span.CodeMirror-matchhighlight {
    background: rgba(255, 255, 0, .3);
}
#showPanel{
    display:none;
}
#browser{
    width: 200px;
    max-width: 400px;
    min-width: 195px;
}
#leftContainer {
    padding: 5px;
    border: solid 1px #EFEFEF;
}
#leftContainer:hover {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}
/*BACKGROUND----------------*/

#container{
    width: 100%;
    height: 100%;
    /*background-color: #e6e6eb;*/
}
body{
    background: url(../img/bg.png) repeat;
}
#browser{
    background: url(../img/bg.png) repeat;
    border-right: 2px ridge #c3c3e4;
    overflow: hidden;
}
.jqueryFileTree{
    background: url(../img/bg.png) repeat;
}
#leftContainer {
    background: url(../img/bg.png) repeat;
}
#menu a{
    border: 1px solid #e1e1f0;
}  
/*END BACKGROUND------------*/
#menu a:hover{
    border: 1px outset #d0cfcf;
}
#menu a:active{
    border: 1px inset #d0cfcf;
}
#leftContainer{
    max-height: 750px;
    overflow: scroll;
}
.clear{
    clear: both;
}
#rightContainer{
    width: 100%;
    height: 100%;
}
#menuShow{
    text-align: right;
}
#msg{
    position:fixed;
    bottom: 30px;
    right:20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(224,224,224,0.7);
    display: none;
    padding:3px;
    min-width: 70px;
    text-align: center;

}
#menu{
    text-align: center;
    padding : 5px;
    position: relative;
    display:table;
    border: 1px solid #8DA6CE;
    width: 100%;
    text-align: left;
}
#menu .exitItem{
    border: 0px;
}
#menu a{
    text-align: center;
    padding: 1px;
    font-size: 0.8em;
    text-decoration: none;
    color: #636363;
    display: inline-block;
    margin-left: 12px;
    min-width:70px;
}
#menu img{
    margin-right: 4px;
}
#hide{
    display:none;
}

#codeContainer{

}
#configMenu{
    position:absolute;
    display: none;
    z-index: 1001;
    background-color: white;
    width: 140px;
    border: solid 1px #EFEFEF;
    border: solid 1px #CCC;
}
#configMenu div{
    padding: 6px;
    color:#636363;
    border: 1px solid white;
    padding-left: 20px;
    text-align: left;
}
div.selected{
    background-image: url(../img/checkmark.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.configMenu_separator{
    background-color: #e8e6e6;
    text-align: left;
    padding: 10px!important;
}
#configMenu div:hover:not(.configMenu_separator){
    border: 1px solid #CCC;
    background-color:#e1e1f0;
    cursor: pointer;
}

#wrapper {

}
ul.tabs {
    margin:0;
    padding:0;
    display:inline-block;
}
.close {
    margin:0;
    padding:0;
    background: url(../img/tabclose.png)  no-repeat;
    background-position: center center;
    border: 1px solid #BDBDBD;
}
.close:hover {
    border: 1px solid #eee;
}
ul.tabs {
    max-width: 75%;
}
ul.tabs li {
    display:block;
    float:left;
    padding:0 7px;
    background-color:#BDBDBD;
    margin: 3px 3px 0 3px;
}

ul.tabs li a {
    display:block;
    float:left;
    padding:8px;
    font-size:0.8em;
    background-color:#BDBDBD;
    color:#666;
    text-decoration:none;
}
.selected {
    font-weight:bold;
}
#currentDir, #currentFile{
    overflow: hidden;
    width: 200px;
    height: 13px;
    text-align: left;
    color: #888;
    font-family: Verdana, sans-serif;
    font-size: 11px;
}
.dialog{
    font-size: 0.6em;
}
.ui-dialog .ui-dialog-title{
    font-size: 0.7em;
}

.fileSelected{
    background-color: #CCC!important ;
}
#root{
    color: #6f6c6c!important;
}
#uploading{
    display:inline-block;
    background: url("../img/loading.gif") no-repeat;
    width:15px;
    height:15px;
    vertical-align:text-bottom;
}