#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0 0 20px;
  background: $white;
  z-index: 600;

  .topnav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    &.expanded .nav-pages {
      flex-basis: 100%;
    }
  }

  .material-icons {
    vertical-align: bottom;
  }
  .topnav a {
    text-decoration: none;
    font-size: 19px;
  }

  .nav-btn {
    flex-grow: 1;
  }

  .nav-pages {
    margin-right: 2rem;
    #feedback-link {
      margin-left: .5rem;
      color: lighten($orange1, 10%);
    }
  }

  .menu-text {
    vertical-align: -5px;
  }

  .topnav .nav-pages-icon {
    display: none;
    color: $orange1;
    background: none;
    border: none;
    margin-right: 1rem;
  }

  .more-horiz {
    font-size: 3rem;
  }

  #main-nav {
    a {
      .icon {
        font-size: 1.25rem;
        vertical-align: middle;
      }
      
      .text {
        display: inline-block;
        //padding: 1rem 2.39rem 0 2.39rem;
        color: $grey1;
        padding: 0 .5rem 0 .5rem;
      }
    }
  }
  
  #header-logo {
    display: inline-block;
    width: 200px;
    margin: 0 2% 0 0;
    
    img {
    }
  }
  
  #nav-trigger {
    &.open {
      background: transparentize($grey1, 0.9);
      
      span {
        opacity: 0;
      }
      
      &:before {
        @include rotate(-45deg);
        top: 28px;
      }
      
      &:after {
        @include rotate(45deg);
        bottom: 28px;
      }
    }
  }
  
  #breadcrumb {
    white-space: nowrap;
    flex-grow: 1;

    .material-icons {
      margin-right: 3px;
    }
    
    a {
      display: inline-block;
      height: 70px;
      padding: 23px 16px 0 16px;
      color: $blue1;
      border-right: 1px solid $orange1;
      @include transition(0.25s);
    
      .icon {
        margin: -1px 9px 0 0;
        font-size: 1.25rem;
      }
    }
    
    .current {
      display: inline-block;
      height: 70px;
      padding: 23px 16px 0 16px;
      font-size: 19px;
      &:empty:before{content: '\200b';}
    }
  }
  
  #subnav-trigger {
    display: none;
    cursor: pointer;
  }
  
  #subnav {
    float: right;
    margin: 23px 0 0 0;
    
    li {
      display: inline-block;
      margin: 0 0 0 15px;
    }
    
    a {
      .text {
        padding: 0;
      }
    }
  }
}

.hamburger {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 23px;
  padding: 9px 0 0 0;
  @include transition(0.25s);
  vertical-align: bottom;
  
  .bar {
    display: block;
    width: 24px;
    height: 5px;
    background: $orange1;
    opacity: 1;
    @include transition(0.5s);

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 24px;
      height: 5px;
      background: $orange1;
      @include transition(0.5s);
    }
    
    &:before {
      top: 0;
    }
    
    &:after {
      bottom: 0;
    }
  }
}

.trigger {
  cursor: pointer;
}

//hidden until mobile

.hamburger-right {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 23px;
  padding: 9px 0 0 0;
  margin-right: 1rem;
  @include transition(0.25s);
  vertical-align: top;

  .bar-right {
    display: block;
    width: 24px;
    height: 5px;
    background: $orange1;
    opacity: 1;
    @include transition(0.5s);

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 24px;
      height: 5px;
      background: $orange1;
      @include transition(0.5s);
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }
}


// left header

#left-header-trigger {
  display: none;
}

#left-header {
  position: fixed;
  //top: 110px;
  top: 93px;
  left: 20px;
  width: 20%;
  width: calc(20% + 10px);
  height: 100%;
  height: calc(100% - 130px);
  border-right: 10px solid $white;
  z-index: 20;
  
  .left-filler {
    position: relative;
    background: $white;
    padding: 10px 0 0 0;
  }
  
  /*#main-header {
  
    #header-logo {
      width: 50%;
      max-width: 71px;
    }
  }
  
  #nav-trigger {
    float: right;
  }
  
  #main-nav {
    padding: 20px 8%;
    background: $white;
    @include clearfix;
  }
  
  #main-content-wrap {
    padding-left: 20%;
    padding-left: calc(20% + 10px);
  }*/
}

// menu

.menu {
  a,
  label {
    display: block;
    padding: 1.5rem;
    color: $white;
    text-decoration: none;
    white-space: nowrap;
    @include transition(0.25s);
    cursor: pointer;
  }
  
  li {
    @include transition(0.25s);
    
    &.border {
      border-bottom: 10px solid $white;
    }
    
    &.search-field {
      padding: 1.2rem;
      white-space: nowrap;
      
      input {
        display: inline-block;
        width: 80%;
        background: transparent;
        border: none;
        font: 300 1rem/1em $roboto;
        color: $white;
        outline: none;
        @include transition(0.25s);
        
        &::-webkit-input-placeholder {
          color: $white;
          padding-top: 3px;
          @include transition(0.25s);
        }
        
        &:-moz-placeholder {
          color: $white;
          padding-top: 3px;
          @include transition(0.25s); 
        }
        
        &::-moz-placeholder {
          color: $white;
          padding-top: 3px;
          @include transition(0.25s);
        }
        
        &:-ms-input-placeholder {
          color: $white;
          padding-top: 3px;
          @include transition(0.25s);
        }
        
        &:focus {
          &::-webkit-input-placeholder {
            color: transparentize($white, 0.75);
          }
          
          &:-moz-placeholder {
            color: transparentize($white, 0.75); 
          }
          
          &::-moz-placeholder {
            color: transparentize($white, 0.75);
          }
          
          &:-ms-input-placeholder {
            color: transparentize($white, 0.75);
          }
        }
      }
      
      .icon {
        color: $white;
      }
    }
    
    // dropdown menu
    
    &.select {
      white-space: nowrap;
      
      .fs-dropdown {
        margin: 0;
        
        * {
          font: 300 1rem/1em $roboto;
        }
      
        .fs-dropdown-selected {
          height: 64.68px;
          padding: 1.5rem;
          background: transparentize($blue1, 0.2);
          @include border-radius(0);
          color: $white;
          line-height: 1;
          border: none;
          @include transition(0.25s);
          
          &:hover {
            background: transparentize($blue1, 0.1);
          }
        }
        
        .fs-dropdown-item {
          border: none;
          
          &:hover {
            background: transparentize($black, 0.95);
          }
          
          &.fs-dropdown-item_selected {
            background: transparentize($black, 0.92);
            
            &:hover {
              background: transparentize($black, 0.90);
            }
          }
        }
        
        &.fs-dropdown-open {
          .fs-dropdown-selected {
            background: transparentize($blue1, 0.1);
          }
        }
      }
    }
    
    // toggle
    
    &.toggle {
      position: relative;
      z-index: 1;
      
      label {
        &:after {
          content: '';
          @include full-size;
          z-index: 10;
        }
      }
      
      .lcs_wrap {
        z-index: 1;
      }
    }
    
    // overlay detail link
    
    &.about-link {
      font: 0.875em/1.4em $sans-heavy;
      height: 64.68px;

      a {
        white-space: normal;
      }
    }
    
    // legend
    
    &.legend {
      padding: 8%;
      //white-space: nowrap;
      color: $white;
      
      ul {
        @include legacy-clearfix;
        
        li {
          float: left;
          width: 16%;
        }
      }
    }
  }
  
  .icon {
    margin: -4px 8% 0 0;
    font-size: 1.25rem;
    vertical-align: middle;
  }
  
  &.orange-menu {
    a,
    label {
      background: transparentize($orange1, 0.15);
      
      &:hover {
        background: transparentize($orange1, 0.08);
      }
    }
    
    li {
      &.search-field {
        background: transparentize($orange1, 0.15);
      }
      
      &.legend {
        background: transparentize($orange1, 0.15);
      
        &:hover {
          background: transparentize($orange1, 0.08);
        }
      }
    }
  }
  
  &.blue-menu {
    a,
    label {
      //background: transparentize($blue1, 0.2);
      
    }
    
    li {
      background: transparentize($blue1, 0.2);
      
      &:hover {
        background: transparentize($blue1, 0.1);
      }
      
      &.search-field {
        &:hover {
          background: transparentize($blue1, 0.2);
        }
      }
      
      &.select {
        background: transparent;
      }
    }
  }
}

// white menu

.white-menu {
  position: relative;
  
  h4 {
    margin: 0 0 4% 0;
    padding-left: 10px;
    padding-left: calc(5% + 10px);
    font: 400 1.5rem/1.25em $roboto;
    color: $orange1;
  }
  
  ul {
    background: transparentize($white, 0.2);
    padding: 3% 0;
    border: 10px solid $white;
    font: 400 1.125rem/1.25em $roboto;
    
    li {
      padding: 2% 5%;
    }
    
    a {
      color: $blue1;
    }
  }
}

// orange menu

// UI slider

.ui-slider {
  position: absolute;
  height: 6px;
  background: transparentize($grey1, 0.8);
  cursor: pointer;

  .ui-slider-handle {
    left: 3px;
    width: 16px;
    height: 16px;
    margin: 0 0 -8px -8px;
    background: $orange1;
    @include border-radius(50%);
    outline: none;
    cursor: pointer;
  }
  
  .ui-slider-range {
    font-size: 1.25rem;
    background: $orange1;
    color: transparentize($white, 1);
    text-align: center;
    @include transition(color 0.25s);
    @include box-shadow(inset 0 5px 10px -5px transparentize($black, 0.5));
  }
  
  &:hover {
    .ui-slider-range {
      color: $white;
    }
  }
}

#slider-range {
  width: 100%;
  margin: auto;
}