#more-wrapper-nav-footer {
  cursor: pointer !important;
}

#nav-footer {
    flex: 0 1 $ce3-main-bottom !important;
    height: $ce3-main-bottom !important;
    align-self: flex-end !important;

    &.expanded {
      @media screen and (min-width: 850px) {
        flex: 0 1 120px !important;
        height: 120px !important;
      }

      flex: 0 1 210px !important;
      height: 210px !important;
    }
}

.nav-footer-row-1 {
  flex-grow: 0 !important;
  align-content: flex-end !important;
  @media screen and (max-width: 850px) {
    align-content: center !important;
  }
}

.nav-footer-row-2 {
  flex-grow: 4 !important;
  flex-flow: row nowrap !important;

  &.expanded {
    flex-flow: row wrap !important;
  }

  @media screen and (max-width: 900px) {
    flex-flow: row nowrap;
    &.expanded {
      flex-flow: row wrap !important;
    }
  }
}

.nav-footer-items {
  justify-content: space-evenly !important;

  @media screen and (max-width: 900px) {
    padding-bottom: $ce3-default-vertical-padding/2;
    flex-wrap: nowrap !important;
  }

  @media screen and (max-width: 1177px) {
    .padding-horrizontal {
      padding-left: $ce3-default-horizontal-padding/2 !important;
      padding-right: $ce3-default-horizontal-padding/2 !important;
    }
  }
}

.nav-footer-item {
  cursor: pointer;
  font: 500 14px $roboto !important;
  color: $ce3-darkgray !important;
  justify-content: center !important;

  .nav-footer-label {
    color: $ce3-darkgray !important;
  }

  .nav-footer-icon {
    color: $ce3-darkgray !important;
  }

  @media screen and (max-width: 500px) {
    max-width: 80px !important;
  }
}

.nav-footer-icon {
  font-size: 48px !important;
  @media screen and (max-width: 600px) {
    font-size: 36px !important;
  }
  font-weight: 500 !important;
  @media screen and (min-width: 400px) {
    justify-content: center !important;
    align-content: center !important;
    align-self: center !important;  }
}

.nav-footer-item-selected {
  cursor: pointer;
  font: 600 14px $roboto !important;
  color: $ce3-blue3 !important;
  justify-content: center !important;
  align-content: center !important;
  align-self: center !important;

  .nav-footer-label {
    // font-size: 16px !important;
    font-weight: 600 !important;
    color: $ce3-blue3 !important;
  }

  .nav-footer-icon {
    // font-size: 50px !important;
    font-weight: 600 !important;
    color: $ce3-blue3 !important;
  }
}

.nav-footer-label {
  font-size: 14px !important;
  font-weight: 500;
  justify-content: center !important;
  align-content: center !important;
  align-self: center !important;
  @media screen and (max-width: 950px) {
    flex-flow: row wrap !important;
  }
  @media screen and (max-width: 1224px) {
    display: none
  }
}

.nav-footer-label-smallscreen {
  @media screen and (min-width: 1225px) {
    display: none
  }
}

.nav-footer-area-title {
  font: 500 16px $roboto !important;
  color: $ce3-darkgray !important;
}

.nav-footer-area-line {
  border-top: 1px dotted $ce3-darkgray !important;
  margin-left: 6px !important;
  margin-right: 6px !important;
  width: 30% !important;

  @media screen and (max-width: 950px) {
    width: 20% !important;
  }

  &.expanded {
    display: flex !important;
    width: 30% !important;
  }
}

#sation-based {
  @media screen and (max-width: 600px) {
    .nav-footer-area-line {
      display: none !important;
      &.expanded {
        display: flex !important;
        width: 30% !important;
      }
    }
  }
}

#more-wrapper-nav-footer {
  &.expanded {
    display: none !important;
  }

  @media screen and (min-width: 900px) {
    display: none !important;
  }
}

#less-wrapper-nav-footer {
  display: none !important;

  @media screen and (max-width: 900px) {
    display: none !important;
  }

  &.expanded {
    display: flex !important;
  }
}

#expanded-wrapper-nav-footer {
  &.expanded {
    display: flex !important
  }

  @media screen and (max-width: 900px) {
    display: none !important;
  }
}

.nav-footer-area-title {
  .nav-footer-area-text-smallecreen {
    display: none !important;
  }

  @media screen and (max-width: 900px) {
    min-height: 21px !important;
    height: 21px !important;
    max-height: 21px !important;

    .nav-footer-area-text {
      display: none !important;
    }

    .nav-footer-area-text-smallecreen {
      display: inherit !important;
    }

    .nav-footer-area-line {
      // display: none !important;
    }

  }
}
