.overlay {
  display: none;
  @include full-size;
  position: fixed;
  border: 20px solid $white;
  color: $white;
  
  .close {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding: 0;
    background: $white;
    color: $black;
    mix-blend-mode: screen;
    z-index: 2;
  }
  
  .slide {
    @include full-size;
    
    .slide-bg {
      @include full-size;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      //backdrop-filter: blur(3px);
      //-webkit-backdrop-filter: blur(3px);
      //opacity: 0.95;
      z-index: 1;
    }
  }
}

// NAV

#nav-overlay {
  z-index: 600;
  
  #nav-close {
  }
  
  #nav-cycle {
    @include full-size;
    z-index: 1;
  }
  
  #nav-search {
    .slide-bg {
      background-image: url(../img/bg_contours-lightblue.png);
    }
    
    h3 {
      padding: 0 3%;
      background: transparentize($white, 0.9);
      
      input {
        font: 1.625rem/4.875rem $sans-heavy;
      }
    }
  }
  
  #nav-variables {
    .slide-bg {
      background-image: url(../img/bg_contours-blue.png);
    }
  }
  
  #nav-topics {
    .slide-bg {
      background-image: url(../img/bg_contours-orange.png);
    }
  }
  
  #nav-controls {
    position: absolute;
    top: 5%;
    left: 20%;
    width: 60%;
    z-index: 3;
    text-align: center;
    
    a {
      display: block;
      margin: 0 5% 0 0;
      padding: 18px 0;
      color: $white;
      font: 1rem/1em $sans-heavy;
      white-space: nowrap;
      border: 5px solid transparent;
      @include transition(0.25s);
      
      &:hover {
        border-color: transparentize($white, 0.75);
      }
      
      .icon {
        margin: -4px 8px 0 0;
        font-size: 1.375rem;
      }
    }
    
    li {
      float: left;
      width: 33%;
      
      &.cycle-pager-active {
        a {
          border-color: $white;
        }
      }
    }
    
    #nav-overlay-home {
      position: absolute;
      left: -25%;
      margin: 0;
      padding: 18px;
    }
  }
  
  /*
  
  .nav-controls {
    position: static;
    
    a {
      position: absolute;
      top: 10%;
      min-width: 15%;
      padding-left: 20px;
      padding-right: 50px;
      z-index: 3;
      
      &:before,
      &:after {
        right: 20px;
      }
      
      &.nav-left {
        left: 0;
        border-left: none;
      }
      
      &.nav-right {
        right: 0;
        border-right: none;
      }
    }
  }*/
  
  .nav-content-wrap {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 70%;
    z-index: 2;
  
    a {
      color: $white;
    }
    
    h3 {
      margin: 0 0 5% 0;
      color: $white;
      font: 1.625rem/4.875rem $sans-heavy;
      
      .icon {
        margin-right: 20px;
      }
    }
  }
  
  .nav-content {
    nav {
      height: 40px;
      padding: 0 4%;
      
      a {
        position: relative;
        display: block;
        float: left;
        width: 25%;
        font: 300 1.125rem/1em $roboto;
        text-transform: uppercase;
        color: $white;
        
        span {
          position: relative;
          display: inline-block;
          margin: 0 0 2px 0;
          padding: 10px 20px 10px 0;
          border-bottom: 2px solid $white;
          @include transition(0.25s);
          vertical-align: top;
            
          &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            bottom: -2px;
            width: 0;
            height: 0;
            margin: 0;
            border: 0 solid $white;
            border-color: $white transparent transparent transparent;
            @include transition(0.25s);
          }
        }
        
        &.fs-tabs-active {
          span {
            margin: 0;
            border-bottom-width: 4px;
            
            &:after {
              bottom: -16px;
              margin: 0 0 0 -6px;
              border-width: 6px;
            }
          }
        }
      }
    }
    
    .tab {
      margin: -6px 0 0 0;
      padding: 6% 4%;
      background: transparentize($white, 0.9);
      
      ol {
        @include legacy-clearfix;
        
        & > li {
          float: left;
          font: 400 1.25rem/1em $roboto;
          //counter-increment: customlistcounter;
          
          &:before {
            //content: counter(customlistcounter) " ";
            float: left;
            width: 10%;
            margin: -6px 0 0 -10%;
            font-size: 60%;
            font-weight: 600;
            color: $orange1;
          }
          
          &:first-child {
            //counter-reset: customlistcounter;
          }
        }
      
        ul {
          margin: 15px 0 0 0;
          
          li {
            float: none!important;
            width: auto!important;
            margin: 0 0 10px 0;
            font: 300 1rem/1em $roboto;
          }
        }
      }
      
      ol,
      ul {
        
        &.col-2 {
          @include legacy-clearfix;
          
          li {
            float: left;
            width: 50%;
          }
        }
        
        &.col-3 {
          @include legacy-clearfix;
          
          li {
            float: left;
            width: 33%;
          }
        }
        
        &.col-4 {
          @include legacy-clearfix;
          
          li {
            float: left;
            width: 25%;
          }
        }
      }
      
      a {
        //font: 300 1.25rem/1em $roboto;
      }
    }
  }
}

// DETAIL

#detail-overlay {
  z-index: 601;
  
  .nav-detail {
    display: none;
    @include full-size;
    background: $blue1;
    //backdrop-filter: blur(10px);
    //-webkit-backdrop-filter: blur(10px);
    z-index: 1;
    
    .nav-detail-item {
      display: none;
      position: absolute;
      top: 50%;
      left: 20%;
      width: 60%;
      @include transform(translateY(-50%));
      
      h3 {
        font: 1.625rem/1em $sans-heavy;
        margin: 0 0 40px 0;
      }
      
      p {
        margin: 0 0 20px 0;
        line-height: 2em;
      }
    }
    
    &#variable-details {
      background: $blue1;
    }
    
    &#topics-details {
      background: $orange1;
    }
  }
}

#page-home {
  #detail-overlay {
    .nav-detail {
      background: $blue1;
    
      &#variable-details {
        background: $blue1;
      }
      
      &#topics-details {
        background: $orange1;
      }
    }
  }
}

// blur

body {
  &.nav-open,
  &.detail-open {
    #viewport,
    #main-header,
    #left-header {
      -webkit-filter: blur(3px);
      -moz-filter: blur(3px);
      -o-filter: blur(3px);
      -ms-filter: blur(3px);
      filter: blur(3px);
    }
  }
  
  &.detail-open {
    #nav-overlay {
      -webkit-filter: blur(6px);
      -moz-filter: blur(6px);
      -o-filter: blur(6px);
      -ms-filter: blur(6px);
      filter: blur(6px);
    }
  }
}
