#secondary-header {
  background: $ce3-blue2;
  height: $ce3-secondary-header-height;

  .secondary-logo {
    height: $ce3-secondary-logo-height;
    width: auto;
    img {
      height: $ce3-secondary-logo-height;
      width: auto;
    }
  }

  .secondary-font-title {
     font: 500 24px $roboto !important;
     white-space: nowrap;
     width: 100%;
     @include small {
       font: 500 18px $roboto !important;
     }
     color: $ce3-blue6 !important;
     align-self: center;
  }

  .topnav a {
    text-decoration: none;
    font: 500 18px $roboto;
  }

  #secondary-nav {
    a {
      .icon {
        font: 500 18px $roboto !important;
      }

      .text {
        display: inline-block;
        color: $ce3-blue6;
        padding: 0 .5rem 0 .5rem;
      }
    }
  }

  #header-logo {
    margin: 0 2% 0 0;
    height: $ce3-secondary-logo-height;
    width: auto;
    img {
      height: $ce3-secondary-logo-height;
      width: auto;
    }
  }
}
