.share-widget {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 10;
  
  a {
    display: block;
    padding: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    @include transition(0.25s);
  }
  
  .icon {
    display: block;
    margin: 0 auto 4px auto;
    font-size: 1.875rem;
    line-height: 1.875rem;
    text-indent: 0;
  }
  
  .share-trigger {
    position: absolute;
    bottom: 0;
    background: $orange1;
    text-align: center;
    font: 0.625rem/1em $sans-heavy;
    text-transform: uppercase;
    color: $white;
    z-index: 2;
    
    &.open {
      background: lighten($orange1, 3%);
    }
  }
  
  ul {
    position: absolute;
    top: 60px;
    width: 60px;
    height: 0;
    overflow: hidden;
    z-index: 1;
    
    li {
      
    }
    
    a {
      padding: 12px;
      background: transparentize($white, 0.1);
      color: $blue1;
      @include no-text;
      
      &:hover {
        background: $blue3;
      }
    }
    
    .icon {
      @include undo-no-text;
      font-size: 1.25rem;
      line-height: 40px;
      margin: 0 auto;
    }
  }
}

#share-permalink-input {
  display: none;
  position: absolute;
  width: 240px;
  height: 60px;
  margin: 0 15px 0 0;
  padding: 10px;
  background: transparentize($blue1, 0.1);
  
  input {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 6px;
    background: transparentize($white, 0.9);
    font: 0.75rem/34px $roboto;
    color: $white;
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
    width: 0;
    height: 0;
    margin: -10px 0 0 0;
    border: 10px solid transparent;
    border-left-color: transparentize($blue1, 0.1);
  }
}