#share-widget-wrapper {
  width: 48px !important;
  height: 32px !important;
  min-width: 48px;
  padding-top: 3px;
  margin-right: 0px;
  margin-left: auto;
  @include very-small  {
    margin-right: -6px;
  }
}


.share-widget {
  cursor: pointer;
  background: $ce3-blue3;
  @include border-radius(5px !important);
  max-width: 40px;
  @include medium {
  }
  z-index: 10;
  padding: 6px;
  margin-right: 12px;

  a {
    width: 48px !important;
    min-width:  48px !important;
    height: 32px !important;
    min-height:  32px !important;
    text-align: center;
    @include transition(0.25s);
    white-space: nowrap;
    font-size: 14px !important;
    @include very-small {
      .a-share-label {
        display: none;
      }
    }
  }

  .icon {
    display: block;
    margin: 0 auto 4px auto;
    font-size: 1rem;
    line-height: 1rem;
    text-indent: 0;
  }

  .share-icon {
    width: 32px;
    font-size: 1.25rem;
    padding-bottom: 0px;
    @include medium {
      font-size: .875rem;
      padding-bottom: 3px;
    }
  }

  .share-trigger {
    text-align: center;
    font: 0.625rem/1em $sans-heavy;
    @include border-radius(5px !important);
    color: $ce3-blue5;
    z-index: 2;

    &.open {
      background: lighten($ce3-blue3, 3%);
      @include border-bottom-right-radius(0px !important);
      @include border-bottom-left-radius(0px !important);
    }
  }

  ul {
    position: absolute;
    margin-right: 10px;
    margin-left: -5px;
    margin-top: 6px;
    width: 40px;
    @include very-small  {
      width: 40px;
      min-width: 40px;
    }

    height: 0;
    overflow: hidden;
    z-index: 100;
    @include border-bottom-right-radius(5px !important);
    @include border-bottom-left-radius(5px !important);
    @include box-shadow(0px 2px 4px transparentize(#000, 0.761));

    li {
      width: 40px;
      min-width: 40px;
      height: 60px;
      @include very-small  {
        width: 40px;
        min-width: 40px;
      }

      background: darken($ce3-blue5, 5%);
      .a-share-label {
        @include no-text;
      }
      &:hover {
        background: darken($ce3-blue5, 15%);;
      }
      a {
        top: 0px;
        /* left: 6px; */
        position: relative;
        z-index: -1;
        &:hover {
          background: darken($ce3-blue5, 3%);;
        }
      }
    }

    a {
      padding: 12px;
      background: $ce3-blue5;
      color: $ce3-blue3;
      @include no-text;

    }

    .icon {
      @include undo-no-text;
      font-size: 1.25rem;
      line-height: 40px;
      margin: 0 auto;
    }
  }
}

#share-permalink-input {
  display: none;
  position: absolute;
  width: 240px;
  height: 32px;
  margin: 0 15px 0 0;
  padding: 10px;
  background: $ce3-blue5;
  @include border-radius(5px !important);
  border: 1px solid $ce3-blue3;
  @include box-shadow(0px 2px 4px transparentize(#000, 0.761));
  @include medium {
    padding: 8px;
    width: 205px;
  }

  input {
    display: block;
    position: absolute;
    height: 30px;
    bottom: 0px;
    left: 3px;
    width: 100%;
    margin: 0;
    padding: 0 6px;
    background: $ce3-blue5;
    @include border-radius(24px !important);
    font: 0.85rem/34px $roboto;
    font-weight: 500;
    color: $ce3-blue3;
    border: 0px;
    outline: none;
  }

  &focus {
    outline: none !important;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
    width: 0;
    height: 0;
    margin: -10px 0 0 0;
    border: 10px solid transparent;
    border-left-color: transparentize($ce3-blue3, 0.1);
  }
}
