// .share-bg {
//   @media screen and (max-width: 900px) {
//     display: none !important;
//     .share-widget {
//       display: none !important;
//     }
//   }
// }
//
// .share-sm {
//   @media screen and (min-width: 900px) {
//     display: none !important;
//     .share-widget {
//       display: none !important;
//     }
//   }
// }

#share-widget-wrapper {
  width: 48px !important;
  height: 48px !important;
  min-width: 48px;
  margin-top: -8px;
  @media screen and (max-width: 900px) {
    padding-top: 16px;
    margin-top: 0px;
    display: inline-block !important;
    &.share-bg {
      display: none !important;
    }
  }
}


.share-widget {
  cursor: pointer;
  position: relative;
  right: 8px;
  width: 48px !important;
  height: 48px !important;
  @media screen and (max-width: 900px) {
    right: 0px;
  }
  z-index: 10;


  a {
    display: block;
    padding: $ce3-default-padding;
    width: 48px;
    height: 48px;
    text-align: center;
    @include transition(0.25s);
  }

  .icon {
    display: block;
    margin: 0 auto 4px auto;
    font-size: 1rem;
    line-height: 1rem;
    text-indent: 0;
  }

  .share-icon {
    font-size: 1rem;
    padding-bottom: 0px;
    @media screen and (max-width: 900px) {
      font-size: 1rem;
      padding-bottom: 3px;
    }
  }

  .share-trigger {
    position: absolute;
    bottom: 0;
    background: $ce3-blue3;
    text-align: center;
    font: 0.625rem/1em $sans-heavy;
    @include border-radius(5px !important);
    color: $ce3-blue5;
    z-index: 2;

    &.open {
      background: lighten($ce3-blue3, 3%);
      @include border-bottom-right-radius(0px !important);
      @include border-bottom-left-radius(0px !important);
    }
  }

  ul {
    position: absolute;
    top: 48px;
    width: 48px;
    height: 0;
    overflow: hidden;
    z-index: 1;
    @include border-bottom-right-radius(5px !important);
    @include border-bottom-left-radius(5px !important);

    li {

    }

    a {
      padding: 12px;
      background: transparentize($ce3-blue5, 0.1);
      color: $ce3-blue3;
      @include no-text;

      &:hover {
        background: darken($ce3-blue5, 3%);;
      }
    }

    .icon {
      @include undo-no-text;
      font-size: 1.25rem;
      line-height: 40px;
      margin: 0 auto;
    }
  }
}

#share-permalink-input {
  display: none;
  position: absolute;
  width: 240px;
  height: 36px;
  margin: 0 15px 0 0;
  padding: 10px;
  background: $ce3-blue5;
  @include border-radius(5px !important);
  @media screen and (max-width: 900px) {
    border: 1px solid $ce3-blue3;
    padding: 8px;
    width: 205px;
  }

  input {
    display: block;
    position: relative;
    height: 30px;
    bottom: 4px;
    width: 100%;
    margin: 0;
    padding: 0 6px;
    background: $ce3-blue5;
    @include border-radius(24px !important);
    font: 0.85rem/34px $roboto;
    font-weight: 500;
    color: $ce3-blue3;
    border: 0px;
    outline: none;
  }

  &focus {
    outline: none !important;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
    width: 0;
    height: 0;
    margin: -10px 0 0 0;
    border: 10px solid transparent;
    border-left-color: transparentize($ce3-blue3, 0.1);
  }
}
