// VARIABLES

// colors


// ce3 colors
$ce3-blue1: #0B2752; // very dark
$ce3-blue2: #0D3064; // main header
$ce3-blue2alpha: rgba(13, 48, 100, 0.50);
$ce3-blue3: #124086; // text, button backgrounds, selected icon borders. main color
$ce3-blue3alpha: rgba(18,64,134,0.50);  // some borders and color disabled items
$ce3-blue3alphad: rgba(18,64,134,0.05);  // some borders and color disabled items
$ce3-blue4: #1D6ADD;  // some backgrounds and borders
$ce3-blue5: #E9F1FC; // button text boxes, not slected radio buttons
$ce3-blue5alpha: rgba(233, 241, 252,0.50);
$ce3-blue6: #FBFCFE; // text for dark backgrounds, light backgrounds, backgrounds for boxes and pulldowns
// $ce3-darkgray: #4D4D4D; // icon not selected
$ce3-darkgray: #585858; // #4D4D4D; // icon not selected
$ce3-error-state: #DB303D; // error state focus and text
$ce3-warning-state: #E05B2C; // error state focus and text

$ce3-dark-background: $ce3-blue3;
$ce3-dark-font: $ce3-blue3;

$ce3-light-background: $ce3-blue5;

$ce3-verylight-background: $ce3-blue6;
$ce3-verylight-font: $ce3-blue6;

$ce3-disabled-font: lighten($ce3-blue3, 50);;
$ce3-disabled-border: lighten($ce3-blue3, 50);;

$ce3-border-color: $ce3-blue3alphad;

// chart colors - used for legend buttons
$ce3-lower-emissions: #98BCEB;
$ce3-higher-emissions: #FBB4AA;
$ce3-historical-modeled: #D6D6D6;
$ce3-historical-observed: #777777;
$ce3-yearly-exceedance: #317AD8;
$ce3-normal-range: #ABDDA4;
$ce3-actual-range: #3288BD;

// shapes for map
$ce3-tidal-stations-fill: $ce3-blue3;
$ce3-tidal-stations-border: #1D64DD;
$ce3-historical-treshold-fill: #DB303D;
$ce3-historical-treshold-border: $ce3-higher-emissions;
$ce3-historical-weather-fill: #ABDDA4;
$ce3-historical-weather-border: #1D64DD;

$ce3-main-header-height: 84px;
$ce3-secondary-header-height: 48px;

$ce3-main-logo-height: 60px;
$ce3-secondary-logo-height: 36px;

$ce3-main-btn-height: 60px;
$ce3-btnheight: 36px;
$ce3-btnheight-legends: 30px;

$ce3-btnheight-smallecreen: 48px;
$ce3-btnheight-smallecreen-legend: 36px;

$ce3-btninnerheight: 24px;

$ce3-main-title-font-size: 48px;
$ce3-secondary-title-font-size: 24px;

$ce3-default-padding: 12px;
$ce3-padding-half: 6px;
$ce3-default-vertical-padding: 12px;
$ce3-default-horizontal-padding: 12px;
$ce3-padding-big-break: 48px;

$ce3-main-bottom: 100px;

$white: #ffffff;
$black: #000000;
$blue1: #0058cf;
$blue2: #233a70;
$blue3: #d5e8f2;
$orange1: #f5442d;
//$orange1: #d44525;
$brown1: #904848;
$grey1: #5f5f5f;
$grey2: #ebebeb;

// fonts
$roboto:  Roboto, Helvetica, 'Helvetica Neue', Arial, sans-serif; // default should be everywhere
$sans-book: 'CESans', Roboto, Helvetica, 'Helvetica Neue', Arial, sans-serif; // legacy left out for consistency
$sans-heavy: 'CESans-Heavy', Roboto, Helvetica, 'Helvetica Neue', Arial, sans-serif;  // legacy left out for consistency
$font-weight-normal: 500;
$font-weight-normal-plus: 500; // 600;
$font-weight-meduim: 500; // 700;
$font-weight-heavy: 800;
$font-weight-very-heavy: 900;

// IMPORTS
@import "compass/functions";
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "fonts";
@import "stateface/stateface";
@import "fontawesome/fontawesome";
@import "formstone/grid";
@import "formstone/scrollbar";
@import "formstone/dropdown";
@import "formstone/tabs";
@import "formstone/range";
@import "plugins/jquery-ui";
@import "spinner";
@import "sweetalert";

// MIXINS
@import "mixins";

// MEDIA QUERIES
@import "mods";
@import "media";

// TAGS

* {
  @include box-sizing;
}

body {
  font: 300 16px $roboto;
  color: $ce3-blue3;
}
a {
  color: $ce3-blue4;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1 {
  font: 800 24px $roboto;
  text-transform: uppercase;
}
h2 {
  font: 800 18px $roboto;
  text-transform: uppercase;
}
h3 {
  font: 800 16px $roboto;
}
h4 {
  font: 800 14px $roboto;
}
h5 {
  font: 800 12px $roboto;
}
h6 {
  font: 600 12px $roboto;
}

::-webkit-scrollbar {
  width: 6px;
  border: 1px solid $ce3-blue3;
  background-color: $ce3-blue3;

  &-thumb {
    background-color: $ce3-blue3;
    border-radius: 6px;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    &:vertical {
      height: 6px;
    }
  }

  &-track {
    border: 1px solid $ce3-blue4;
    background-color: #E9F1FC;
  }

  &-track-piece {
    margin-right: 10px;
    height: 6px;
    width: 6px;
  }

  &-corner {
    display: none;
  }
}

// font classes
.main-font-description {
   font: $font-weight-normal 24px $roboto !important;
}

.font-description {
   font: $font-weight-normal 24px $roboto !important;
}
.main-btn-height {
  height: $ce3-main-btn-height !important;
}

.default-btn-height {
  height: $ce3-btnheight !important;
  @include medium {
    height: $ce3-btnheight-smallecreen !important;
  }
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select-icon {
  margin-right: $ce3-default-padding !important;
  margin-top: $ce3-padding-half/2 !important;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font: 500 14px $roboto !important;
  color: $ce3-blue3;
  width: 100%;
  height: $ce3-btnheight !important;
  @include medium {
    height: $ce3-btnheight-smallecreen !important;
 }
}

.select-styled {
  display: flex !important;
  overflow: hidden;
  white-space: pre;
  justify-content: left;
  // margin-top: 7px;
  height: 36px !important;
  padding-left: 6px;
  padding-top: 8px;
  height: calc(100% - 7px) !important;
  @include border-radius(24px, 24px);
  @include transition(all 0.2s ease-in);
  margin-left: $ce3-padding-half !important;

  @include medium {
    margin-top: 14px;
    height: calc(100% - 14px) !important;
    padding-top: 0px;
  }
  a {
    color: $ce3-blue3 !important;
  }
  &.disabled {
    color: $ce3-disabled-font !important;
    a {
      color: $ce3-disabled-font !important;
    }
  }

  &:after {
    position: absolute;
    background-color: $ce3-blue6;
    font-family: 'Font Awesome 5 Free';
    font-weight: $font-weight-very-heavy;
    content: '\f0d7';
    right: 0px;
    bottom: 6px;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include medium {
      right: 12px;
      bottom: 12px;
    }
  }
}

#downloads-select-wrapper {
  .select-styled {
    white-space: normal;
  }
}

#filters-toggle .select-styled:after  {
  @include small {
    right: -2px;
  }
}
.download-link {
  &:hover, &:focus {
    outline: none !important;
    font-weight: $font-weight-normal-plus;
  }
}

.select-options {
  display: none;
  position: relative;
  top: 8px;
  right: 0;
  left: 0;
  z-index: 1000;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $ce3-blue5;
  max-height: 400px !important;

  @include short {
    max-height: 250px !important;
  }

  @include very-short {
    max-height: 175px !important;
    top: 2px;
  }

  overflow: auto !important;
  @include border-radius(5px, 5px);
  @include box-shadow(0px 2px 4px transparentize(#000, 0.761));

  @include small {
    max-height: 250px !important;
    top: 2px;
  }

  a {
    color: $ce3-blue3 !important;
  }

  .default-select-option-group {
    padding: $ce3-padding-half !important;
    font-weight: $font-weight-normal-plus !important;
    width: 100%;
  }

  .default-select-option-disabled {
    color: $ce3-disabled-font !important;
    cursor: default !important;
  }

  li {
    margin: 0;
    padding: $ce3-default-padding 0;
    text-indent: 15px;
    border-top: 1px solid $ce3-blue5;
    @include border-radius(5px, 5px);
    @include transition(all 0.15s ease-in);
    width: 100%;
    &.with-tip {
      width: 90%;
    }

    @include very-large-mid {
      &.with-tip {
        width: 80%;
      }
    }

    @include very-small {
      &.with-tip {
        width: 80%;
      }
    }

    a {
      color: $ce3-blue3 !important;
    }

    &:hover, &:focus {
      outline: none !important;
      color: $ce3-blue3;
      background:  darken($ce3-blue5, 5);
      &.default-select-option-disabled {
        color: $ce3-disabled-font !important;
        background: $ce3-blue3 !important;;
        cursor: default !important;
      }
    }

    &[rel="hide"] {
      display: none;
    }
  }
  span {
    &:hover, &:focus {
      outline: none !important;
    }
  }
}

.pac-container {
  font: 500 14px $roboto !important;
  display: block;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $ce3-blue5;
  max-height: 400px !important;
  overflow: auto !important;
  border-top: 0px !important;
  @include border-radius(5px, 5px);
  @include box-shadow(0px 2px 4px transparentize(#000, 0.761));

  @include small {
    max-height: 250px !important;
    top: 2px;
  }

  .pac-item {
    padding: $ce3-default-padding 0;
    text-indent: 15px;
    border-top: 1px solid $ce3-blue5;
    @include border-radius(5px, 5px);
    @include transition(all 0.15s ease-in);
    a {
      color: $ce3-blue3 !important;
    }
    &:hover {
      color: $ce3-blue3;
      background:  darken($ce3-blue5, 5);
    }
  }
  .pac-item-selected {
    color: $ce3-blue3;
    background:  darken($ce3-blue5, 5);
  }
}

.pac-container:empty{
}

#filters-row {
  padding-left: $ce3-default-padding*2;
  &.padding-top {
    padding-top: $ce3-default-padding+10 !important;
  }
}

@include medium {
  #filters-row {
    .select-options {
      margin-top: 0px !important;
    }
  }
}

.filter-border-bottom {
  padding-bottom: $ce3-padding-half;
  border-bottom: 1px solid $ce3-blue3alpha;
}

.closed-filters {
  .filter-border-bottom {
    padding-bottom: $ce3-padding-half;
    border-bottom: 0px solid $ce3-blue3alpha;
  }
}

.font-title {
   font: 500 24px $roboto !important;
   color: $ce3-blue6 !important;
}

.border-none {
  border: none !important;
  outline: none !important;
}

.border-default {
  border: 1px solid $ce3-blue3alpha !important;
}

.height-100 {
  height: 100% !important;
}

.height-90 {
  height: 90% !important;
}

.height-80 {
  height: 80% !important;
}

.height-60 {
  height: 60% !important;
}

.height-50 {
  height: 50% !important;
}

.height-20 {
  height: 20% !important;
}

.height-25 {
  height: 25% !important;
}

.height-10 {
  height: 10% !important;
}

.width-100 {
  width: 100% !important;
}

.width-90 {
  width: 90% !important;
}

.width-95 {
  width: 95% !important;
}


.width-80 {
  width: 80% !important;
}

.width-85 {
  width: 85% !important;
}

.width-70 {
  width: 70% !important;
}

.width-75 {
  width: 75% !important;
}

.width-60 {
  width: 60% !important;
}

.width-50 {
  width: 50% !important;
}

.width-40 {
  width: 40% !important;
}

.width-30 {
  width: 30% !important;
}

.width-33 {
  width: 33% !important;
}

.width-20 {
  width: 20% !important;
}

.width-25 {
  width: 25% !important;
}

.width-15 {
  width: 15% !important;
}

.width-10 {
  width: 10% !important;
}

.width-5 {
  width: 5% !important;
}

.last-variable-space {
  margin-bottom: $ce3-default-padding+$ce3-padding-half !important;
}

.right-padding {
  padding-right: $ce3-default-horizontal-padding !important;
  @include medium {
    padding-right: $ce3-default-horizontal-padding/2 !important;
  }
}

.left-padding {
  padding-left: $ce3-default-horizontal-padding !important;
  @include medium {
    padding-left: $ce3-default-horizontal-padding/2 !important;
  }
}

.bottom-padding {
  padding-bottom: $ce3-default-vertical-padding !important;
  @include medium {
    padding-bottom: $ce3-default-vertical-padding/2 !important;
  }
}

.padding-default-half {
  padding: $ce3-padding-half !important;
}

.padding-default {
  padding: $ce3-default-horizontal-padding  $ce3-default-vertical-padding !important;
  @include medium {
    padding: $ce3-default-horizontal-padding/2  $ce3-default-vertical-padding/2 !important;
  }
}

.padding-horrizontal {
  padding-left: $ce3-default-horizontal-padding !important;
  padding-right: $ce3-default-horizontal-padding !important;
  @include medium {
    padding-left: $ce3-default-horizontal-padding/2 !important;
    padding-right: $ce3-default-horizontal-padding/2 !important;
  }
}

.padding-vertical {
  padding-top: $ce3-default-horizontal-padding !important;
  padding-bottom: $ce3-default-horizontal-padding !important;
  @include medium {
    padding-top: $ce3-default-horizontal-padding/2 !important;
    padding-bottom: $ce3-default-horizontal-padding/2 !important;
  }
}

.padding-horrizontal-half {
  padding-left: $ce3-padding-half !important;
  padding-right: $ce3-padding-half !important;
  @include medium {
    padding-left: $ce3-padding-half/2 !important;
    padding-right: $ce3-padding-half/2 !important;
  }
}

.padding-vertical-half {
  padding-top: $ce3-padding-half !important;
  padding-bottom: $ce3-padding-half !important;
  @include medium {
    padding-top: $ce3-padding-half/2 !important;
    padding-bottom: $ce3-padding-half/2 !important;
  }
}
.padding-bottom {
  padding-bottom: $ce3-default-horizontal-padding !important;
  @include medium {
    padding-bottom: $ce3-default-horizontal-padding/2 !important;
  }
}

.padding-top {
  padding-top: $ce3-default-horizontal-padding !important;
  @include medium {
    padding-top: $ce3-default-horizontal-padding/2 !important;
  }
}

.padding-bottom-half {
  padding-bottom: $ce3-padding-half !important;
  @include medium {
    padding-bottom: $ce3-padding-half/2 !important;
  }
}

.padding-top-half {
  padding-top: $ce3-padding-half !important;
  @include medium {
    padding-top: $ce3-padding-half/2 !important;
  }
}

.padding-break {
  padding-bottom: $ce3-padding-big-break !important;
  @include medium {
    padding-bottom: $ce3-padding-big-break/2 !important;
  }
}

.margin-horrizontal {
  margin-left: $ce3-default-horizontal-padding !important;
  margin-right: $ce3-default-horizontal-padding !important;
  @include medium {
    margin-left: $ce3-default-horizontal-padding/2 !important;
    margin-right: $ce3-default-horizontal-padding/2 !important;
  }
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.d-none {
  display: none!important;
}

.d-flex {
  display: flex !important;
}

.d-flex-nowrap {
  flex-wrap: nowrap !important;
}

.d-flex-wrap {
  flex-wrap: wrap !important;
}
.d-flex-row {
  display: flex !important;
  flex-flow: row wrap !important;
}

.d-flex-column {
  display: flex !important;
  flex-direction: column !important;
}

// fix to match naming convention
.flex-container {
  display: flex !important;
  flex-flow: row wrap !important;
}

// fix to match naming convention
.flex-container-nowrap {
  display: flex !important;
  flex-flow: row nowrap !important;
}

// fix to match naming convention
.flex-justify {
  justify-content: space-between !important;
}

.d-flex-fill {
    display: flex !important;
    flex: 1 1 auto !important;
}

.d-flex-center {
  display: flex !important;
  align-items: center !important;
  align-content: center !important;
  justify-content: center !important;
}

.d-flex-vertical-center {
  display: flex !important;
  align-items: center !important;
}

.d-flex-left {
  display: flex !important;
  align-items: flex-start !important;
  align-content: flex-start !important;
  justify-content: flex-start !important;
}

.d-flex-bottom {
  align-self: flex-end !important;
  align-content: flex-end !important;
  justify-content: flex-end !important;
  margin-top: auto !important;
}

.d-flex-fill {
  flex: 1 1 auto !important;
}

.d-block {
  display: block !important;
}

.input-border {
  @include border-radius(5px, 5px);
  @include box-shadow(0px 2px 4px transparentize(#000, 0.761));
}

.btn-histobs {
  cursor: pointer;
  text-decoration: line-through !important;
  background-color: $ce3-blue6 !important;
  color: transparentize($ce3-blue3, 0.5) !important;
  height: $ce3-btnheight !important;
  font: 500 14px $roboto !important;
  border: 1px solid $ce3-blue3alpha !important;
  margin-left: $ce3-default-padding;
  margin-right: $ce3-default-padding;
  @include border-radius(5px, 5px);

  @include medium {
    height: $ce3-btnheight-smallecreen !important;
  }

  .inner-histobs{
    background-color: $ce3-historical-observed !important;
    border: 1px solid darken($ce3-historical-observed, 10);
    height: 18px;
    width: $ce3-btnheight-smallecreen;
    margin: $ce3-default-padding;
    @include border-radius(5px, 5px);

    &:hover, &:focus  {
      background-color: darken($ce3-historical-observed, 10) !important;
      outline: none !important;
      font-weight: $font-weight-normal-plus !important;
      &.description {
        cursor: default;
        background-color: $ce3-historical-observed !important;
        font: $font-weight-normal 14px $roboto !important;
      }
    }
  }

  &:focus, &:hover {
    background-color: darken($ce3-blue6, 5) !important;
    outline: none !important;
    font-weight: $font-weight-normal-plus !important;
    &.description {
      cursor: default;
      background-color: $ce3-blue6 !important;
      font: $font-weight-normal 14px $roboto !important;
    }
  }

  &.selected {
    color: $ce3-blue3 !important;
    text-decoration: unset !important;
  }

  &.disabled {
    cursor: default;
    background-color: lighten($ce3-blue6, 10) !important;
    color: lighten($ce3-blue3, 30) !important;

    &:hover, &:focus {
      background-color: lighten($ce3-blue6, 10) !important;
      color: lighten($ce3-blue3, 30) !important;
      outline: none !important;
      font-weight: $font-weight-normal !important;
    }
  }
}

.btn-hismod {
  cursor: pointer;
  text-decoration: line-through !important;
  background-color: $ce3-blue6 !important;
  color: transparentize($ce3-blue3, 0.5) !important;
  height: $ce3-btnheight !important;
  font: 500 14px $roboto !important;
  border: 1px solid $ce3-blue3alpha !important;
  margin-left: $ce3-default-padding;
  margin-right: $ce3-default-padding;
  @include border-radius(5px, 5px);

  @include medium {
    height: $ce3-btnheight-smallecreen !important;
  }

  .inner-hismod {
    background-color: $ce3-historical-modeled !important;
    border: 1px solid darken($ce3-historical-modeled, 10);
    height: 18px;
    width: $ce3-btnheight-smallecreen;
    margin: $ce3-default-padding;
    @include border-radius(5px, 5px);

    &:hover, &:focus  {
      background-color: darken($ce3-historical-modeled, 10) !important;
      outline: none !important;
      font-weight: $font-weight-normal-plus !important;
      &.description {
        cursor: default;
        background-color: $ce3-historical-modeled !important;
        font: $font-weight-normal 14px $roboto !important;
      }
    }
  }

  &:hover, &:focus {
    background-color: darken($ce3-blue6, 10) !important;
    outline: none !important;
    font-weight: $font-weight-normal-plus !important;
    &.description {
      cursor: default;
      background-color: $ce3-blue6 !important;
      font: $font-weight-normal 14px $roboto !important;
    }
  }

  &.selected {
    color: $ce3-blue3 !important;
    text-decoration: unset !important;
  }

  &.disabled {
    cursor: default;
    background-color: lighten($ce3-blue6, 10) !important;
    color: lighten($ce3-blue3, 30) !important;

    &:hover, &:focus {
      background-color: lighten($ce3-blue6, 10) !important;
      color: lighten($ce3-blue3, 30) !important;
      outline: none !important;
      font-weight: $font-weight-normal !important;
    }
  }
}

.btn-lower-emissions {
  cursor: pointer;
  text-decoration: line-through !important;
  background-color: $ce3-blue6 !important;
  color: transparentize($ce3-blue3, 0.5) !important;
  height: $ce3-btnheight !important;
  font: 500 14px $roboto !important;
  border: 1px solid $ce3-blue3alpha !important;
  margin-left: $ce3-default-padding;
  margin-right: $ce3-default-padding;
  @include border-radius(5px, 5px);

  @include medium {
    height: $ce3-btnheight-smallecreen !important;
  }

  .inner-lower-emmisions {
    background-color: $ce3-lower-emissions !important;
    border: 1px solid darken($ce3-lower-emissions, 10);
    height: 18px;
    width: $ce3-btnheight-smallecreen;
    margin: $ce3-default-padding;
    @include border-radius(5px, 5px);

    &:hover, &:focus  {
      background-color: darken($ce3-lower-emissions, 10) !important;
      outline: none !important;
      font-weight: $font-weight-normal-plus !important;
      &.description {
        cursor: default;
        background-color: $ce3-lower-emissions !important;
        font: $font-weight-normal 14px $roboto !important;
      }
    }
  }

  &:hover, &:focus {
    background-color: darken($ce3-blue6, 10) !important;
    outline: none !important;
    font-weight: $font-weight-normal-plus !important;
    &.description {
      cursor: default;
      background-color: $ce3-blue6 !important;
      font: $font-weight-normal 14px $roboto !important;
    }
  }

  &.selected {
    color: $ce3-blue3 !important;
    text-decoration: unset !important;
  }

  &.disabled {
    cursor: default;
    background-color: lighten($ce3-blue6, 10) !important;
    color: lighten($ce3-blue3, 30) !important;

    &:hover, &:focus {
      background-color: lighten($ce3-blue6, 10) !important;
      color: lighten($ce3-blue3, 30) !important;
      outline: none !important;
      font-weight: $font-weight-normal !important;
    }
  }
}

.btn-higher-emissions {
  cursor: pointer;
  text-decoration: line-through !important;
  background-color: $ce3-blue6 !important;
  color: transparentize($ce3-blue3, 0.5) !important;
  height: $ce3-btnheight !important;
  font: 500 14px $roboto !important;
  border: 1px solid $ce3-blue3alpha !important;
  margin-left: $ce3-default-padding;
  margin-right: $ce3-default-padding;
  @include border-radius(5px, 5px);

  @include medium {
    height: $ce3-btnheight-smallecreen !important;
  }

  .inner-higher-emmisions {
    background-color: $ce3-higher-emissions !important;
    border: 1px solid darken($ce3-higher-emissions, 10);
    height: 18px;
    width: $ce3-btnheight-smallecreen;
    margin: $ce3-default-padding;
    @include border-radius(5px, 5px);

    &:hover, &:focus  {
      background-color: darken($ce3-higher-emissions, 10) !important;
      outline: none !important;
      font-weight: $font-weight-normal-plus !important;
      &.description {
        cursor: default;
        background-color: $ce3-higher-emissions !important;
        font: $font-weight-normal 14px $roboto !important;
      }
    }
  }

  &:hover, &:focus  {
    background-color: darken($ce3-blue6, 5) !important;
    outline: none !important;
    font-weight: $font-weight-normal-plus !important;
    &.description {
      cursor: default;
      background-color: $ce3-blue6 !important;
      font: $font-weight-normal 14px $roboto !important;
    }
  }

  &.selected {
    color: $ce3-blue3 !important;
    text-decoration: unset !important;
  }

  &.disabled {
    cursor: default;
    background-color: lighten($ce3-blue6, 5) !important;
    color: lighten($ce3-blue3, 30) !important;

    &:hover, &:focus {
      background-color: lighten($ce3-blue6, 10) !important;
      color: lighten($ce3-blue3, 30) !important;
      outline: none !important;
      font-weight: $font-weight-normal !important;
    }
  }
}

.btn-default {
  cursor: pointer;
  padding: $ce3-default-padding/2;
  height: $ce3-btnheight !important;
  background-color: $ce3-blue5 !important;
  color: $ce3-blue3 !important;
  font: $font-weight-normal 14px $roboto !important;
  border: 1px solid $ce3-blue3alpha !important;

  &.more-info {
    border: 1px solid $ce3-blue3alphad !important;
    background-color: $ce3-blue6 !important;
    @include border-radius(25px, 25px);
    padding-left: $ce3-default-padding;
    @include medium {
      padding-left: $ce3-default-padding;
      padding-top: $ce3-default-padding;
      width: 100% !important;

      .more {
        float: left;
      }

      .more-icon, .less-icon {
        float: right;
      }
    }
  }

  a {
    cursor: pointer;
    text-decoration: none !important;
    color: $ce3-blue3 !important;
  }

  @include medium {
    height: $ce3-btnheight-smallecreen !important;
  }

    &:hover, &:focus {
    background-color: darken($ce3-blue5, 7) !important;
    &.more-info {
      background-color: darken($ce3-blue6, 7) !important;
    }
    color: $ce3-blue3 !important;
    border: 1px solid $ce3-blue3alpha !important;
    outline: none !important;
    font-weight: $font-weight-normal-plus !important;
  }


  .more-info:before {
    position: inherit;
    background-color: #FBFCFE;
    font-family: 'Font Awesome 5 Free';
    font-weight: $font-weight-very-heavy;
    margin-left: 12px;
    margin-right: 6px;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btn-default-disabled {
  cursor: default;
  height: $ce3-btnheight !important;
  background-color: $ce3-blue5 !important;
  color: $ce3-disabled-font !important;
  font: 500 14px $roboto !important;
  border: 1px solid $ce3-disabled-border !important;

  @include medium {
    height: $ce3-btnheight-smallecreen !important;
  }

  &:hover, &:focus {
    background-color: $ce3-blue5 !important;
    color: $ce3-disabled-font !important;
    border: 1px solid $ce3-disabled-border !important;
    outline: none !important
  }

  &.disabled-seasonal {
    background: $ce3-blue5 !important;
    color: $ce3-disabled-font !important;
    border: 1px solid $ce3-disabled-border !important;

    &:focus, &:hover {
      border: 1px solid $ce3-disabled-border !important;
    }
  }
}

.btn-default-selected {
  cursor: pointer;
  height: $ce3-btnheight !important;
  @include border-left-radius(25px !important);
  @include border-right-radius(25px !important);
  z-index: 999 !important;
  background-color: $ce3-blue3 !important;
  color: $ce3-blue5 !important;
  font: 500 14px $roboto !important;
  border: 1px solid $ce3-blue3alpha !important;

  a {
    cursor: pointer;
    text-decoration: none !important;
    color: $ce3-blue5 !important;
  }

  &.circle-box-left {
    margin-right: -12px !important;
  }

  &.circle-box-right {
    margin-left: -12px !important;
  }

  &.circle-box-middle {
    margin-right: -12px !important;
    margin-left: -12px !important;
  }

  @include medium {
    height: $ce3-btnheight-smallecreen !important;
  }

  &:focus ,&:hover {
    background-color: lighten($ce3-blue4, 7) !important;
    color: $ce3-blue5 !important;
    border: 1px solid $ce3-blue3alpha !important;
    outline: none !important;
    font-weight: $font-weight-normal-plus !important;
  }

  &.btn-default-disabled {
    color: darken($ce3-blue5, 12) !important;
    background-color: lighten($ce3-blue3, 25) !important;

    &:focus, &:hover {
      background-color: lighten($ce3-blue3, 25) !important;
      color: darken($ce3-blue5, 12) !important;
      outline: none !important
    }
  }
}

.rounded-choice-box {
  @include border-radius(25px, 25px);
  background-color: $ce3-blue5;
  color: $ce3-blue3;
  min-height: 36px !important;
  max-height: 36px !important;
  @include medium {
    min-height: $ce3-btnheight-smallecreen !important;
    max-height: $ce3-btnheight-smallecreen !important;
  }

  &:hover, &:focus {
    background-color: darken($ce3-blue5, 7) !important;
    outline: none !important;
  }

  &.disabled:hover, &.disabled:focus  {
    color: $ce3-blue3 !important;
    background-color: $ce3-blue5 !important;
    outline: none !important;
  }
}

.select-styled {
  &:hover, &:focus {
    font-weight: $font-weight-normal-plus;

    a {
      color: darken($ce3-blue3, 10) !important;
      font-weight: $font-weight-normal-plus;
    }
    outline: none !important;

    &.disabled {
      font-weight: $font-weight-normal;
      color: $ce3-disabled-font !important;
      outline: none !important;
    }
  }
}

.rounded-description-box {
  @include border-radius(5px, 5px);
  background-color: $ce3-blue6;
  color: $ce3-blue3;
  border: 1px solid $ce3-border-color !important;
  margin: $ce3-default-padding;
}

.rounded-info-box {
  @include border-radius(5px, 5px);
  background-color: $ce3-blue6;
  color: $ce3-blue3;
  border: 1px solid $ce3-border-color !important;
  min-height: 70px !important;
  @include medium {
    min-height: 105px !important;
  }
}

.rounded-filters-box {
  @include border-radius(5px, 5px);
  background-color: $ce3-blue6;
  color: $ce3-blue3;
  border: 1px solid $ce3-border-color !important;
  min-height: 112px !important;
  height: auto !important;
  max-height:999px;
  @include transition(0.5s);
  @include transition-property(all);
  @include transition-timing-function(ease-out)
  @include medium {
    min-height: 1px !important;
  }

  &:hover, &:focus {
    outline: none !important;
  }

  #station-info {
    @include medium {
      min-height: 100px !important;
    }
  }
}

#cards-viewport .rounded-filters-box {
  min-height: $ce3-btnheight !important;
  @include medium {
    min-height: $ce3-btnheight !important;
  }
}

.rounded-box-secondary {
  @include border-radius(5px, 5px);
}

.rounded-box-secondary {
  @include border-radius(5px, 5px);
}

.rounded-box {
  @include border-radius(5px);
}

.rounded-box-top-left {
  @include border-top-left-radius(5px);
}

.rounded-box-top-right {
  @include border-top-right-radius(5px);
}

.rounded-box-bottom-left {
  @include border-bottom-left-radius(5px);
}

.rounded-box-bottom-right {
  @include border-bottom-right-radius(5px);
}

.rounded-box-top {
  @include border-top-radius(5px);
}

.rounded-box-bottom {
  @include border-bottom-radius(5px);
}

.rounded-box-left {
  @include border-left-radius(5px);
}

.rounded-box-right {
  @include border-right-radius(5px);
}


// .circle-box-secondary {
//   @include border-radius(25px, 15px);
// }

.circle-box-secondary {
  @include border-radius(25px, 25px);
}

.rounded-box {
  @include border-radius(25px);
}

.circle-box-top-left {
  @include border-top-left-radius(25px);
}

.circle-box-top-right {
  @include border-top-right-radius(25px);
}

.circle-box-bottom-left {
  @include border-bottom-left-radius(25px);
}

.circle-box-bottom-right {
  @include border-bottom-right-radius(25px);
}

.circle-box-top {
  @include border-top-radius(25px);
}

.circle-box-bottom {
  @include border-bottom-radius(25px);
}

.circle-box-left {
  @include border-left-radius(25px);
}

.circle-box-right {
  @include border-right-radius(25px);
}

.icon-info-box {
  font-size: 24px !important;
  padding-right: $ce3-default-padding !important;
  vertical-align: middle;
}

.text-info-box {
  font-size: 18px !important;
  font-weight:  $font-weight-meduim !important;
}

.text-info-box-secondary {
  font-size: 18px !important;
  font-weight:  $font-weight-normal !important;
}

#cards-search-input {
  width: 80% !important;
  text-indent: $ce3-padding-half;

  @include largeish {
    width: 75% !important;
  }

  @include medium {
    width: 90% !important;
  }
  @include small {
    width: 75% !important;
  }
}

.search-default {
  $icon-rect-size: 24px;
  width: $icon-rect-size !important;
  height: $icon-rect-size !important;
  background-color: $ce3-blue6 !important;
  @include border-radius($icon-rect-size, $icon-rect-size);
  margin-top: 7px !important;
  font-size: 14px !important;
  font-weight:  $font-weight-heavy !important;
  padding: 5px !important;
  margin-left: $ce3-padding-half;

  &.fa-times-circle {
    cursor: pointer;

    &:hover {
      background-color: darken($ce3-blue6, 10) !important;
    }
  }
}

#clear-location-wrapper {
  cursor: pointer;
  width: $ce3-btnheight;
  height: $ce3-btnheight - 1;
  background-color: $ce3-blue6;
  border: 1px solid $ce3-blue3alphad;
  @include border-bottom-left-radius(5px);
  @include border-top-left-radius(5px);
  margin-left: -12px;
  padding-left: 5px;
  float: left;
  @include medium {
    height: $ce3-btnheight-smallecreen - 1;
  }

  #clear-location {
    width: 100%;
    height: 100%;
    margin-top: 9px;
    @include medium {
      margin-top: 16px;
    }

    padding-left: 6px;
  }

  &:hover {
    background-color: darken($ce3-blue5, 5);
  }
}

input.input-inner-default {
  background-color: $ce3-blue5;
  color: $ce3-blue3;
  font: $font-weight-heavy 18px $roboto !important;
}

input.input-inner-default::placeholder  {
  background-color: $ce3-blue5;
  color: $ce3-blue3;
  font: $font-weight-heavy 18px $roboto !important;
}

input.input-inner-default:focus::placeholder  {
  color: $ce3-blue3alpha;
  font: $font-weight-heavy 18px $roboto !important;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

input.input-inner-default:focus  {
  outline: none !important;
}

#search-row {
  min-height: 50px;
  @include medium {
    min-height: 50px;
    display: block !important;
  }
}


#high-tide-flooding-viewport,
#historical-thresholds-viewport,
#historical-weather-data-viewport {
  #search-row {
    min-height: 50px;
    @include medium {
      min-height: 106px;
      display: block !important;
    }
  }
}

#info-row, #search-row, #chart-row, #map-row {
  width: 100% !important;
  align-self: center !important;

  @include small {
    width: 90% !important;
  }
}

#map-for-print {
  &-right, &-left {
    position: absolute;
    left: 0px;
    top: 150px;
    width: 100%;
    height: 100%;
    z-index: 0;
    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    .attribution {
      top: calc(100% - 17px);
    }

    .botttom-controls {
      max-height: 54px;
      height: 54px;
      width: auto;
      top: calc(100% - 88px);
      left: 24px;
    }

    .title {
      background-color: transparentize($ce3-blue5, 0.25) !important;
      max-height: 42px;
      height: 42px;
      padding: $ce3-default-padding;
      width: auto;
      top: 0px;
      left: 0px;
      @include border-bottom-right-radius(5px);
      @include border-top-right-radius(5px);
    }

    .legend {
      max-height: 250px;
      height: 250px;
      width: auto;
      top: 66px;
      left: 24px;
    }
  }
  // opacity: 0.5;
}

// CLASSES
.d-xs-only {
  display: none;
}

// button

.button {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  font: 1rem/1em $roboto;
  border: 10px solid transparent;
  @include transition(0.25s);

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 6%;
    top: 50%;
  }

  // display

  &.display-blocks {
    display: block;
  }

  // icons

  .icon {
    margin: -2px 10px 0 0;
  }

  &.plus {
    &:before {
      width: 14px;
      height: 4px;
      margin-top: -2px;
    }

    &:after {
      width: 4px;
      height: 14px;
      margin: -7px 5px 0 0;
    }
  }

  &.arrow-right {
    &:before,
    &:after {
      width: 10px;
      height: 4px;
    }

    &:before {
      @include rotate(-45deg);
      margin-top: 1px;
    }

    &:after {
      @include rotate(45deg);
      margin-top: -4px;
    }
  }

  &.close {
    &:before,
    &:after {
      right: 6px;
      width: 24px;
      height: 6px;
      margin-top: -4px;
    }

    &:before {
      @include rotate(-45deg);
    }

    &:after {
      @include rotate(45deg);
    }
  }

  // colours

  &.color-white {
    color: $white;

    &:before,
    &:after {
      background: $white;
    }
  }

  &.color-orange {
    color: $orange1 !important;

    &:before,
    &:after {
      background: $orange1 !important;
    }

    &.arrow-right {
      &:before {
        background: $orange1 !important;
      }

      &:after {
        background: $orange1 !important;
      }
    }
  }

  // borders

  &.border-white {
    border-color: $white;
    color: $white;

    &:before,
    &:after {
      background: $white;
    }
  }

  &.border-trans {
    border-color: transparent;
  }

  &.border-none {
    border: none;
  }

  // backgrounds

  &.bg-trans {
    background: transparent;
  }

  &.bg-white {
    background: white;
  }

  // HOVER

  // backgrounds

  &.hover-bg-white {
    &:hover {
      background: $white;
      color: $blue1;
      mix-blend-mode: screen;

      &:before,
      &:after {
        background: $black;
      }
    }
  }

  // BLEND

  &.blend-screen {
    mix-blend-mode: screen;

    &:before,
    &:after {
      background: $black;
    }

    &:hover {
      color: $black;
    }
  }
}
// icon

.icon {
  display: inline-block;
  vertical-align: middle;
}
// waypoints sticky

.stuck {
  position: fixed;
  top: 0;
}

  .varriable-option-item {
    width: 100%;
    height: 44px;
  }

  .varriable-option-tooltip {
    position: relative;
    padding-top: 12px;
    height: 44px;
    width: 10%;
    padding-left: 18px !important;

    @include very-large-mid {
      width: 20%;
    }

    @include very-small {
      width: 20%;
    }

    z-index: 1000;
    font-size: 20px;

    &:hover {
      color: $ce3-blue3;
      background:  darken($ce3-blue5, 5);
    }
  }

.tooltip {
  position: relative;
  display: block;
  max-width: 60%;
  z-index: 1000;
  padding: 12px;
  background: $ce3-blue6;
  font: 1.125rem/1em $roboto;
  color: $blue2;
  @include box-shadow(0 0 8px transparentize($blue1, 0.75));

  .tooltip-arrow::before {
      position: absolute;
      left: calc(100% + 12px);
      content: "";
      border-style: solid;
      border-width: .4rem 0 .4rem .4rem;
      border-color: transparent;
      border-left-color: $ce3-blue6;
  }
}
// chart legend

.chart-legend {
  @include legacy-clearfix;

  .legend-item {
    position: relative;
    float: left;
    width: 18%;
    margin: 0 1%;
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 6px;
    border: 1px solid #ffffff;
    @include transition(0.25s);

    &:hover {
      border: 1px solid #eeeeee;
    }

    &:after {
      content: "\e91f";
      display: block;
      position: absolute;
      top: -10px;
      right: -10px;
      width: 24px;
      height: 24px;
      @include border-radius(50%);
      background: $blue1;
      color: $white;
      text-align: center;
      font-family: 'icomoon';
      font-size: 1rem;
      line-height: 24px;
      opacity: 0;
      @include transition(0.25s);
    }

    &.selected {
      //background: $blue3;
      //@include box-shadow(inset 0 2px 6px transparentize($black, 0.75));
      border: 1px solid #bbbbbb;

      &:after {
        opacity: 1;
      }
    }
  }

  .legend-item-block {
    height: 20px;
  }

  .legend-item-line {
    height: 5px;
  }

  .legend-item-block {
    &#rcp45-block,
    &#preciprcp45-block, &
    #derivercp45-block {
      background: #99bcec;
    }

    &#rcp85-block,
    &#preciprcp85-block,
    &#derivercp85-block {
      background: #fbb4ab;
    }

    &#historical-block,
    &#preciphistorical-block,
    &#derivehistorical-block {
      background: #d6d6d6;
    }
  }

  .legend-item-line {
    &#over-baseline-block,
    &#precipover-baseline-block,
    &#deriveover-baseline-block {
      background: #cd6760;
    }

    &#under-baseline-block,
    &#precipunder-baseline-block,
    &#deriveunder-baseline-block {
      margin-top: 20px;
      background: #6194c8;
    }

    &#rcp45-line,
    &#preciprcp45-line,
    &#derivercp45-line {
      margin-top: 20px;
      background: #0058cf;
    }

    &#rcp85-line,
    &#preciprcp85-line,
    &#derivercp85-line {
      background: #f5442d;
    }
  }
}
// download

.download-panel {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
  z-index: 500;
  background: url(../img/bg_contours-blue.png) no-repeat center;
  background-size: cover;
  //backdrop-filter: blur(3px);
  //-webkit-backdrop-filter: blur(3px);
  text-align: center;
  opacity: 0.95;

  .download-inner {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
    background: transparentize($white, 0.9);
    color: $white;
    padding: 30px;

    p {
      margin: 0 0 20px 0;
    }

    li {
      margin: 0 0 10px 0;
    }

    a {
      color: $white;
    }
  }

  #download-dismiss-button, .download-dismiss-button {
    display: block;
    position: absolute;
    top: -30px;
    right: 0;
  }
}
// SOCIAL
@import "ce-three-theme";
@import "template/share";

// NAV OVERLAY

@import "template/nav-overlay";


@import "template/nav_footer";
// PAGE STRUCTURE

#desktop-warning {
  display: none;
}
@import "template/secondary_header";
@import "template/main_header";

// // HOME PAGE

@import "pages/home";

// LOCATIOn

@import "pages/local-climate-charts";
@import "pages/local-climate-maps";
@import "pages/historical-weather-data";
@import "pages/historical-thresholds";
@import "pages/high-tide-flooding";

// VARIABLES

@import "pages/variable";

// Stations

@import "pages/stations";

// CASE

@import "pages/case";

// cards-home
@import "pages/cards-home";


// about, definitions, creds, faq
@import "pages/about";
// PLUGINS

// tour

@import "plugins/shepherd-theme-arrows";
@import "plugins/tour";

// lc_switch

@import "plugins/toggles";

// jquery UI
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}
.ui-menu {
  display: block;
  padding: 10px;
  margin: 0;
  outline: none;
  background: transparentize($white, 0.1);
  border: 3px solid $orange1;
  @include box-shadow(0 0 12px transparentize($blue2, 0.75));

  .ui-menu {
    position: absolute;
  }

  .ui-menu-item {
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .ui-menu-divider {
    margin: 5px 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 1px 0 0 0;
  }
}
.ui-accordion {
  .ui-accordion-header {
    outline: none;

    .ui-accordion-header-icon {
      display: inline-block;
      position: static;
      margin: 0 10px 0 0;
      text-indent: 0;
      overflow: visible;
    }
  }
}
.accordion-plain {
  .ui-accordion-header {
    padding: 8px 0;
    color: $blue2;
    line-height: 28px;

    .ui-accordion-header-icon {
      display: block;
      float: left;
      width: 30px;
      height: 30px;
      font-size: 14px;
      line-height: 28px;
    }
  }

  .accordion-text {
    padding: 20px 40px;
  }
}
.tabs-plain {
  .tabs-plain-list {
    li {
      display: inline-block;

      a {
        display: block;
        padding: 8px 10px;

        &.ui-state-active {
        }
      }
    }
  }
}
// split pane

@import "plugins/split-pane";

.pretty-split-pane-frame .split-pane > .split-pane-divider.dragged.touch {
  background: blue;
  opacity: 0.25;
}
.split-pane-divider {
  right: 50%;
  width: 12px;
  background: $white;
  @include box-shadow(0 0 10px transparentize($blue2, 0.75));
}
.pane-content {
  @include full-size;
  overflow: auto;
}
#pane-left {
  right: 50%;
  margin-right: 12px;
}
#pane-right {
  width: 50%;
}

.ui-tooltip {
  background-color: $blue1;
  color: white;
  border-radius: 14px;
  font-size: .6rem;
  height: 1.5rem;
  padding-top: 0;
}

.feedback-trigger-small {
  position: absolute;
  cursor: pointer;
  font: $font-weight-normal 18px $roboto;
  top: calc(100% - 48px);
  left: calc(100% - 48px);
  width: 48px;
  height: 48px;
  display:inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: $ce3-blue3;
  color: $ce3-blue5;
  padding-top: $ce3-default-padding;
  padding-left: 3px;
  @include border-top-left-radius(48px);
  @include border-bottom-left-radius(48px);
  @include border-top-right-radius(48px);
  @include box-shadow(0px 2px 4px transparentize(#000, 0.761));

  &:hover {
    background-color: lighten($ce3-blue3, 12);
    @include box-shadow(0px 4px 8px transparentize(#000, 0.761));
  }
}

#feedback-close-button-yes, #feedback-close-button-no {
  background-color: $ce3-blue6;
  line-height: 32px;
  margin-left: $ce3-default-padding;
  color: $ce3-blue3;
  @include border-radius(4px);
  cursor: pointer;
  display: inline-block;
  width: 42px;
  height: 30px;

  &:hover {
    background-color: darken($ce3-blue6, 15);
  }
}

.feedback-trigger {
  position: absolute;
  background-color: $ce3-blue3;
  top: calc(100% - 54px);
  left: calc(100% - 400px);
  cursor: pointer;
  width: 400px;
  text-align: center;

  @include small {
    width: 100%;
    left: 0px;
  }

  .feedback-text {
    padding-left: $ce3-padding-half;
  }

  .feedback-icon {
    font-size: 18px;
    vertical-align: middle;
    @include small {
      display: none;
    }
  }

  font: $font-weight-normal-plus 16px $roboto;
  background-color: $ce3-blue3;
  color: $ce3-blue5;
  padding: $ce3-default-padding;
  @include box-shadow(0px 2px 4px transparentize(#000, 0.761));
  @include border-top-left-radius(24px);
  display: inline-block;

  &:hover {
    background-color: lighten($ce3-blue3, 12);
    @include box-shadow(0px 4px 8px transparentize(#000, 0.761));
  }
}

.about-tool-row {
  height: auto;
  align-items: start !important;
  align-content: start !important;
  justify-content: start !important;

  &.about-tool-equals {
    align-items: center !important;
    align-content: center !important;
    justify-content: center !important;
    font-size: 24px;
    font-weight: $font-weight-normal-plus;
  }

  .about-tool-content  {
    line-height: unset !important;
    margin: 0px !important;
    padding-bottom: $ce3-default-padding;
    padding-top: $ce3-default-padding;

    &.img-holder-left {
      justify-content: start !important;
      img {
        border: 1px solid;
      }
      @include medium {
        justify-content: center !important;
      }
    }

    &.img-holder-right {
      justify-content: flex-end !important;
      img {
        border: 1px solid;
      }
      @include medium {
        justify-content: center !important;
      }
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      width: 100%;
      height: 100%;
    }

    .sample-img {
      max-height: 200px;
      width: auto;
    }
  }

  .btn-chart-text {
    padding: $ce3-default-padding;
  }


  @include medium {
    width: 100% !important;
    border-bottom: 1px solid $ce3-blue3;

    .img-btn-chart {
      width: 50% !important;
      height: 50% !important;
    }

    #btn-chart {
      width: 100% !important;

      &.circle-box-left {
        @include border-radius(5px);
      }
      &.circle-box-right {
        @include border-radius(5px);
      }
      &.circle-box-center  {
        @include border-radius(5px);
      }
    }
  }

}
