// VARIABLES

// colors

$white: #fff;
$black: #000;
$blue1: #0058cf;
$blue2: #233a70;
$blue3: #d5e8f2;
$orange1: #f5442d;
$brown1: #904848;
$grey1: #5f5f5f;
$grey2: #ebebeb;

// fonts

$roboto: Roboto, Helvetica, 'Helvetica Neue', Arial, sans-serif;
$sans-book: 'CESans', Roboto, Helvetica, 'Helvetica Neue', Arial, sans-serif;
$sans-heavy: 'CESans-Heavy', Helvetica, 'Helvetica Neue', Arial, sans-serif;

// IMPORTS

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "fonts";
@import "formstone/grid";
@import "formstone/scrollbar";
@import "formstone/dropdown";
@import "formstone/tabs";
@import "formstone/range";
@import "plugins/jquery-ui";

// MIXINS

@import "mixins";

// TAGS

* {
  @include box-sizing;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: $white;
  font: 300 16px/24px $roboto;
  color: $grey1;
}

a {
  color: $orange1;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font: 6.25rem/0.9em $sans-heavy;
  text-transform: uppercase;
}

h2 {
  font: 2.875rem/1em $sans-heavy;
}

h3 {
  font: 2.25rem/1em $sans-book;
}

h4 {
  font: 400 2rem/1em $roboto;
}

h5 {
  font: 0.75rem/1em $sans-heavy;
}

h6 {
  font: 0.75rem/1em $sans-heavy;
}

// CLASSES

// button

.button {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  font: 1rem/1em $sans-heavy;
  border: 10px solid transparent;
  @include transition(0.25s);
  
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 6%;
    top: 50%;
  }
  
  // display
  
  &.display-block {
    display: block;
  }
  
  // icons
  
  .icon {
    margin: -2px 10px 0 0;
  }
  
  &.plus {
    &:before {
      width: 14px;
      height: 4px;
      margin-top: -2px;
    }
    
    &:after {
      width: 4px;
      height: 14px;
      margin: -7px 5px 0 0;
    }
  }
  
  &.arrow-left {
    &:before,
    &:after {
      width: 10px;
      height: 4px;
    }
    
    &:before {
      @include rotate(-45deg);
      margin-top: -4px;
    }
    
    &:after {
      @include rotate(45deg);
      margin-top: 1px;
    }
  }
  
  &.arrow-right {
    &:before,
    &:after {
      width: 10px;
      height: 4px;
    }
    
    &:before {
      @include rotate(-45deg);
      margin-top: 1px;
    }
    
    &:after {
      @include rotate(45deg);
      margin-top: -4px;
    }
  }
  
  &.close {
    &:before,
    &:after {
      right: 6px;
      width: 24px;
      height: 6px;
      margin-top: -4px;
    }
    
    &:before {
      @include rotate(-45deg);
    }
    
    &:after {
      @include rotate(45deg);
    }
  }
  
  // colours
  
  &.color-white {
    color: $white;
    
    &:before,
    &:after {
      background: $white;
    }
  }
  
  &.color-orange {
    color: $orange1;
    
    &:before,
    &:after {
      background: $orange1;
    }
  }
  
  // borders
    
  &.border-white {
    border-color: $white;
    color: $white;
    
    &:before,
    &:after {
      background: $white;
    }
  }
  
  &.border-trans {
    border-color: transparent;
  }
  
  &.border-none {
    border: none;
  }
  
  // backgrounds
  
  &.bg-trans {
    background: transparent;
  }
  
  &.bg-white {
    background: white;
  }
  
  // HOVER
  
  // backgrounds
  
  &.hover-bg-white {
    &:hover {
      background: $white;
      color: $blue1;
      mix-blend-mode: screen;
      
      &:before,
      &:after {
        background: $black;
      }
    }
  }
  
  // BLEND
  
  &.blend-screen {
    mix-blend-mode: screen;
    
    &:before,
    &:after {
      background: $black;
    }
    
    &:hover {
      color: $black;
    }
  }
}

// icon

.icon {
  display: inline-block;
  vertical-align: middle;
}

// waypoints sticky

.stuck {
  position: fixed;
  top: 0;
}

// tooltip
  
.tooltip {
  display: none;
  position: absolute;
  top: -55px;
  left: 50%;
  padding: 12px;
  background: $white;
  text-align: center;
  font: 1.125rem/1em $roboto;
  color: $blue2;
  @include transform(translateX(-50%));
  @include box-shadow(0 0 8px transparentize($blue1, 0.75));
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    border: 5px solid $white;
    border-color: $white transparent transparent transparent;
  }
}

// swipe

.moveable {
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 100%;
  margin: 0;
  padding: 0!important;
  background: $white;
  z-index: 2;
  cursor: col-resize;
    
  .handle {
    display: block;
    position: absolute;
    top: 45%;
    left: -34px;
    width: 70px;
    height: 36px;
    @include border-radius(20px);
    background: url(../img/swipe-arrows-stripe.png) center center rgba(34,105,179,0.87);
  }
}

// chart legend

.chart-legend {
  @include legacy-clearfix;
  
  .legend-item {
    float: left;
    width: 18%;
    margin: 0 1%;
    font-size: 0.67em;
    line-height: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 6px;
    border: 1px solid #FFF;
    @include transition(0.25s);

    &:hover {
      border:1px solid #EEE;
    }
    
    &.selected {
      background: $blue3;
      @include box-shadow(inset 0 2px 6px transparentize($black, 0.75));
    }
  }
  
  .legend-item-block {
    height: 20px;
  }
  
  .legend-item-line {
    height: 5px;
  }
  
  .legend-item-block {
    &#rcp45-block, 
    &#preciprcp45-block, &
    #derivercp45-block {
      background:#99BCEC;
    }
    
    &#rcp85-block,
    &#preciprcp85-block,
    &#derivercp85-block {
      background:#fbb4ab;
    }
  
    &#historical-block, 
    &#preciphistorical-block, 
    &#derivehistorical-block {
      background:#D6D6D6;
    }
  }
  
  .legend-item-line {
    &#over-baseline-block,
    &#precipover-baseline-block, 
    &#deriveover-baseline-block {
      background:#CD6760;
    }
   
    &#under-baseline-block, 
    &#precipunder-baseline-block, 
    &#deriveunder-baseline-block {
      margin-top:20px;
      background:#6194C8;
    }
    
    &#rcp45-line, 
    &#preciprcp45-line,  
    &#derivercp45-line {
      margin-top:20px;
      background:#0058CF;
    }
    
    &#rcp85-line, 
    &#preciprcp85-line, 
    &#derivercp85-line {
      background:#F5442D;
    }
  }
}

// download

.download-panel {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
  z-index: 500;
  background: url(../img/bg_contours-blue.png) no-repeat center;
  background-size: cover;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  text-align: center;
  opacity: 0.95;

  .download-inner {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
    background: transparentize($white, 0.9);
    color: $white;
    padding: 30px;
    
    p {
      margin: 0 0 20px 0;
    }
    
    li {
      margin: 0 0 10px 0;
    }
    
    a {
      color: $white;
    }
  }
  
  #download-dismiss-button {
    display: block;
    position: absolute;
    top: -30px;
    right: 0;
  }
}

// SOCIAL

@import "template/share";

// NAV OVERLAY

@import "template/nav-overlay";

// PAGE STRUCTURE

#viewport {
  position: fixed;
  top: 110px;
  left: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 130px);
  background: url(../img/bg_contours.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
  z-index: 1;
}

// HEADER

@import "template/header";

// zoom / legend

.ui-slider-label {
  position: absolute;
  width: 21px;
  height: 21px;
  border: 3px solid $orange1;
  color: $orange1;
  font: 0.75rem/0.75rem $sans-heavy;
  @include border-radius(50%);
  @include no-text;
  cursor: pointer;
  
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 3px;
    width: 9px;
    height: 3px;
    margin: -1px 0 0 0;
    background: $orange1;
  }

  &.minus {
  }
  
  &.plus {
    &:after {
      top: 4px;
      left: 6px;
      width: 3px;
      height: 9px;
    }
  }
  
  &.range-label {
    bottom: 0;
    width: auto;
    @include undo-no-text;
    font: 300 0.875rem/1em $roboto;
    color: $grey1;
    border: none;
    @include border-radius(none);
    
    &:before,
    &:after {
      display: none;
    }
    
    &.min {
      left: 0;
    }
    
    &.mid {
      left: 50%;
      @include transform(translateX(-50%));
    }
    
    &.max {
      right: 0;
    }
  }
}

.legend-wrap {
  .legend {
    
    .color {
      display: inline-block;
      height: 0;
      background: red;
      vertical-align: middle;
    }
    
  }
}

.zoom {
  position: absolute;
  top: 30%;
  right: 50px;
  height: 40%;

  .zoom-slider {
    left: calc(50% - 3px);
    top: 15%;
    width: 6px;
    height: 70%;
  }
  
  .ui-slider-handle {
    @include transition(0.15s);
  }
  
  .zoom-label {
    left: 50%;
    margin-left: -10px;
    
    &.minus {
      bottom: 0;
    }
    
    &.plus {
      top: 0;
    }
  }
}

.page-splash {
  padding: 8% 0;
  color: $blue2;
  
  .splash-text {
    max-width: 65%;
    padding-left: 4%;
    padding-left: calc(4% + 10px);
    mix-blend-mode: hard-light;
    
    h1 {
      margin: 0 0 20px 0;
    }
    
    h4 {
      margin: 0 0 40px 0;
      color: $orange1;
    }
    
    p {
      width: 75%;
      margin: 0 0 20px 0;
      font: 400 1.375rem/1.5em $roboto;
    }
  }
  
  .share-widget {
    top: 0;
    right: 0;
  }
}

// HOME PAGE

@import "pages/home";

// LOCATION

@import "pages/location";

// TOPICS

@import "pages/topic";

// VARIABLES

@import "pages/variable";

// CASE

@import "pages/case";

// PLUGINS

// lc_switch

@import "plugins/toggles";

// jquery UI

.ui-slider-horizontal {
  height: 6px;
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

.ui-menu {
	display: block;
  padding: 10px;
	margin: 0;
	outline: none;
	background: transparentize($white, 0.1);
  border: 3px solid $orange1;
  @include box-shadow(0 0 12px transparentize($blue2, 0.75));

  .ui-menu {
  	position: absolute;
  }

  .ui-menu-item {
  	position: relative;
  	margin: 0;
  	padding: 0;
  	cursor: pointer;
  }
  
  .ui-menu-divider {
  	margin: 5px 0;
  	height: 0;
  	font-size: 0;
  	line-height: 0;
  	border-width: 1px 0 0 0;
  }
}

// split pane

@import "plugins/split-pane";

.pretty-split-pane-frame .split-pane > .split-pane-divider.dragged.touch {
	background: blue;
	opacity: 0.25;
}

.split-pane-divider {
	right: 50%;
	width: 12px;
	background: $white;
	@include box-shadow(0 0 10px transparentize($blue2, 0.75));
}

.pane-content {
  @include full-size;
	overflow: auto;
}

#pane-left {
	right: 50%;
	margin-right: 12px;
}

#pane-right {
	width: 50%;
}

// MEDIA QUERIES

@import "media";