@import "../color_utils";

h2 {
  color: $navbar-background;
  font-size: 2rem;
  font-weight: bold;
}

.page-text {
  font-size: 1.2rem;

  hr {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h3 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    color: $navbar-button-background;
  }

  h4 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    color: $navbar-button-background;
  }

  li {
    list-style: disc;
    margin-left: 2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}
