@import "../color_utils";

.chart-info {
  background-color: $search-input-background;
  transition: background-color 200ms ease-in;

  span {
    color: $navbar-button-background !important;
    font-weight: normal !important;
  }

  &:hover {
    background-color: $navbar-hover-background;
  }
}

.btn-histobs, .btn-histmod, .btn-lower-emissions, .btn-higher-emissions {
  background-color: $search-input-background;
  color: $navbar-button-background;

  transition: background-color 200ms ease-in;

  &:hover {
    background-color: $navbar-hover-background;
  }
}

.inner-histobs {
  background-color: #777777;
}

.inner-histmod {
  background-color: #D6D6D6;
}

.inner-lower-emissions {
  background-color: #98BCEB;
  position: relative;
  &::after{
    content: "";
    display: block;
    height: calc(50% + 0.075rem);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    right: 0;
    border-bottom: 0.15rem solid rgba(0,88,207,1);
  }
}

.inner-higher-emissions {
  background-color: #FBB4AA;
  position: relative;
  &::after{
    content: "";
    display: block;
    height: calc(50% + 0.075rem);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    right: 0;
    border-bottom: 0.15rem solid rgba(245,68,45,1);
  }
}

.chart-explainer-fake-buttons {
  background-color: $search-input-background;
}
