

#selection-dropdown-menu {
  background-color: $search-input-background;
  color: $navbar-button-background;
}

.selection-dropdown {

  li {
    color: $navbar-button-background;

    transition: background-color 200ms ease-in;
  }

  li:hover {
    background-color: $navbar-hover-background;
    cursor: pointer;
  }

}

.historical-threshold-input {
  position: absolute;
  transform: translateY(-1.5rem);
}

#thresholds-container {
  height: 200px;
}

.more-btn-container:hover .more-btn{
  display: block !important;
}
