@import "../color_utils";

.stations-dropdown-ul {
  li {
    color: $navbar-button-background;

    transition: background-color 200ms ease-in;
  }

  li:hover {
    background-color: $navbar-hover-background;
    cursor: pointer;
  }
}

#default-station-label ,#default-station-id-label, #default-stationMOverMHHW-label {
  font-weight: bold !important;
}

#default-station ,#default-station-id, #default-stationMOverMHHW {
  font-weight: normal !important;
}
