.index-page {
  background: url(/img/bg_splash-pinal.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 0.75rem solid white;

  .body-wrapper {
    background-color: rgba(233, 241, 252, 0.7);
  }

  h2 {
    font-size: 3rem;
  }

  .title-subtext {

    span {
      font-size: 1.5rem;
    }
  }

  .search-input-group {
    font-size: 1.5rem;

    input {
      background-color: white;
      font-size: 1.5rem;
      border-radius: 0;
    }

    span {
      background-color: white;
    }

    .icon-search {
      background-color: $navbar-background;
      color: white;
      border-radius: 180px;
    }

  }

  .new-info {
    font-size: 1.3rem;

    a {
      color: $navbar-button-background;
      text-decoration: underline;
      background-color: transparent !important;
    }
  }

  .default-cities {
    font-size: 1.2rem;

    a {
      background-color: white;
      transition: background-color ease-in 200ms;

      &:hover {
        background-color: $navbar-hover-background;
      }
    }
  }

  .main-logos {
    position: absolute;
    bottom: 0;
    right: 0;

    a {
      height: 3rem;
      width: 3rem;
      background-color: white;
    }

    #global-change {
      width: 6rem;
    }
  }
}
