@import "../color_utils";

.search-input-group {
  border-color: $input-box-border;

  input {
    background-color: $search-input-background;
    color: $navbar-button-background;
    font-weight: bold;
    border: none;
  }

  input:focus {
    color: $navbar-button-background !important;
    background-color: $search-input-background !important;
  }

  input::placeholder {
    color: $navbar-button-background;
    opacity: 0.5;
  }

  button {
    background-color: white;

    span {
      color: $navbar-button-background;
    }
  }
}

.select-county-card {

  border-color: $search-input-background;

  .icon-info-box {
    font-size: 1.5rem;
  }

  #default-city-county {
    color: $navbar-button-background;
    font-weight: bold;
  }
}

.card {
  background-color: $search-input-background;
}

.cards-home-title {
  font-weight: bold;
}

.data-card {
  cursor: pointer;
  transition: transform ease-in 200ms;

  i {
    font-size: 1.5rem;
  }

  ul {
    list-style-type: disc !important;
    list-style-position: inside;
  }

}

.data-card:hover {
  transform: scale(1.02);
}
