@import "../color_utils";

.dropdown-menu {
  max-height: 15rem;
  overflow: auto;
}

.stations-dropdown, .download-dropdown {

  border-color: $input-box-border;

  a {
    background-color: $search-input-background;
    text-align: left;
    color: $navbar-button-background;
  }

  ul {
    background-color: $search-input-background;

    a {
      transition: background-color 200ms ease-in;
    }

    a:hover {
      background-color: $navbar-hover-background;
    }
  }
}

#filter-dropdown-menu {
  background-color: $navbar-background;
  color: $search-input-background;
}

#filter-tooltip {
  height: 2rem;
  width: 2.3rem;
  color: white;
  background-color: $navbar-background;
  border-radius: 50%;
}

.selected-item {
  background-color: $navbar-background;
  color: $search-input-background;
}

.selected-item:hover {
  background-color: $navbar-button-background;
  color: $search-input-background;
}

.default-selection {
  background-color: $search-input-background;
  color: $navbar-background;
}

.default-selection:hover {
  background-color: $navbar-hover-background;
}

.info-section {

  span, i {
    color: $navbar-button-background;
    font-weight: bold;
  }

  .border {
    border-color: $input-box-border;
  }

}

.filter-dropdown-menu {
  max-height: 80vh;
  background-color: $search-input-background;

  .variable-option-text {
    color: $navbar-button-background;
    font-weight: normal;
  }

  .dropdown-item {
    transition: background-color 200ms ease-in;
  }

  .dropdown-item:hover {
    background-color: $navbar-hover-background;
    cursor: pointer;
  }
}

.filter-dropdown-header {

  text-align: center;

  i, span {
    color: $navbar-background;
    font-weight: bold;
  }
}


#collapse-info-section {
  ul {
    background-color: $search-input-background;

    a:hover {
      background-color: $navbar-hover-background;
    }

    li:hover {
      background-color: $navbar-hover-background;
    }

  }
}

#map-element {
  position: relative;
  max-height: 60vh;
}

#local-climate-map-element {
  position: absolute;
}

.average-year-label {
  background-color: $search-input-background;
  border: 2px solid $input-box-border;

  span {
    color: $navbar-button-background;
    font-weight: bold;
  }
}
