@import "../color_utils";

.dropdown-menu {
  max-height: 15rem;
  overflow: auto;
}

.stations-dropdown {
  border-color: $input-box-border;

  a {
    text-align: left;
    color: $navbar-button-background;
  }

  ul {
    background-color: $search-input-background;

    a {
      transition: background-color 200ms ease-in;
    }

    a:hover {
      background-color: $navbar-hover-background;
    }
  }
}

#stations-dropdown-menu {
  background-color: $search-input-background;
}

.info-section {

  background-color: $search-input-background;

  span, i {
    color: $navbar-button-background;
    font-weight: bold;
  }

  .border {
    border-color: $input-box-border;
  }

}

/* this is to disable the carrot from bootstraps dropdown
.dropdown-toggle::after {
  display: none;
}
*/
