#next-steps-viewport {
  background-color: $white;
  height: calc(100% - 48px - 6px - 100px) !important;
  min-height: calc(100% - 48px - 6px - 100px) !important;

  @include kind-of-tiny {
    min-height: calc(100% - 48px - 12px - 64px) !important;
    height: calc(100% - 48px - 12px - 64px) !important;
  }
  overflow: auto !important;
  flex: 1 1 auto !important;
  margin-bottom: 6px;

  &:after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    top: calc(100% - 105px);

    @include kind-of-tiny {
      top: calc(100% - 75px);
    }
    left: -2px;
    @include box-shadow( inset 0 -2px 2px transparentize(#000, 0.7));
  }

  &.expanded {
    @include medium-expand-bottom {
      min-height: calc(100% - 48px - 12px - 100px) !important;
      height: calc(100% - 48px - 12px - 100px) !important;
      &:after {
        top: calc(100% - 117px);

        @include kind-of-tiny {
          top: calc(100% - 147px);
        }
      }
    }

    min-height: calc(100% - 48px - 12px - 170px) !important;
    height: calc(100% - 48px - 12px - 170px) !important;
    &:after {
      top: calc(100% - 187px);
      z-index: 1;

      @include kind-of-tiny {
        top: calc(100% - 147px);
      }
    }

    @include kind-of-tiny {
      min-height: calc(100% - 48px - 12px - 130px) !important;
      height: calc(100% - 48px - 12px - 130px) !important;
    }
  }

  .text-info-box {
    @include medium {
      width: 100% !important;
      white-space: nowrap;
    }
  }

  #data-card.card-empty-data {
    cursor: default;
    @include box-shadow(0px 0px 0px transparentize(#000, 1));  // noborder
    border: 0px solid $white !important;
    #card-text {
      background-color: $white !important;
    }
    &:hover, &:focus {
    border: 0px solid $white !important; // noborder
    @include box-shadow(0px 0px 0px transparentize(#000, 1));  // noborder
    outline: none;
    }
  }

  .rounded-filters-box {
    min-height: $ce3-btn-height !important;
    @include medium {
      min-height: $ce3-btn-height !important;
    }
  }

  #cards-search-input {
    &.nosearch {
      border-bottom: 3px solid transparentize($ce3-error-state, .1) !important;

      &:focus::placeholder{
        color: transparentize($ce3-error-state, .6);
      }

      &::placeholder {
        color: $ce3-error-state;
      }
    }
  }

  #data-card {
    cursor: default;
    // width: 49%  !important;
    height: auto !important;
    @include border-radius(5px, 5px);
    border: 1px solid $ce3-blue3 !important;
    border: 1px solid $ce3-blue5 !important; // noborder
    @include box-shadow(0px 2px 3px transparentize(#000, 0.761));  // noborder
    position: relative;

    .disabled-text {
      display: none;
    }

    &.card-disabled {
      cursor: default;
      #card-image-row {
        img {
          -webkit-filter: grayscale(60%) contrast(50%);; /* Safari 6.0 - 9.0 */
          filter: grayscale(60%) contrast(50%);;
        }
      }
      #card-text {
        color: darken($ce3-blue6, 20) !important;
      }
      .disabled-text {
        position: static;
        text-align: center;
        font-size: 20px;
        background: none;
        padding: $ce3-padding-half;
        margin: auto 0;
        @include border-radius(5px, 5px);
        @include small {
          font-size: 18px;
        }
        font-weight: $font-weight-heavy;
        color: $ce3-blue3 !important;
        display: block;
        max-width: 350px;
      }
    }

    @include large {
      width: 90% !important;
      height: auto !important;
      margin: $ce3-padding-half !important;
    }

    @include medium {
      height: -moz-fit-content !important;
      height: -webkit-fit-content !important;
      height: fit-content !important;
      max-height: none !important;
    }

    @include small {
      height: -moz-fit-content !important;
      height: -webkit-fit-content !important;
      height: fit-content !important;
    }

    @include very-small {
      max-height: none !important;
    }

    @include tiny {
      max-height: none !important;
    }

    @include to-small-to-see {
      max-height: none !important;
    }
  }

  #card-row {
    justify-content: space-evenly !important;
    height: auto !important;
    flex-flow: row nowrap !important;
    padding-right: $ce3-default-padding !important;
    left: $ce3-default-padding !important;
    max-height: 1800px;

    @include large {
      justify-content: center !important;
      height: auto !important;
      min-height: unset !important;
      flex-flow: row nowrap !important;
    }

    @include medium {
      flex-flow: row wrap !important;
      padding-right: $ce3-default-padding/2 !important;
      left: $ce3-default-padding/2 !important;
      max-height: 1240px !important;
      min-height: 1240px !important;
      height: 100% !important;
    }

    @include small {
      max-height: 1240px !important;
      min-height: 1000px !important;
    }

    @include very-small {
      max-height: 1240px !important;
      min-height: 710px !important;
    }

    @include tiny {
      max-height: 1000px !important;
      min-height: 640px !important;
    }

    @include to-small-to-see {
      max-height: 800px !important;
      min-height: 560px !important;
    }
  }

  #card-image-row {
    justify-content: center !important;
    align-content: center !important;
    @include border-radius(5px, 5px);
    max-height: 400px;
    z-index: 1;


    @include medium {
      justify-content: start !important;
      align-content: start !important;
      max-height: 250px;
      height: 100% !important;
    }

    @include small {
      max-height: 250px;
    }

    @include very-small {
      max-height: 150px;
    }

  }

  #card-text {
    position: relative;
    background-color: $ce3-blue5 !important;
    color: $ce3-blue3 !important;
    flex: 1 1 auto !important;
    height: auto !important;
    min-height: 40px !important;
    max-height: none !important;
    z-index: 2;
    line-height: 1.4em;
    @include border-bottom-left-radius(5px);
    @include border-bottom-right-radius(5px);
     @include border-radius(0px, 5px);  // noborder

    padding-top: $ce3-default-horizontal-padding !important;
    padding-bottom: $ce3-default-horizontal-padding !important;
    padding-left: $ce3-default-horizontal-padding !important;
    padding-right: $ce3-default-horizontal-padding !important;

    @include medium {
      padding-top: $ce3-default-horizontal-padding/2 !important;
      padding-bottom: $ce3-default-horizontal-padding/2 !important;
      padding-left: $ce3-default-horizontal-padding !important;
      padding-right: $ce3-default-horizontal-padding !important;
    }
    @include small {
      min-height: auto !important;
    }
  }

  #card-title-icon {
    font: $font-weight-meduim 18px $roboto !important;
    padding-bottom: 0 !important;
    max-height: none;
    align-items: center;
  }

  .card-title-icon-wrap {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .card-title-wrap {
    flex: 1;
    padding: 3px;
    margin-bottom: 4px;
  }

  .card-title {
    font-size: 18px !important;
    align-self: center !important;
    font-weight: bold;
    display: block;
    margin-bottom: 7px;
    white-space: nowrap;

    @include very-small  {
      font-size: 18px !important;
    }

    a {
      color: $ce3-blue6 !important;
      text-decoration: none !important;
    }
  }

  .card-icon {
    flex: 0 0 auto !important;
    height: 28px;
    margin: 0 3px auto 0 !important;
  }

  .card-image {
    height: auto !important;
    @include border-radius(5px, 5px);
    max-width: 100% !important;
    align-self: center !important;
    padding: 1px !important;

    @include medium {
      align-self: start !important;
    }
  }

  .card-subtitle {
    font-size: small;
    display: inline;
    font-style: italic;
    font-weight: normal;
    margin: auto 3px;
    flex: 1;
    white-space: nowrap;

    a {
      color: #124086 !important;
      text-decoration: underline !important;
    }
  }

  .card-controls {
    font-size: 60%;
    display: flex;
    white-space: nowrap;
    background-color: #FBFCFE;
    padding: 3px 12px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

    .lcs_wrap {
      flex: 0;
    }
    .lcs_wrap + label {
      flex: 1;
    }
    .methodology-link {
      margin: 4px;
      font-size: 120%;
      line-height: 20px;
      vertical-align: middle;
      text-decoration: underline;
    }
  }
  .help-text {
    font-size: 14px;

    line-height: 1.4em;
  }

  #card-description {
    font-size: 14px !important;
    padding: 5px;
    background-color: #FBFCFE;
    min-height: 320px;
    align-items: center;

    line-height: 1.4em;
    img {
      height: 40px;
      width: 40px;
      margin: 5px;
      min-width: 40px;
      min-height: 40px;
    }

    b {
      font-weight: bold;
    }

    > div {
      display: flex;
      padding: 6px 1px;
      width: 100%;

      @include medium {
        &:not(:last-child) {
          border-bottom: 1px solid #ccc;
        }
      }

      > div {
        margin: auto 0;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .footer {
    display: flex;
    padding: 10px;
    font-size: small;
    background-color: #E9F1FC !important;
    border-top: 1px solid #ccc;
    color: #124086 !important;
    align-items: center;

    a {
      background-color: #124086;
      color: #fff;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      padding: 6px 15px;
      border-radius: 5px;
    }
  }

  .indicator-historic {
    font-size: small;
    font-style: italic;
  }

  .lcs_wrap {
    display: inline-block;
    direction: ltr;
    height: 16px;
    vertical-align: middle;
    position: relative;
    margin: 6px 2px 6px 0;
  }
  .lcs_wrap input {
    display: none;
  }
  .lcs_wrap + label {
    display: inline-block;
    margin: 4px;
    font-size: 120%;
    line-height: 20px;
    vertical-align: middle;
  }

  .lcs_switch {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 16px;
    border-radius: 17px;
    background: #ddd;
    overflow: hidden;
    cursor: pointer;

    -webkit-transition: all .2s ease-in-out;
    -ms-transition:     all .2s ease-in-out;
    transition:         all .2s ease-in-out;
  }
  .lcs_cursor {
    display: inline-block;
    position: absolute;
    top: 10px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;

    -webkit-transition: all .2s linear;
    -ms-transition:     all .2s linear;
    transition:         all .2s linear;
  }

  /* on */
  .lcs_switch.lcs_on {
    background: #75b936;
    box-shadow: 0 0 2px #579022 inset;
  }
  .lcs_switch.lcs_on .lcs_cursor {
    left: 25px;
  }


  /* off */
  .lcs_switch.lcs_off {
    background: #124086;
    box-shadow: 0px 0px 2px #a4a4a4 inset;
  }
  .lcs_switch.lcs_off .lcs_cursor {
    left: 11px;
  }


  /* disabled */
  .lcs_switch.lcs_disabled {
    opacity: 0.65;
    filter: alpha(opacity=65);
    cursor: default;
  }
}
