$navbar-background: #0D3064;
$navbar-button-background: #124086;
$navbar-dropdown-background: #D3E3F9;
$navbar-hover-background: #A6C6F3;

.navbar {

  background-color: $navbar-background;

  h2 {
    color: white;
  }

  .navbar-brand {
    background-color: $navbar-button-background;

    i {
      color: white;
    }
  }

  .nav-item {
    background-color: $navbar-button-background;

    a {
      color: white;
    }
  }

  .dropdown-menu {
    background-color: $navbar-dropdown-background;

    a {
      color: $navbar-background;
    }

    a:hover {
      background-color: $navbar-hover-background;
    }

  }

  #crt-logo {
    max-height: 2rem;
    max-width: 2.5rem;
  }
}


