@import "../color_utils";

.footer-icon {
  font-size: 2rem;
}

.footer-icon-title {
  font-size: 1rem;
}

.footer-button {
  color: #585858;
  transition: color 200ms ease-in;

  &:hover {
    color: $navbar-button-background;
    cursor: pointer;
  }
}

.footer-button-selected {
  transition: color 200ms ease-in;
  color: $navbar-background;

  &:hover {
    color: $navbar-button-background;
    cursor: pointer;
  }
}

.footer-element {
  background-color: white;

  border-color: $input-box-border;
}

.footer-ellipsis {
  color: $navbar-background;
}
